@font-face {
  font-family: 'Frankfurter';
  src: url('https://s3-eu-west-1.amazonaws.com/sff-codedeploy/uploads/fonts/frankfuter/Frankfurter_Netto_Regular.eot');
  src: url('https://s3-eu-west-1.amazonaws.com/sff-codedeploy/uploads/fonts/frankfuter/Frankfurter_Netto_Regular.eot?#iefix') format('eot'),
    url('https://s3-eu-west-1.amazonaws.com/sff-codedeploy/uploads/fonts/frankfuter/Frankfurter_Netto_Regular.woff') format('woff'),
    url('https://s3-eu-west-1.amazonaws.com/sff-codedeploy/uploads/fonts/frankfuter/Frankfurter_Netto_Regular.ttf') format('truetype'),
    url('https://s3-eu-west-1.amazonaws.com/sff-codedeploy/uploads/fonts/frankfuter/Frankfurter_Netto_Regular.svg#frankfurterefmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Frankfurter-Light';
  src: url('https://s3-eu-west-1.amazonaws.com/sff-codedeploy/uploads/fonts/frankfuter/Frankfurter_Netto_Regular.eot');
  src: url('https://s3-eu-west-1.amazonaws.com/sff-codedeploy/uploads/fonts/frankfuter/Frankfurter_Netto_Regular.eot?#iefix') format('eot'),
  url('https://s3-eu-west-1.amazonaws.com/sff-codedeploy/uploads/fonts/frankfuter/Frankfurter_Netto_Regular.woff') format('woff'),
  url('https://s3-eu-west-1.amazonaws.com/sff-codedeploy/uploads/fonts/frankfuter/Frankfurter_Netto_Regular.ttf') format('truetype'),
  url('https://s3-eu-west-1.amazonaws.com/sff-codedeploy/uploads/fonts/frankfuter/Frankfurter_Netto_Regular.svg#frankfurterefmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Frankfurter-Bold';
  src: url('https://s3-eu-west-1.amazonaws.com/sff-codedeploy/uploads/fonts/frankfuter/Frankfurter_Netto_Regular.eot');
  src: url('https://s3-eu-west-1.amazonaws.com/sff-codedeploy/uploads/fonts/frankfuter/Frankfurter_Netto_Regular.eot?#iefix') format('eot'),
  url('https://s3-eu-west-1.amazonaws.com/sff-codedeploy/uploads/fonts/frankfuter/Frankfurter_Netto_Regular.woff') format('woff'),
  url('https://s3-eu-west-1.amazonaws.com/sff-codedeploy/uploads/fonts/frankfuter/Frankfurter_Netto_Regular.ttf') format('truetype'),
  url('https://s3-eu-west-1.amazonaws.com/sff-codedeploy/uploads/fonts/frankfuter/Frankfurter_Netto_Regular.svg#frankfurterefmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}