@font-face {
  font-family: 'NotoSansJapanese';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/font-families/notosansjapanese/NotoSansJP-Regular.woff2') format('woff2'),
  url('../fonts/font-families/notosansjapanese/NotoSansJP-Regular.woff') format('woff'),
  url('../fonts/font-families/notosansjapanese/NotoSansJP-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'NotoSansJapanese-Light';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/font-families/notosansjapanese/NotoSansJP-Light.woff2') format('woff2'),
  url('../fonts/font-families/notosansjapanese/NotoSansJP-Light.woff') format('woff'),
  url('../fonts/font-families/notosansjapanese/NotoSansJP-Light.otf') format('opentype');
}

@font-face {
  font-family: 'NotoSansJapanese-Bold';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/font-families/notosansjapanese/NotoSansJP-Bold.woff2') format('woff2'),
  url('../fonts/font-families/notosansjapanese/NotoSansJP-Bold.woff') format('woff'),
  url('../fonts/font-families/notosansjapanese/NotoSansJP-Bold.otf') format('opentype');
}
