<div role="tabpanel" class="tab-pane tab-pane__configure-language" id="configure-language">
    <header class="tab-header">
        <h2 class="tab__heading">
            <span class="tab__header-title">Languages</span>
            <p class="tab__header-excerpt">Edit General Settins Here.</p>
        </h2>
        <button class="btn btn-fill btn-right-centered">Save</button>
    </header>

    <div class="tab-body tab-body__configure-language">

        <div class="tab-body__row">
        </div>

    </div>
</div>
