<div role="tabpanel" class="tab-pane tab-pane__configure-callback active" id="configure-callback">
    <header class="tab-header">
        <h2 class="tab__heading">
            <span class="tab__header-title">Callbacks</span>
            <p class="tab__header-excerpt">Edit General Settins Here.</p>
        </h2>
        <button class="btn btn-fill btn-right-centered">Save</button>
    </header>

    <div class="tab-body tab-body__configure-callback">

        <div class="tab-body__row">
            <ul class="list-inline callback-options-list">
                <li>
                    <input id="conditional-callback" name="checkbox-group" type="checkbox">
                    <label for="conditional-callback"><span>Enable Conditional Callback</span></label>
                </li>
                <li>
                    <input id="traffic-split" name="checkbox-group" type="checkbox">
                    <label for="traffic-split"><span>Enable Traffic Split</span></label>
                </li>
            </ul>

            <div class="row">
                <div class="callbacks-section col-xs-10">
                    <div class="callback-questions-list">
                        <ul class="list-unstyled">
                            <li>
                                <h4>Form Questions:</h4>
                            </li>
                            <li>
                                <select class="selectpicker condtional-callbacks-selectpicker">
                                    <option>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam commodi expedita facere fuga, iste magnam sapiente soluta voluptas voluptate voluptatum! Aliquid, architecto asperiores dolorum, ea eos et ipsam maiores obcaecati pariatur, quis quisquam repellat. Ab, aliquam amet doloremque, eligendi fugit, hic iste magni minus nemo neque nisi numquam obcaecati officia quas quasi quidem quod ratione unde! Aperiam dolor eos id iste! Assumenda illo incidunt iusto laboriosam placeat! Aperiam aspernatur, culpa distinctio error excepturi explicabo ipsa mollitia officiis omnis optio perferendis porro quasi, recusandae repellat saepe suscipit voluptatum? Accusamus assumenda autem, dolores ea, eos necessitatibus non reprehenderit saepe suscipit velit voluptate!</option>
                                    <option>Ketchup</option>
                                    <option>Relish</option>
                                    <option>Mustard</option>
                                </select>
                            </li>
                        </ul>
                    </div>
                    <div class="callback-answers-list">
                        <ul class="list-unstyled">
                            <li></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
