<div role="tabpanel" class="tab-pane tab-pane__configure-language" id="configure-language">
    <header class="tab-header">
        <h2 class="tab__heading">
            <span class="tab__header-title">Languages</span>
            <p class="tab__header-excerpt">Edit General Settins Here.</p>
        </h2>
        <button class="btn btn-fill btn-right-centered">Save</button>
    </header>

    <div class="tab-body tab-body__configure-language">

        <div class="tab-body__row languages-row row">

            <ul class="list-unstyled languages-list clearfix">
                <li class="col-sm-3">
                    <div class="language-pill">
                        <input id="language1" name="checkbox-group" type="checkbox" checked="checked" disabled>
                        <label for="language1"><span>English - en-UK</span></label>
                    </div>
                </li>
                <li class="col-sm-3">
                    <div class="language-pill">
                        <input id="language2" name="checkbox-group" type="checkbox">
                        <label for="language2"><span>Deutsch - de-DE</span></label>
                    </div>
                </li>
                <li class="col-sm-3">
                    <div class="language-pill">
                        <input id="language3" name="checkbox-group" type="checkbox">
                        <label for="language3"><span>汉语/漢語 - cn-CN</span></label>
                    </div>
                </li>
                <li class="col-sm-3">
                    <div class="language-pill">
                        <input id="language4" name="checkbox-group" type="checkbox">
                        <label for="language4"><span>Français - fr-FR</span></label>
                    </div>
                </li>
                <li class="col-sm-3">
                    <div class="language-pill">
                        <input id="language5" name="checkbox-group" type="checkbox">
                        <label for="language5"><span>Dutch - nl-NL</span></label>
                    </div>
                </li>
                <li class="col-sm-3">
                    <div class="language-pill">
                        <input id="language6" name="checkbox-group" type="checkbox">
                        <label for="language6"><span>Dutch - nl-NL</span></label>
                    </div>
                </li>
                <li class="col-sm-3">
                    <div class="language-pill">
                        <input id="language7" name="checkbox-group" type="checkbox">
                        <label for="language7"><span>Italiano - it-IT</span></label>
                    </div>
                </li>
                <li class="col-sm-3">
                    <div class="language-pill">
                        <input id="language8" name="checkbox-group" type="checkbox">
                        <label for="language8"><span>日本語 - jp-JP</span></label>
                    </div>
                </li>
                <li class="col-sm-3">
                    <div class="language-pill">
                        <input id="language9" name="checkbox-group" type="checkbox">
                        <label for="language9"><span>Italiano - it-IT</span></label>
                    </div>
                </li>
                <li class="col-sm-3">
                    <div class="language-pill">
                        <input id="language10" name="checkbox-group" type="checkbox">
                        <label for="language10"><span>Dutch - nl-NL</span></label>
                    </div>
                </li>
                <li class="col-sm-3">
                    <div class="language-pill">
                        <input id="language11" name="checkbox-group" type="checkbox">
                        <label for="language11"><span>日本語 - jp-JP</span></label>
                    </div>
                </li>
                <li class="col-sm-3">
                    <div class="language-pill">
                        <input id="language12" name="checkbox-group" type="checkbox">
                        <label for="language12"><span>English</span></label>
                    </div>
                </li>
                <li class="col-sm-3">
                    <div class="language-pill">
                        <input id="language13" name="checkbox-group" type="checkbox">
                        <label for="language13"><span>English</span></label>
                    </div>
                </li>
                <li class="col-sm-3">
                    <div class="language-pill">
                        <input id="language14" name="checkbox-group" type="checkbox">
                        <label for="language14"><span>English</span></label>
                    </div>
                </li>
                <li class="col-sm-3">
                    <div class="language-pill">
                        <input id="language15" name="checkbox-group" type="checkbox">
                        <label for="language15"><span>English</span></label>
                    </div>
                </li>
            </ul>

        </div>

    </div>
</div>
