<!--Ranking Scale Default-->
<article class="form__elem">
    <div class="elem__rating elem__ranking-scale__layout-default fixed__feedback__default">
        <h3 class="form__elem__title">Feedback Default Full Width</h3>
        <div class="form__elem__body">
            <div class="form__elem__help-text__multiple">
                <p class="form__elem__help-text form__elem__help-text__left">Help Text Left</p>
                <p class="form__elem__help-text form__elem__help-text__right">Help Text Right</p>
                <div class="clearfix"></div>
            </div>
            <div class="ranking__container">
                <ul class="ranking__list list-unstyled ranking__list__default elem__table rating-comp__icons-list rating-comp__selection-type__continuous hide__radio">


                    {% set numbers = [0,1,2,3,4,5,6,7,8,9,10]%}
                    {% for number in numbers %}
                    <li class="ranking__list__item elem__table__cell">
                        <div class="ranking__list__item__label">
                            <input type="radio" name="feedbackDefault-fullWidth">
                            <label>
                                <i class="ico ico-{{number}} icomoon-default"></i>
                                <i class="ico ico-{{number}}-selected icomoon-sudo"></i>
                            </label>

                            <div class="ranking__list__item__tooltip">
                                <div class="ranking__list__item__tooltip-body">
                                    <ul class="list-inline">
                                        {% if number == 0 or number == 1%}
                                        <li><i class="ico ico-star {{'tooltip__ico-selected'}}"></i></li>
                                        <li><i class="ico ico-star"></i></li>
                                        <li><i class="ico ico-star"></i></li>
                                        <li><i class="ico ico-star"></i></li>
                                        <li><i class="ico ico-star"></i></li>
                                        <li class="count__numeric"><span class="count__current">1</span>/<span class="count__total">5</span></li>
                                        {% elseif number == 2 or number == 3 or number == 4 %}
                                        <li><i class="ico ico-star {{'tooltip__ico-selected'}}"></i></li>
                                        <li><i class="ico ico-star {{'tooltip__ico-selected'}}"></i></li>
                                        <li><i class="ico ico-star"></i></li>
                                        <li><i class="ico ico-star"></i></li>
                                        <li><i class="ico ico-star"></i></li>
                                        <li class="count__numeric"><span class="count__current">2</span>/<span class="count__total">5</span></li>
                                        {% elseif number == 5 or number == 6 %}
                                        <li><i class="ico ico-star {{'tooltip__ico-selected'}}"></i></li>
                                        <li><i class="ico ico-star {{'tooltip__ico-selected'}}"></i></li>
                                        <li><i class="ico ico-star {{'tooltip__ico-selected'}}"></i></li>
                                        <li><i class="ico ico-star"></i></li>
                                        <li><i class="ico ico-star"></i></li>
                                        <li class="count__numeric"><span class="count__current">3</span>/<span class="count__total">5</span></li>
                                        {% elseif number == 7 or number == 8 %}
                                        <li><i class="ico ico-star {{'tooltip__ico-selected'}}"></i></li>
                                        <li><i class="ico ico-star {{'tooltip__ico-selected'}}"></i></li>
                                        <li><i class="ico ico-star {{'tooltip__ico-selected'}}"></i></li>
                                        <li><i class="ico ico-star {{'tooltip__ico-selected'}}"></i></li>
                                        <li><i class="ico ico-star"></i></li>
                                        <li class="count__numeric"><span class="count__current">4</span>/<span class="count__total">5</span></li>
                                        {% elseif number == 9 or number == 10 %}
                                        <li><i class="ico ico-star {{'tooltip__ico-selected'}}"></i></li>
                                        <li><i class="ico ico-star {{'tooltip__ico-selected'}}"></i></li>
                                        <li><i class="ico ico-star {{'tooltip__ico-selected'}}"></i></li>
                                        <li><i class="ico ico-star {{'tooltip__ico-selected'}}"></i></li>
                                        <li><i class="ico ico-star {{'tooltip__ico-selected'}}"></i></li>
                                        <li class="count__numeric"><span class="count__current">5</span>/<span class="count__total">5</span></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </li>
                    {% endfor %}
                </ul>

                <div class="feedback__count__message">
                    <p>
                        You will find this review online as a
                        <span><i class="ico ico-star feedback__count__message__icon-selected"></i></span>
                        <span><i class="ico ico-star feedback__count__message__icon-selected"></i></span>
                        <span><i class="ico ico-star feedback__count__message__icon-selected"></i></span>
                        <span><i class="ico ico-star"></i></span>
                        <span><i class="ico ico-star"></i></span>
                        <span class="count__current">3</span><span class="count__separator">/</span><span class="count__total">5</span>
                        rating.
                    </p>
                </div>
            </div>
            <div class="form__elem__disable-option">
                <div class="checkbox-col">
                    <div class="elem-type__checkbox">
                        <input type="checkbox" class="form-checkbox" name="disableOption"
                               id="disableRating">
                        <label for="disableRating">
                            <span>Can not answer</span>
                        </label>
                    </div>
                </div>
            </div>
            <p class="form__elem__error-text">This is error Message</p>
        </div>
    </div>
</article>
<!--Ranking Scale Default-->
