.feedback__grid__container {
  @extend %feedback-container-margin-bottom;
}
.feedback__grid__emo-list__table {
  display: table;
  width: 100%;
}
.feedback__grid__emo-list__table-row {
  display: table-row;
}
.feedback__grid__emo-list__item {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
  &.feedback__grid__emo-list__description {
    text-align: left;
    @extend %feedback-label-fontsize;
  }
  &.feedback__grid__emo-list__shape {
    @extend %shape-col-minwidth;
    @extend %shape-col-maxwidth;
  }
  &.feedback__grid__emo-list__tooltip {
    .feedback__grid__section-tooltip {
      max-width: none;
      min-width: unset;
      width: $feedback-emocol-minwidth;
      margin: 0 auto;
      word-break: break-all;
      word-wrap: break-word;
      text-align: center;
      padding: 0 3px;
      color: $default-subHeader-color;
      @extend %feedback-tooltip-fontsize;
    }
  }
  .icomoon-sudo {
    display: none;
  }
}
.feedback__grid__emo-list__table-row {
  .feedback__emo-list__item {
    border-bottom: 1px solid $default-border-color;
  }
}
.feedback__grid__emo-list__table-content-row {
  .feedback__emo-list__item {
    padding-top: 15px;
    padding-bottom: 15px;
    &:first-child {
      border-left: 1px solid $default-border-color;
    }
    &:last-child {
      border-right: 1px solid $default-border-color;
    }
  }
}
.feedback__grid__col-tooltip {
  @extend %feedback-tooltip-mobile-fontsize;
  padding-left: 2px;
  padding-right: 2px;
  word-break: break-all;
  word-wrap: break-word;
  color: $default-subHeader-color;
  @media (min-width: 768px) {
    display: none;
  }
}




.feedback__grid__selection-continuous {
  .feedback__grid__emo-list__item-hover,
  .feedback__grid__emo-list__item-selected {
    .icomoon-default {
      display: none;
    }
    .icomoon-sudo {
      display: inline-block;
    }
  }
}

.feedback__grid__selection-single {
  .feedback__grid__emo-list__item-hover-current,
  .feedback__grid__emo-list__item-selected-current {
    .icomoon-default {
      display: none;
    }
    .icomoon-sudo {
      display: inline-block;
    }
  }
}


@media (max-width: 767px) {
  .feedback__grid__emo-list__table-header-row {
    &.feedback__grid__emo-list__table-row {
      display: none;
    }
  }
  .feedback__grid__emo-list__table-content-row {
    .feedback__emo-list__item {
      border-bottom: 0 none;
      &:first-child {
        border-left: 0 none;
      }
      &:last-child {
        border-right: 0 none;
      }
    }
    .feedback__grid__emo-list__description {
      padding: 7px 10px;
    }
  }
  .feedback__grid__emo-list__table {
    display: block;
  }
  .feedback__grid__emo-list__table-row {
    display: block;
    margin-bottom: 15px;
    border: 1px solid $default-border-color;
  }
  .feedback__grid__emo-list__description {
    display: block;
    background: $default-background-light;
    p {
      margin-bottom: 0;
    }
  }

  .feedback__grid__emo-list__item {
    &.feedback__grid__emo-list__shape {
      min-width: unset;
      max-width: none;
      text-align: center;
      width: 1%;
    }
  }
}