.elem__feedback-default {
  .form__elem__help-text {
    margin-bottom: 5px;
    margin-top: 10px;
    word-break: break-all;
    word-wrap: break-word;
    @media (max-width: 767px) {
      margin-bottom: 15px;
      margin-top: 0;
      &.form__elem__help-text__left {
        padding-right: 5px;
      }
      &.form__elem__help-text__right {
        padding-left: 5px;
      }
    }
  }
}
.feedback__default__container {
  @extend %feedback-container-margin-bottom;
  border: 1px solid $default-border-color;
  padding: 8px 0;
  @media (max-width: 767px) {
    padding: 0;
    border: 0 none;
  }
}
.feedback__default__emo-list {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin-bottom: 0;

  .icomoon-sudo {
    display: none;
  }
}

.feedback__default-emo-list__item {
  display: table-cell;
  text-align: center;
  position: relative;
}

.feedback__default__selection-continuous {
  .feedback__default-emo-list__item-hover,
  .feedback__default-emo-list__item-selected {
    .icomoon-default {
      display: none;
    }
    .icomoon-sudo {
      display: inline-block;
    }
  }
}

.feedback__default__selection-single {
  .feedback__default-emo-list__item-hover-current,
  .feedback__default-emo-list__item-selected-current {
    .icomoon-default {
      display: none;
    }
    .icomoon-sudo {
      display: inline-block;
    }
  }
}



@media (min-width: 768px) {
  .feedback__default-emo-list__item-hover-current {
    .feedback__item-tooltip-container {
      display: block;
    }
  }
}



.elem__feedback-default__thumbnail-true {
  .form__elem__title {
    text-align: center;
    @media (max-width: 767px) {
      text-align: left;
    }
  }
}
