.bootstrap-select,
.bootstrap-select.open {
  > .btn,
  > .btn:hover,
  > .btn:focus,
  > .btn:active,
  > .btn.active {
    outline: none;
    background: transparent;
    box-shadow: none;
    border: 1px solid $default-border-color;
  }
}

.bootstrap-select {
  .dropdown-menu {
    padding-bottom: 0;
  }
}