.form__elem__option-rows {
  .elem-type__checkbox {
    margin-top: 20px;
  }
  .form__elem__options-row {
    &:first-child {
      .elem-type__checkbox {
        margin-top: 0;
      }
    }
  }
}

.elem-type__checkbox {
  position: relative;
}
.form-checkbox {
  display: none;
  + label {
    margin: 0;
    display: block;
    padding-left: 45px;
    padding-top: 0;
    word-wrap: break-word;
    min-height: $default-icon-font-size;
    span {
      cursor: pointer;
      vertical-align: middle;
      display: inline-block;
      &:before {
        content: '';
        position: absolute;
        border-radius: 0;
        left: 0;
        top: 0;
        border: 1px solid $default-border-color;
        width: 33px;
        height: 33px;
        background: none;
      }
    }
  }
  &:checked {
    + label {
      span {
        &:after {
          @extend %iconfont-icomoon;
          color: $default-theme;
          content: $icon-tick;
          font-size: 22px;
          position: absolute;
          left: 5px;
          top: 5px;
        }
      }
    }
  }
}


@media (max-width: 767px) {
  .form__elem__options-row {
    > div {
      + div {
        margin-top: 25px;
        &.clearfix {
          margin: 0;
        }
      }
    }
  }
}