.rating-comp__row {
  margin-bottom: 15px;
}
.rating__container {
  .row {
    &:last-child {
      .rating-comp__row {
        margin-bottom: 0;
      }
    }
  }
}
.rating-comp__col-icons {
  text-align: right;
}
.rating-comp__col-icons__bordered {
  display: inline-block;
  border: 1px solid $default-border-color;
  padding: 0 10px;
}
.rating-comp__icons-list {
  margin: 0;
  input[type='radio'] {
    display: none;
  }
  li {
    padding: 0;
    position: relative;
  }
}
.rating-comp__label {
  padding-top: 10px;
  margin: 0;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  &.rating-comp__label__bold {
    font-size: $default-font-size + 2;
    color: $default-header-color;
    font-weight: 700;
  }
}
.rating-comp__value-count {
  @extend %default-font-bold;
  font-size: 32px;
  color: $default-subHeader-color;
  margin: 0;
  width: 50px;
}
.rating-comp__value-count,
.rating-comp__icons-list {
  display: inline-block;
  vertical-align: middle;
}
.rating-comp__separater {
  width: 100%;
  height: 1px;
  background: $default-border-color;
  margin-bottom: 15px;
}
.rating-comp__icon-single {
  color: $default-border-color;
  font-size: 37px;
  line-height: 1;
  cursor: pointer;
  .icomoon-sudo {
    display: none;
  }
}
.rating-comp__selection-type__continuous {
  .rating-comp__hover,
  .rating-comp__selected {
    .rating-comp__icon-single {
      color: $default-theme;
      .icomoon-sudo {
        display: inline-block;
      }
      .icomoon-default {
        display: none;
      }
    }
  }
}
.rating-comp__selection-type__single {
  .rating-comp__hover {
    color: inherit;
  }
  .rating-comp__selected {
    .rating-comp__icon-single {
      color: $default-theme;
      .icomoon-sudo {
        display: inline-block;
      }
      .icomoon-default {
        display: none;
      }
    }
  }
}
.rating-comp__selection-type__total {
  &,
  &.rating-comp__selection-type__single,
  &.rating-comp__selection-type__continuous {
    .rating-comp__selected {
      .rating-comp__icon-single {
        color : #fee923;
        .icomoon-sudo {
          display: inline-block;
        }
        .icomoon-default {
          display: none;
        }
      }
    }
  }
}


//Tooltip Styling
.rating-comp__tooltip {
  display: none;
  position: absolute;
  top: -15px;
  left: 100%;
  z-index: 3;
}
.rating-comp__tooltip-content {
  @extend %default-font-bold;
  font-size: 14px !important;
  white-space: nowrap;
  padding: 3px 15px 7px 15px;
  margin: 0;
  line-height: 1;
  background: $tooltip-bg;
  border: 1px solid $default-border-color;
  position: relative;
  z-index: 3;
  &:before,
  &:after{
    content: '';
    display: block;
    position: absolute;
    right: 100%;
    width: 0;
    height: 0;
    border-style: solid;
  }
  &:before {
    top: 8px;
    border-color: transparent $tooltip-arrow-outer transparent transparent;
    border-width: 6px 13px 6px 0;
  }
  &:after {
    top: 9px;
    border-color: transparent $tooltip-arrow-inner transparent transparent;
    border-width: 5px 12px 5px 0;
  }
}
.rating-comp__hover__current {
    .rating-comp__tooltip {
      display: block;
    }
}

@media (max-width: 767px) {
  .rating-comp__icons-count__large {
    .rating-comp__icon-single {
      font-size: 54px;
    }
  }
  .rating-comp__icons-count__small {
    .rating-comp__icon-single {
      font-size: 22px;
    }
  }
  .rating-comp__col-icons {
    text-align: left;
  }
  .rating-comp__value-count {
    display: none;
  }
  .rating-comp__separater {
    display: none;
    + .row {
      border-top: 1px solid $default-border-color;
      padding-top: 15px;
    }
  }
  .rating-comp__hover__current {
    .rating-comp__tooltip {
      display: none;
    }
  }
}