.form__elem__rating-thumbnail-right {
  .elem__rating-thumbnail-right__header {
    .form__elem__help-text {
      margin-bottom: 0;
    }
  }
}
.elem__rating-thumbnail-right__body {
  padding: 0;
  border: 0 none;
  .rating__thumbnail__col__content,
  .rating__icons__col__content {
    border: 1px solid $default-border-color;
  }
  .rating__thumbnail__col__content {
    width: 100%;
    overflow: hidden;
    .rating__thumbnail__container {
      vertical-align: middle;
      text-align: center;
      padding-left: 15px;
      padding-right: 15px;
    }
    .product-thumbnail {
      position: relative;
      margin: 0 auto;
      height: auto;
      width: auto;
      top: 50%;
      transform: translateY(-50%);
      max-height: 85%;
      max-width: 100%;
    }
  }
  .rating__icons__col__content {
    padding: 20px 15px;
    min-height: 210px;
    > .row {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .rating-comp__icon-single {
    font-size: 35px;
  }
}

@media (max-width: 767px) {
  .elem__rating-thumbnail-right__body {
    padding-top: 0;
    padding-bottom: 0;
    .rating__thumbnail__col,
    .rating__icons__col {
      padding-left: 0;
      padding-right: 0;
    }
    .rating__thumbnail__col__content,
    .rating__icons__col__content {
      border-top: 0 none;
      padding-top: 0;
    }
    .rating__thumbnail__col__content {
      .product-thumbnail {
        transform: none;
        max-height: none;
        max-width: 100%;
      }
    }
    .rating__thumbnail__container {
      height: auto !important;
      padding: 20px 0;
    }
    .rating__icons__col__content {
      border-bottom: 0 none;
    }
  }
}