.form__elem__option-rows {
  .elem-type__radio {
    margin-top: 20px;
  }
  .form__elem__options-row {
    &:first-child {
      .elem-type__radio {
        margin-top: 0;
      }
    }
  }
}


//radio
.elem-type__radio {
  position: relative;
  .form-radio {
    + label {
      margin: 0;
      display: block;
      word-wrap: break-word;
      padding-left: 45px;
      padding-top: 0;
      min-height: $default-icon-font-size;
      .elem-type__radio__label {
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
      }
    }
  }
}
.form-radio {
  display: none;
  + label {
    &:before {
      cursor: pointer;
      position: absolute;
      left: 0;
      top: 0;
      @extend %iconfont-icomoon;
      color: $default-border-color;
      content: $circle-empty;
      font-size: $default-icon-font-size;
    }
  }
  &:checked {
    + label {
      &:before {
        color: $default-theme;
        content: $circle-fill;
      }
    }
  }
}

