<!--Content Section-->
<section class="section-pr">
    <header>
        <h3 class="section-pr__title">Content</h3>
    </header>
    <div class="section-pr__body">


        <!--Inputs-->
        <div class="row">
            <div class="section__user-inputs">
                {% set userInput = ['Question', 'Help text', 'Error text'] %}
                {% for userInputItem in userInput %}
                <div class="col-sm-12 section__user-inputs__item">
                    <h4 class="section-pr__sub-title">{{userInputItem}}</h4>
                    <div class="form-group">
                        <input type="text" class="form-control form-control-pr">
                    </div>
                </div>
                {% endfor %}
                <div class="clearfix"></div>
            </div>
        </div>

        Setup
        <div class="row">
            <div class="col-sm-12">
                <h4 class="section-pr__sub-title">Setup</h4>
            </div>
            {% set setupClass = 'cs' %}
            {% set setupString = ['Show numerical rating', 'Show Caption for Total?', 'Required', 'Allow not to answer'] %}
            {% for setupStringItem in setupString %}
            <div class="col-sm-6">
                <div class="checkbox-custom {% if loop.last %}mb-0{% endif %}">
                    <input id="{{setupClass}}-checkbox{{loop.index}}" type="checkbox">
                    <label for="{{setupClass}}-checkbox{{loop.index}}"><span>{{setupStringItem}}</span></label>
                </div>
            </div>
            {% endfor %}
            <div class="clearfix"></div>
        </div>


    </div>
</section>