<!--Content Section-->
<section class="section-pr">
    <header>
        <h3 class="section-pr__title">Content</h3>
    </header>
    <div class="section-pr__body">

        <div class="row">
            <div class="section__user-inputs">
                <div class="col-sm-12 section__user-inputs__item">
                    <h4 class="section-pr__sub-title">Question</h4>
                    <div class="form-group">
                        <input type="text" class="form-control form-control-pr">
                    </div>
                </div>
                <div class="col-sm-12 section__user-inputs__item">
                    <h4 class="section-pr__sub-title">Help text</h4>
                    <div class="form-group">
                        <input type="text" class="form-control form-control-pr">
                    </div>
                </div>
                <div class="col-sm-12 section__user-inputs__item">
                    <h4 class="section-pr__sub-title">Error text</h4>
                    <div class="form-group">
                        <input type="text" class="form-control form-control-pr">
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="row">

            <div class="col-sm-12">
                <h4 class="section-pr__sub-title">Options</h4>
            </div>

            <div class="col-sm-12">
                <div class="section__well dd__section__well">
                    <div class="row">

                        <div class="dd__options-group">

                            <div class="col-sm-12">

                                {% set mcqOptions = [1,2]%}
                                {% for mcqOption in mcqOptions %}
                                <div class="col__layout-table layout__fixed new__option-item">
                                    <div class="cell__layout-table">
                                        <label class="cell__label">Option {{mcqOption}}</label>
                                        <input type="text" class="form-control form-control-pr">
                                    </div>
                                    <div class="cell__layout-table">
                                        <label class="cell__label">Sentiment value</label>
                                        <select class="form-control form-control-pr">
                                            <option>Positive</option>
                                            <option>Negative</option>
                                            <option>Neutral</option>
                                        </select>
                                    </div>
                                    <div class="cell__layout-table">
                                        <a href="#" class="cta__delete" title="Delete Option"><i class="fa fa-times-circle-o"></i></a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>

                            <div class="col-sm-12 panel__cta">
                                <a href="#"><i class="fa fa-plus-circle"></i> <span>Add new option</span></a>
                            </div>

                            <div class="clearfix"></div>

                        </div>

                        <div class="dd__options-group">
                            <hr class="section-diver">

                            <div class="col-sm-12">
                                <div class="header__option-group">
                                    <label class="cell__label">Group Title</label>
                                    <input type="text" class="form-control form-control-pr">
                                    <a href="#" class="cta__delete" title="Delete Group"><i class="fa fa-times-circle-o"></i></a>
                                </div>
                            </div>

                            <div class="col-sm-12">

                                {% set mcqOptions = [1,2]%}
                                {% for mcqOption in mcqOptions %}
                                <div class="col__layout-table layout__fixed new__option-item">
                                    <div class="cell__layout-table">
                                        <label class="cell__label">Option {{mcqOption}}</label>
                                        <input type="text" class="form-control form-control-pr">
                                    </div>
                                    <div class="cell__layout-table">
                                        <label class="cell__label">Sentiment value</label>
                                        <select class="form-control form-control-pr">
                                            <option>Positive</option>
                                            <option>Negative</option>
                                            <option>Neutral</option>
                                        </select>
                                    </div>
                                    <div class="cell__layout-table">
                                        <a href="#" class="cta__delete" title="Delete Option"><i class="fa fa-times-circle-o"></i></a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>

                            <div class="col-sm-12 panel__cta">
                                <a href="#"><i class="fa fa-plus-circle"></i> <span>Add new option</span></a>
                            </div>

                            <div class="clearfix"></div>

                        </div>

                    </div>
                </div>
            </div>

            <div class="col-sm-12 panel__cta">
                <a href="#"><i class="fa fa-plus-circle"></i> <span>Add new group</span></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="row">

            <div class="col-sm-12">
                <h4 class="section-pr__sub-title">Setup</h4>
            </div>

            <div class="col-sm-6">
                <div class="checkbox-custom">
                    <input id="dd-checkbox1" type="checkbox">
                    <label for="dd-checkbox1"><span>Show conditional question inside this field</span></label>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="checkbox-custom">
                    <input id="dd-checkbox2" type="checkbox">
                    <label for="dd-checkbox2"><span>Group-able options</span></label>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="checkbox-custom">
                    <input id="dd-checkbox3" type="checkbox">
                    <label for="dd-checkbox3"><span>Required</span></label>
                </div>
            </div>


            <div class="col-sm-6">
                <div class="checkbox-custom mb-0">
                    <input id="dd-checkbox4" type="checkbox">
                    <label for="dd-checkbox4"><span>Allow not to answer</span></label>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
</section>