<!--Content Section-->
<section class="section-pr">
    <header>
        <h3 class="section-pr__title">Content</h3>
    </header>
    <div class="section-pr__body">

        <!--Inputs-->
        <div class="row">
            <div class="section__user-inputs">
                <div class="col-sm-12 section__user-inputs__item">
                    <h4 class="section-pr__sub-title">Question</h4>
                    <div class="form-group">
                        <textarea class="elem__ckeditor ckeditor" id="elem__ckeditor-free-text"></textarea>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <!--Setup-->
        <div class="row mb-l1-0">
            <div class="col-sm-12">
                <h4 class="section-pr__sub-title">Setup</h4>
            </div>
            {% set setupClass = 'ft' %}
            {% set setupString = ['Show border'] %}
            {% for setupStringItem in setupString %}
            <div class="col-sm-6">
                <div class="checkbox-custom">
                    <input id="{{setupClass}}-checkbox{{loop.index}}" type="checkbox">
                    <label for="{{setupClass}}-checkbox{{loop.index}}"><span>{{setupStringItem}}</span></label>
                </div>
            </div>
            {% endfor %}
            <div class="clearfix"></div>
        </div>

    </div>
</section>