<!--Content Section-->
<section class="section-pr">
    <header>
        <h3 class="section-pr__title">Content</h3>
    </header>
    <div class="section-pr__body">

        <div class="row">
            <div class="section__user-inputs">
                <div class="col-sm-12 section__user-inputs__item">
                    <h4 class="section-pr__sub-title">Question</h4>
                    <div class="form-group">
                        <textarea class="elem__ckeditor ckeditor" id="elem__ckeditor-free-text"></textarea>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="row">

            <div class="col-sm-12">
                <h4 class="section-pr__sub-title">Setup</h4>
            </div>

            <div class="col-sm-6">
                <div class="checkbox-custom">
                    <input id="ft-checkbox1" type="checkbox">
                    <label for="ft-checkbox1"><span>Show border</span></label>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>

    </div>
</section>