<!--Content Section-->
<section class="section-pr">
    <header>
        <h3 class="section-pr__title">Content</h3>
    </header>
    <div class="section-pr__body">

        <div class="row">
            <div class="section__user-inputs">
                <div class="col-sm-12 section__user-inputs__item">
                    <h4 class="section-pr__sub-title">Question</h4>
                    <div class="form-group">
                        <input type="text" class="form-control form-control-pr">
                    </div>
                </div>
                <div class="col-sm-12 section__user-inputs__item">
                    <h4 class="section-pr__sub-title">Help text</h4>
                    <div class="form-group">
                        <input type="text" class="form-control form-control-pr">
                    </div>
                </div>
                <div class="col-sm-12 section__user-inputs__item">
                    <h4 class="section-pr__sub-title">I agree text</h4>
                    <div class="form-group">
                        <input type="text" class="form-control form-control-pr">
                    </div>
                </div>
                <div class="col-sm-12 section__user-inputs__item">
                    <h4 class="section-pr__sub-title">Error text</h4>
                    <div class="form-group">
                        <input type="text" class="form-control form-control-pr">
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="row">

            <div class="col-sm-12">
                <h4 class="section-pr__sub-title">Setup</h4>
            </div>

            <div class="col-sm-6">
                <div class="checkbox-custom">
                    <input id="lt-checkbox1" type="checkbox">
                    <label for="lt-checkbox1"><span>Required</span></label>
                </div>
            </div>


            <div class="col-sm-6">
                <div class="checkbox-custom mb-0">
                    <input id="lt-checkbox2" type="checkbox">
                    <label for="lt-checkbox2"><span>Allow not to answer</span></label>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
</section>