<!--Colors Section-->
<section class="section-pr">

    <header>
        <h3 class="section-pr__title">Ranking Scale</h3>
    </header>
    <div class="section-pr__body">
        <div class="row">
            <div class="col-sm-6 col__primary-color">
                <h4 class="section-pr__sub-title">
                    Primary Color
                </h4>
                <div class="form-group form-group__spectrum">
                    <div class="input-group">
                        <input type="text" value="#2da237" class="form-control-pr form-control colorpicker-component" />
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col__secondary-color">
                <h4 class="section-pr__sub-title">
                    Secondary Color
                </h4>
                <div class="form-group form-group__spectrum">
                    <div class="input-group">
                        <input type="text" value="#2da237" class="form-control-pr form-control colorpicker-component" />
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <!--Collapse panel-->
                <div class="panel panel-default panel__collapse-pr">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-panel-colors" aria-expanded="false" aria-controls="collapse-panel-colors">
                                Advanced Settings
                            </a>
                        </h4>
                    </div>
                    <div id="collapse-panel-colors" class="panel-collapse collapse panel__collapse-content-pr" role="tabpanel" aria-labelledby="collapse-panel-colors">
                        <div class="panel-body">

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="col__layout-table">
                                        <div class="picker">
                                            <div class="form-group form-group__spectrum mb-0">
                                                <div class="input-group">
                                                    <input type="text" value="#2da237" class="form-control-pr form-control colorpicker-component" />
                                                </div>
                                            </div>
                                        </div>
                                        <label class="pl-15">Background</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="col__layout-table">
                                        <div class="picker">
                                            <div class="form-group form-group__spectrum mb-0">
                                                <div class="input-group">
                                                    <input type="text" value="#2da237" class="form-control-pr form-control colorpicker-component" />
                                                </div>
                                            </div>
                                        </div>
                                        <label class="pl-15">Answer options</label>
                                    </div>
                                </div>
                                <div class="clearix"></div>
                            </div>

                            <hr class="section-diver">

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="col__layout-table">
                                        <div class="picker">
                                            <div class="form-group form-group__spectrum mb-0">
                                                <div class="input-group">
                                                    <input type="text" value="#2da237" class="form-control-pr form-control colorpicker-component" />
                                                </div>
                                            </div>
                                        </div>
                                        <label class="pl-15">Navigation buttons</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="col__layout-table">
                                        <div class="picker">
                                            <div class="form-group form-group__spectrum mb-0">
                                                <div class="input-group">
                                                    <input type="text" value="#2da237" class="form-control-pr form-control colorpicker-component" />
                                                </div>
                                            </div>
                                        </div>
                                        <label class="pl-15">Submit Button</label>
                                    </div>
                                </div>
                                <div class="clearix"></div>
                            </div>

                        </div>
                    </div>
                </div>
                <button class="btn collapse-toggler" type="button" data-toggle="collapse" data-target="#collapse-panel-colors" aria-expanded="false" aria-controls="collapse-panel-colors">
                    <i class="fa fa-angle-down"></i>
                </button>
            </div>
        </div>
    </div>
</section>