<!--Base section-->
<section class="section-pr">
    <header>
        <h3 class="section-pr__title">Header</h3>
    </header>
    <div class="section-pr__body">
        <h4 class="section-pr__sub-title">
            Sub Header
        </h4>
    </div>
</section>

<!--Collapse panel-->
<div class="panel panel-default panel__collapse-pr">
    <div class="panel-heading" role="tab">
        <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-panel" aria-expanded="false" aria-controls="collapse-panel">
                Collapsible Group Item #2
                <i class="fa fa-angle-down"></i>
            </a>
        </h4>
    </div>
    <div id="collapse-panel" class="panel-collapse collapse panel__collapse-content-pr" role="tabpanel" aria-labelledby="collapse-panel">
        <div class="panel-body">
            <p>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard.
            </p>

            <button class="btn collapse-toggler" type="button" data-toggle="collapse" data-target="#collapse-panel" aria-expanded="false" aria-controls="collapse-panel">
                <i class="fa fa-angle-down"></i>
            </button>
        </div>
    </div>
</div>

<!--Form Input-->
<div class="form-group">
    <input type="text" class="form-control-pr form-control" />
</div>

<!--Spectrum Color Picker-->
<div class="form-group form-group__spectrum">
    <div class="input-group">
        <input type="text" value="#2da237" class="form-control-pr form-control colorpicker-component" />
    </div>
</div>

<!--Select Option-->
<div class="article-item-selectpicker selectpicker__lg">
    <select class="form-control form-control-pr">
        <option>Font Family</option>
        <option>Mustard Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, sapiente!</option>
        <option>Ketchup</option>
        <option>Relish</option>
        <option>Mustard</option>
    </select>
</div>
<br />

<div class="article-item-selectpicker selectpicker__sm">
    <select class="form-control form-control-pr">
        <option>Font Size</option>
        <option>45px</option>
        <option>50px</option>
        <option>60px</option>
        <option>90px</option>
    </select>
</div>
<br />

<!--checkbox-->
<div class="checkbox-custom">
    <input id="checkbox1" name="checkbox-group" type="checkbox">
    <label for="checkbox1"><span>Checkbox</span></label>
</div>

<!--radio-->
<div class="radio-custom">
    <input id="radio1" name="radio-group" type="radio">
    <label for="radio1"><span>Radio Button</span></label>
</div>
<br />

<!--Icons Dropdown-->
<div class="article-item-selectpicker selectpicker__xsm selectpicker__icons">
    <select class="selectpicker">
        <option value="star" data-icon="ico-star"></option>
        <option value="heart" data-icon="ico-heart"></option>
        <option value="circle" data-icon="ico-circle"></option>
        <option value="thumb-up" data-icon="ico-thumb-up"></option>
        <option value="thumb-down" data-icon="ico-thumb-down"></option>
        <option value="square" data-icon="ico-square"></option>
        <option value="comment" data-icon="ico-comment"></option>
        <option value="question" data-icon="ico-question"></option>
        <option value="question-circle-o" data-icon="ico-question-circle-o"></option>
        <option value="circle-with-number" data-icon="ico-0"></option>
        <option value="square-with-number" data-icon="ico-square-0"></option>
        <option value="flame" data-icon="ico-flame"></option>
        <option value="smile" data-icon="ico-smile"></option>
        <option value="happy" data-icon="ico-happy"></option>
        <option value="sad" data-icon="ico-sad"></option>
        <option value="serious" data-icon="ico-serious"></option>
        <option value="down" data-icon="ico-down"></option>
        <option value="confused" data-icon="ico-confused"></option>
        <option value="crying" data-icon="ico-crying"></option>
        <option value="frustrated" data-icon="ico-frustrated"></option>
        <option value="angry" data-icon="ico-angry"></option>
        <option value="baffled" data-icon="ico-baffled"></option>
        <option value="grin" data-icon="ico-grin"></option>
    </select>
</div>
