<div role="tabpanel" class="tab-pane tab-pane__buttons" id="design-buttons">
    <header class="tab-header">
        <h2 class="tab__heading">
            <span class="tab__header-title">Form Buttons</span>
            <p class="tab__header-excerpt">Define all the buttons specifications here</p>
        </h2>
        <button class="btn btn-fill btn-right-centered">Save</button>
    </header>

    <div class="tab-body tab-body__buttons">

        <div class="elem-language-selector">
            <ul class="list-inline">
                <li><h4>Select Language to add Translation :</h4></li>
                <li>
                    <select class="selectpicker language-selectpicker">
                        <option>Mustard</option>
                        <option>Ketchup</option>
                        <option>Relish</option>
                        <option>Mustard</option>
                    </select>
                </li>
            </ul>
        </div>

        <div class="tab-body__row">

            <!-- article item -->
            <article class="article-item item-type__grid item-type__form-buttons">
                <header class="article-item-header">
                    <h4 class="article-item-title">Submit Button</h4>
                </header>
                <div class="article-item-body">
                    <ul class="button-details-list list-inline">
                        <li>
                            <div class="form-group">
                                <label class="form-group-label">Color</label>
                                <div class="input-group colorpicker-component">
                                    <span class="input-group-addon"><i></i></span>
                                    <input type="text" value="#00AABB" class="form-control" />
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <label class="form-group-label">Label</label>
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-input-small" placeholder="Button Text" />
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </article>

            <!-- article item -->
            <article class="article-item item-type__grid item-type__form-buttons">
                <header class="article-item-header">
                    <h4 class="article-item-title">Next Button</h4>
                </header>
                <div class="article-item-body">
                    <ul class="button-details-list list-inline">
                        <li>
                            <div class="form-group">
                                <label class="form-group-label">Color</label>
                                <div class="input-group colorpicker-component">
                                    <span class="input-group-addon"><i></i></span>
                                    <input type="text" value="#00AABB" class="form-control" />
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <label class="form-group-label">Label</label>
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-input-small" placeholder="Button Text" />
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </article>

            <!-- article item -->
            <article class="article-item item-type__grid item-type__form-buttons">
                <header class="article-item-header">
                    <h4 class="article-item-title">Previous Button</h4>
                </header>
                <div class="article-item-body">
                    <ul class="button-details-list list-inline">
                        <li>
                            <div class="form-group">
                                <label class="form-group-label">Color</label>
                                <div class="input-group colorpicker-component">
                                    <span class="input-group-addon"><i></i></span>
                                    <input type="text" value="#00AABB" class="form-control" />
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <label class="form-group-label">Label</label>
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-input-small" placeholder="Button Text" />
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </article>

        </div>

    </div>

    <!--<footer class="tab-footer">-->
    <!--<ul class="list-inline">-->
    <!--<li>-->
    <!--<button class="btn btn-fill">Save</button>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</footer>-->
</div>
