<div role="tabpanel" class="tab-pane tab-pane__colors" id="design-color">
    <header class="tab-header">
        <h2 class="tab__header-title">Color</h2>
        <p class="tab__header-excerpt">Define Font Colors For Types Here</p>
        <button class="btn btn-fill btn-right-centered">Save</button>
    </header>

    <div class="tab-body">

        <div class="row">
            <div class="col-xs-9">
                <div class="tab-body__row">

                    <!-- article item -->
                    <article class="article-item item-type__grid item-type__color">
                        <header class="article-item-header">
                            <h4 class="article-item-title">General Font Setting</h4>
                        </header>
                        <div class="article-item-body">
                            <ul class="colors-list list-inline">
                                <li>
                                    <div class="form-group">
                                        <label class="form-group-label">Form Background</label>
                                        <div class="input-group colorpicker-component">
                                            <span class="input-group-addon"><i></i></span>
                                            <input type="text" value="#00AABB" class="form-control" />
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group">
                                        <label class="form-group-label">Header Background</label>
                                        <div class="input-group colorpicker-component">
                                            <span class="input-group-addon"><i></i></span>
                                            <input type="text" value="#00AABB" class="form-control" />
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group">
                                        <label class="form-group-label">Email Box Border</label>
                                        <div class="input-group colorpicker-component">
                                            <span class="input-group-addon"><i></i></span>
                                            <input type="text" value="#00AABB" class="form-control" />
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group">
                                        <label class="form-group-label">Checkbox/Radio Selected</label>
                                        <div class="input-group colorpicker-component">
                                            <span class="input-group-addon"><i></i></span>
                                            <input type="text" value="#00AABB" class="form-control" />
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </article>

                    <!-- article item -->
                    <article class="article-item item-type__grid item-type__color">
                        <header class="article-item-header">
                            <h4 class="article-item-title">Form Content</h4>
                        </header>
                        <div class="article-item-body">
                            <ul class="colors-list list-inline">
                                <li>
                                    <div class="form-group">
                                        <label class="form-group-label">Question</label>
                                        <div class="input-group colorpicker-component">
                                            <span class="input-group-addon"><i></i></span>
                                            <input type="text" value="#00AABB" class="form-control" />
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group">
                                        <label class="form-group-label">Help Text</label>
                                        <div class="input-group colorpicker-component">
                                            <span class="input-group-addon"><i></i></span>
                                            <input type="text" value="#00AABB" class="form-control" />
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group">
                                        <label class="form-group-label">Placeholder</label>
                                        <div class="input-group colorpicker-component">
                                            <span class="input-group-addon"><i></i></span>
                                            <input type="text" value="#00AABB" class="form-control" />
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group">
                                        <label class="form-group-label">Error Text</label>
                                        <div class="input-group colorpicker-component">
                                            <span class="input-group-addon"><i></i></span>
                                            <input type="text" value="#00AABB" class="form-control" />
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </article>

                </div>
            </div>
        </div>

    </div>

    <!--<footer class="tab-footer">-->
    <!--<ul class="list-inline">-->
    <!--<li>-->
    <!--<button class="btn btn-fill">Save</button>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</footer>-->
</div>
