<div role="tabpanel" class="tab-pane tab-pane__general-settings" id="design-general-settings">
    <header class="tab-header">
        <h2 class="tab__heading">
            <span class="tab__header-title">General Settings</span>
            <p class="tab__header-excerpt">Define the Form name and other settings</p>
        </h2>
        <button class="btn btn-fill btn-right-centered">Save</button>
    </header>

    <div class="tab-body tab-body__general-settings">

        <div class="row">
            <div class="col-xs-7">

                <div class="tab-body__row">

                    <!-- article item -->
                    <article class="article-item item-type__grid">
                        <header class="article-item-header item-type__grid-row">
                            <h4 class="article-item-title">Write down the Form Name</h4>
                            <div class="article-item-selectpicker">
                                <select class="selectpicker">
                                    <option>Select Language</option>
                                    <option>Mustard</option>
                                    <option>Ketchup</option>
                                    <option>Relish</option>
                                    <option>Mustard</option>
                                </select>
                            </div>
                        </header>
                        <div class="article-item-body">
                            <div class="form-group">
                                <textarea class="form-control form-control-textarea-small" placeholder="Type your form name here ."></textarea>
                            </div>
                        </div>
                    </article>


                    <!-- article item -->
                    <article class="article-item item-type__grid">
                        <header class="article-item-header item-type__grid-row">
                            <h4 class="article-item-title">MRF Form</h4>
                            <div class="article-item-selectpicker">
                                <select class="selectpicker">
                                    <option>Select Language</option>
                                    <option>Mustard</option>
                                    <option>Ketchup</option>
                                    <option>Relish</option>
                                    <option>Mustard</option>
                                </select>
                            </div>
                        </header>
                        <div class="article-item-body">
                            <div class="form-group">
                                <textarea class="form-control form-control-textarea-small" placeholder="Type Marketing Research Form Name here."></textarea>
                            </div>
                        </div>
                    </article>


                    <!-- article item -->
                    <article class="article-item item-type__grid">
                        <header class="article-item-header item-type__grid-row">
                            <h4 class="article-item-title">Seller Form</h4>
                            <div class="article-item-selectpicker">
                                <select class="selectpicker">
                                    <option>Select Language</option>
                                    <option>Mustard</option>
                                    <option>Ketchup</option>
                                    <option>Relish</option>
                                    <option>Mustard</option>
                                </select>
                            </div>
                        </header>
                        <div class="article-item-body">
                            <div class="form-group">
                                <textarea class="form-control form-control-textarea-small" placeholder="Type Seller Form Name Here."></textarea>
                            </div>
                        </div>
                    </article>


                    <!-- article item -->
                    <article class="article-item item-type__grid">
                        <header class="article-item-header item-type__grid-row">
                            <h4 class="article-item-title">Product Form</h4>
                            <div class="article-item-selectpicker">
                                <select class="selectpicker">
                                    <option>Select Language</option>
                                    <option>Mustard</option>
                                    <option>Ketchup</option>
                                    <option>Relish</option>
                                    <option>Mustard</option>
                                </select>
                            </div>
                        </header>
                        <div class="article-item-body">
                            <div class="form-group">
                                <textarea class="form-control form-control-textarea-small" placeholder="Type Product Form Name Here."></textarea>
                            </div>
                        </div>
                    </article>


                </div>

            </div>
        </div>


    </div>

    <!--<footer class="tab-footer">-->
        <!--<ul class="list-inline">-->
            <!--<li>-->
                <!--<button class="btn btn-fill">Save</button>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</footer>-->
</div>
