<div role="tabpanel" class="tab-pane tab-pane__layout" id="design-layout">
    <header class="tab-header">
        <h2 class="tab__heading">
            <span class="tab__header-title">Layout Settings</span>
            <p class="tab__header-excerpt">Define the Form layout settings here.</p>
        </h2>
    </header>

    <div class="tab-body tab-body__layout">

        <div class="row">
            <div class="col-xs-7">

                <div class="tab-body__row">

                    <div class="tab-body__row-checkbox">

                        <input id="checkbox1" name="checkbox-group" type="checkbox">
                        <label for="checkbox1"><span>Enable Form Border</span></label>

                    </div>


                </div>

            </div>
        </div>


    </div>

</div>
