<div role="tabpanel" class="tab-pane tab-pane__image active" id="design-image">
    <!--<header class="tab-header">-->
        <!--<h2 class="tab__heading">-->
            <!--<span class="tab__header-title">Form Logo</span>-->
            <!--<p class="tab__header-excerpt">Upload Form Logo Here</p>-->
        <!--</h2>-->
        <!--<button class="btn btn-fill btn-right-centered">Save</button>-->
    <!--</header>-->
    <div class="tab-body">
        <div class="upload-logo">
            <div class="upload-logo-placeholder">
                <!--<span class="ico ico-times js-del-placeholder"></span>-->
                <img src="#" alt="" class="js-placeholder-img-tag">
            </div>
            <div class="upload-logo-cta">
                <button class="btn btn-fill js-upload-logo-cta-trigger">Browse</button>
                <input type="file" name="form-logo" class="js-upload-logo-file-input">
            </div>
            <div class="upload-logo-excerpt">
                <p>Select a logo Image to add into the system</p>
            </div>
        </div>
    </div>
</div>
