<div role="tabpanel" class="tab-pane active tab-pane__fonts" id="design-fonts">
    <header class="tab-header">
        <h2 class="tab__header-title">Fonts</h2>
        <p class="tab__header-excerpt">Define Fonts Type and sizes</p>
    </header>

    <div class="tab-body">

        <div class="tab-body__row">

            <!-- article item -->
            <article class="article-item item-type__grid item-type__font">
                <div class="item-type__grid-row">
                    <h4 class="article-item-title">General Font Setting</h4>
                    <div class="article-item-selectpicker">
                        <select class="selectpicker">
                            <option>Font Family</option>
                            <option>Mustard</option>
                            <option>Ketchup</option>
                            <option>Relish</option>
                            <option>Mustard</option>
                        </select>
                    </div>
                    <div class="article-item-selectpicker article-item-selectpicker__font-size">
                        <select class="selectpicker">
                            <option>Font Size</option>
                            <option>45px</option>
                            <option>50px</option>
                            <option>60px</option>
                            <option>90px</option>
                        </select>
                    </div>
                </div>
            </article>

            <!-- article item -->
            <article class="article-item item-type__grid item-type__font">
                <div class="item-type__grid-row">
                    <h4 class="article-item-title">Label Font</h4>
                    <div class="article-item-selectpicker">
                        <select class="selectpicker">
                            <option>Font Family</option>
                            <option>Mustard</option>
                            <option>Ketchup</option>
                            <option>Relish</option>
                            <option>Mustard</option>
                        </select>
                    </div>
                    <div class="article-item-selectpicker article-item-selectpicker__font-size">
                        <select class="selectpicker">
                            <option>Font Size</option>
                            <option>45px</option>
                            <option>50px</option>
                            <option>60px</option>
                            <option>90px</option>
                        </select>
                    </div>
                </div>
            </article>

            <!-- article item -->
            <article class="article-item item-type__grid item-type__font">
                <div class="item-type__grid-row">
                    <h4 class="article-item-title">Helptext Font</h4>
                    <div class="article-item-selectpicker">
                        <select class="selectpicker">
                            <option>Font Family</option>
                            <option>Mustard</option>
                            <option>Ketchup</option>
                            <option>Relish</option>
                            <option>Mustard</option>
                        </select>
                    </div>
                    <div class="article-item-selectpicker article-item-selectpicker__font-size">
                        <select class="selectpicker">
                            <option>Font Size</option>
                            <option>45px</option>
                            <option>50px</option>
                            <option>60px</option>
                            <option>90px</option>
                        </select>
                    </div>
                </div>
            </article>

            <!-- article item -->
            <article class="article-item item-type__grid item-type__font">
                <div class="item-type__grid-row">
                    <h4 class="article-item-title">Placeholder Font</h4>
                    <div class="article-item-selectpicker">
                        <select class="selectpicker">
                            <option>Font Family</option>
                            <option>Mustard</option>
                            <option>Ketchup</option>
                            <option>Relish</option>
                            <option>Mustard</option>
                        </select>
                    </div>
                    <div class="article-item-selectpicker article-item-selectpicker__font-size">
                        <select class="selectpicker">
                            <option>Font Size</option>
                            <option>45px</option>
                            <option>50px</option>
                            <option>60px</option>
                            <option>90px</option>
                        </select>
                    </div>
                </div>
            </article>

        </div>

    </div>

    <footer class="tab-footer">
        <ul class="list-inline">
            <li>
                <button class="btn btn-fill">Save</button>
            </li>
        </ul>
    </footer>
</div>
