<div role="tabpanel" class="tab-pane tab-pane__breadcrumb" id="design-breadcrumb">
    <header class="tab-header">
        <h2 class="tab__heading">
            <span class="tab__header-title">Breadcrumb</span>
            <span class="tab__header-excerpt">Define Breadcrumb Styling Here</span>
        </h2>
        <button class="btn btn-fill btn-right-centered">Save</button>
    </header>

    <div class="tab-body tab-body__breadcrumb">

        <div class="tab-body__row">

            <div class="tab-body__row-checkbox">

                <input id="checkbox2" name="checkbox-group" type="checkbox">
                <label for="checkbox2"><span>Enable Breadcrumb</span></label>

            </div>

            <!-- article item -->
            <article class="article-item item-type__font">
                <header class="article-item-header">
                    <h4 class="article-item-title">Font</h4>
                </header>
                <div class="item-type__-font-list">
                    <ul class="list-inline">
                        <li>
                            <div class="article-item-selectpicker selectpicker__font-family">
                                <select class="selectpicker">
                                    <option>Font Family</option>
                                    <option>Mustard</option>
                                    <option>Ketchup</option>
                                    <option>Relish</option>
                                    <option>Mustard</option>
                                </select>
                            </div>
                        </li>
                        <li>
                            <div class="article-item-selectpicker selectpicker__font-size">
                                <select class="selectpicker">
                                    <option>Font Size</option>
                                    <option>45px</option>
                                    <option>50px</option>
                                    <option>60px</option>
                                    <option>90px</option>
                                </select>
                            </div>
                        </li>
                    </ul>
                </div>
            </article>

            <!-- article item -->
            <article class="article-item item-type__grid item-type__color">
                <header class="article-item-header">
                    <h4 class="article-item-title">Color</h4>
                </header>
                <div class="article-item-body">
                    <ul class="colors-list list-inline">
                        <li>
                            <div class="form-group">
                                <label class="form-group-label">Selected Font</label>
                                <div class="input-group colorpicker-component">
                                    <span class="input-group-addon"><i></i></span>
                                    <input type="text" value="#00AABB" class="form-control" />
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <label class="form-group-label">Un-Selected Font</label>
                                <div class="input-group colorpicker-component">
                                    <span class="input-group-addon"><i></i></span>
                                    <input type="text" value="#00AABB" class="form-control" />
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <label class="form-group-label">Selected Bar</label>
                                <div class="input-group colorpicker-component">
                                    <span class="input-group-addon"><i></i></span>
                                    <input type="text" value="#00AABB" class="form-control" />
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </article>

        </div>

    </div>

    <!--<footer class="tab-footer">-->
    <!--<ul class="list-inline">-->
    <!--<li>-->
    <!--<button class="btn btn-fill">Save</button>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</footer>-->
</div>
