<!--Rating Start-->
{% set comptype = 'tl-rating'%}
<article class="form__elem">
    <div class="elem__rating elem__rating-thumbnail-left">
        <h3 class="form__elem__title">Rating</h3>
        <div class="form__elem__body">
            <p class="form__elem__help-text">Help Text goes here</p>
            <div class="rating__container">
                <div class="row">
                    <div class="col-sm-4 elem__rating__thumbnail-container">
                        <div class="elem__rating__left-thumbnail__container">
                            <img class="b-lazy elem__rating__left-thumbnail" src=images/loader.gif data-src="images/product.jpg" alt="..." />
                        </div>
                    </div>
                    <div class="col-sm-8 elem__rating__icons-container">
                        {% set ratingNumber = 'false' %}
                        {% set ratingComp = 'thumbnailLeft' %}
                        {% set comprow = 'row1'%}
                        {% include 'template/ranking-rating-old/rating-comp.html' %}
                        {% set comprow = 'row2'%}
                        {% include 'template/ranking-rating-old/rating-comp.html' %}
                        {% set comprow = 'row3'%}
                        {% include 'template/ranking-rating-old/rating-comp.html' %}
                        {% set comprow = 'row4'%}
                        {% include 'template/ranking-rating-old/rating-comp.html' %}
                        {% set comprow = 'row5'%}
                        {% include 'template/ranking-rating-old/rating-comp.html' %}
                        {% set comprow = 'row6'%}
                        {% include 'template/ranking-rating-old/rating-comp.html' %}
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="rating-comp__separater"></div>
                <div class="row">
                    <div class="col-sm-4 elem__rating__thumbnail-container empty"></div>
                    <div class="col-sm-8 elem__rating__icons-container">
                        {% set ratingType = 'total' %}
                        {% set ratingNumber = 'true' %}
                        {% set ratingComp = 'thumbnailLeft' %}
                        {% set comprow = 'row7'%}
                        {% include 'template/ranking-rating-old/rating-comp.html' %}
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <p class="form__elem__error-text">This is error Message</p>
        </div>
    </div>
</article>
<!--Rating End-->
