//Form Base
.sff-form__body {
  max-width: 960px;
  background: $white;
  margin: 0 auto;
  padding-top: 20px;
}

.sff-form__content-wrap {
  padding: 0 64px;
  @media (max-width: 991px) {
    padding: 0 15px;
  }
  @media (max-width: 767px) {
    padding: 0;
  }
}
.comp {
  margin-bottom: $default-component-margin;
}