@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}
.sff-form__content-wrap {
  padding: 0 64px;
  @media (max-width: 991px) {
    padding: 0 15px;
  }
  @media (max-width: 767px) {
    padding: 0;
  }
}
.form__elem {
  @extend .comp;
  padding: 30px;
  border: 1px solid $default-border-color;
  > p {
    margin: 0;
  }
  .form-control {
    box-shadow: none;
    border-radius: 0;
    border: 1px solid $default-border-color;
    &:focus {
      box-shadow: none;
    }
  }
  input[type='text'],
  input[type='password'],
  input[type='email'],
  textarea {
    font-family: $font-light;
    font-size: $default-font-size;
    color: $default-input-font-color;
    @include placeholder {
      font-family: $font-light;
      font-size: $default-font-size;
      color: $default-input-font-color;
    }
    &:focus {
      @include placeholder {
        color: rgba($white, 0);
      }
    }
  }
}
.sff-form__content-body {
  border: 1px solid $default-border-color;
  padding: 30px 15px;
  margin-bottom: 45px;
}
.sff-form__legend {
  border: 0 none;
}
.form__legend {
  margin-top: 0;
  margin-bottom: 25px;
}
.form__elem__no-border {
  border: 0 none;
  padding: 0;
}
.form__elem__title {
  margin-top: 0;
  margin-bottom: 10px;
}
.form__elem__help-text {
  margin-bottom: 25px;
}
.form__elem__error-text {
  font-size: 12px;
  font-weight: 700;
  color: red;
  margin-top: 12px;
  margin-bottom: 0;
}


//checkbox
.elem-type__checkbox,
.elem-type__radio {
  min-height: 33px;
  .form-checkbox,
  .form-radio {
    + label {
      font-weight: normal;
      margin: 0;
      display: block;
      padding-left: 45px;
      padding-top: 5px;
      word-wrap: break-word;
    }
  }
}
.elem-type__checkbox {
  position: relative;
}
.form-checkbox {
  display: none;
  + label {
    span {
      cursor: pointer;
      &:before {
        content: '';
        position: absolute;
        border-radius: 0;
        left: 0;
        top: 0;
        border: 1px solid $default-border-color;
        width: 33px;
        height: 33px;
        background: none;
      }
    }
  }
  &:checked {
    + label {
      span {
        &:after {
          @extend %iconfont-icomoon;
          color: $default-theme;
          content: $icon-tick;
          font-size: 22px;
          position: absolute;
          left: 5px;
          top: 5px;
        }
      }
    }
  }
}


//radio
.elem-type__radio {
  position: relative;
}
.form-radio {
  display: none;
  + label {
    span {
      cursor: pointer;
      &:before {
        content: '';
        position: absolute;
        border-radius: 50%;
        left: 0;
        top: 0;
        //top: 50%;
        //margin-top: -16px;
        border: 1px solid $default-border-color;
        width: 33px;
        height: 33px;
        background: none;
      }
    }
  }
  &:checked {
    + label {
      span {
        &:after {
          content: '';
          background: $default-theme;
          border-radius: 50%;
          position: absolute;
          width: 21px;
          height: 21px;
          left: 6px;
          top: 6px;
          //top: 50%;
          //margin-top: -10px;
        }
      }
    }
  }
}


.sff-form__footer {
  text-align: right;
  padding-bottom: 50px;
}
.sff-form__submit {
  box-shadow: none;
  text-shadow: none;
  border-radius: 0;
  border: 0 none;
  @extend %default-font-bold;
  width: 272px;
  height: 48px;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  color: $white;
  transition: all 0.3 ease;
  background: $default-theme;
  &:hover,
  &:focus {
    transition: all 0.3 ease;
    background: $default-theme;
    outline: none;
    box-shadow: none;
    text-shadow: none;
  }

}