@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?585rpk');
  src:  url('../fonts/icomoon.eot?585rpk#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?585rpk') format('truetype'),
    url('../fonts/icomoon.woff?585rpk') format('woff'),
    url('../fonts/icomoon.svg?585rpk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon-bold-0:before {
  content: "\e948";
}
.icon-bold-0-selected:before {
  content: "\e949";
}
.icon-bold-1:before {
  content: "\e94a";
}
.icon-bold-1-selected:before {
  content: "\e94b";
}
.icon-bold-2:before {
  content: "\e94c";
}
.icon-bold-2-selected:before {
  content: "\e94d";
}
.icon-bold-3:before {
  content: "\e94e";
}
.icon-bold-3-selected:before {
  content: "\e94f";
}
.icon-bold-4:before {
  content: "\e950";
}
.icon-bold-4-selected:before {
  content: "\e951";
}
.icon-bold-5:before {
  content: "\e952";
}
.icon-bold-5-selected:before {
  content: "\e953";
}
.icon-bold-6:before {
  content: "\e954";
}
.icon-bold-6-selected:before {
  content: "\e955";
}
.icon-bold-7:before {
  content: "\e956";
}
.icon-bold-7-selected:before {
  content: "\e957";
}
.icon-bold-8:before {
  content: "\e958";
}
.icon-bold-8-selected:before {
  content: "\e959";
}
.icon-bold-9:before {
  content: "\e95a";
}
.icon-bold-9-selected:before {
  content: "\e95b";
}
.icon-bold-10:before {
  content: "\e95c";
}
.icon-bold-10-selected:before {
  content: "\e95d";
}
.icon-bold-angry:before {
  content: "\e95e";
}
.icon-bold-angry-selected:before {
  content: "\e95f";
}
.icon-bold-baffled:before {
  content: "\e960";
}
.icon-bold-baffled-selected:before {
  content: "\e961";
}
.icon-bold-circle:before {
  content: "\e962";
}
.icon-bold-circle-selected:before {
  content: "\e963";
}
.icon-bold-comment:before {
  content: "\e964";
}
.icon-bold-comments:before {
  content: "\e965";
}
.icon-bold-comment-selected:before {
  content: "\e966";
}
.icon-bold-comments-selected:before {
  content: "\e967";
}
.icon-bold-confused:before {
  content: "\e968";
}
.icon-bold-confused-selected:before {
  content: "\e969";
}
.icon-bold-crying:before {
  content: "\e96a";
}
.icon-bold-crying-selected:before {
  content: "\e96b";
}
.icon-bold-down:before {
  content: "\e96c";
}
.icon-bold-down-selected:before {
  content: "\e96d";
}
.icon-bold-envelop:before {
  content: "\e96e";
}
.icon-bold-envelop-selected:before {
  content: "\e96f";
}
.icon-bold-exclamation:before {
  content: "\e970";
}
.icon-bold-flame:before {
  content: "\e971";
}
.icon-bold-flame-selected:before {
  content: "\e972";
}
.icon-bold-frustrated:before {
  content: "\e973";
}
.icon-bold-frustrated-selected:before {
  content: "\e974";
}
.icon-bold-grin:before {
  content: "\e975";
}
.icon-bold-grin-selected:before {
  content: "\e976";
}
.icon-bold-happy:before {
  content: "\e977";
}
.icon-bold-happy-selected:before {
  content: "\e978";
}
.icon-bold-heart:before {
  content: "\e979";
}
.icon-bold-heart-selected:before {
  content: "\e97a";
}
.icon-bold-question:before {
  content: "\e97b";
}
.icon-bold-question-circle-o:before {
  content: "\e97c";
}
.icon-bold-question-circle-o-selected:before {
  content: "\e97d";
}
.icon-bold-question-selected:before {
  content: "\e97e";
}
.icon-bold-sad:before {
  content: "\e97f";
}
.icon-bold-sad-selected:before {
  content: "\e980";
}
.icon-bold-serious:before {
  content: "\e981";
}
.icon-bold-serious-selected:before {
  content: "\e982";
}
.icon-bold-smile:before {
  content: "\e983";
}
.icon-bold-smile-selected:before {
  content: "\e984";
}
.icon-bold-square:before {
  content: "\e985";
}
.icon-bold-square-0:before {
  content: "\e986";
}
.icon-bold-square-0-selected:before {
  content: "\e987";
}
.icon-bold-square-1:before {
  content: "\e988";
}
.icon-bold-square-1-selected:before {
  content: "\e989";
}
.icon-bold-square-2:before {
  content: "\e98a";
}
.icon-bold-square-2-selected:before {
  content: "\e98b";
}
.icon-bold-square-3:before {
  content: "\e98c";
}
.icon-bold-square-3-selected:before {
  content: "\e98d";
}
.icon-bold-square-4:before {
  content: "\e98e";
}
.icon-bold-square-4-selected:before {
  content: "\e98f";
}
.icon-bold-square-5:before {
  content: "\e990";
}
.icon-bold-square-5-selected:before {
  content: "\e991";
}
.icon-bold-square-6:before {
  content: "\e992";
}
.icon-bold-square-6-selected:before {
  content: "\e993";
}
.icon-bold-square-7:before {
  content: "\e994";
}
.icon-bold-square-7-selected:before {
  content: "\e995";
}
.icon-bold-square-8:before {
  content: "\e996";
}
.icon-bold-square-8-selected:before {
  content: "\e997";
}
.icon-bold-square-9:before {
  content: "\e998";
}
.icon-bold-square-9-selected:before {
  content: "\e999";
}
.icon-bold-square-10:before {
  content: "\e99a";
}
.icon-bold-square-10-selected:before {
  content: "\e99b";
}
.icon-bold-square-selected:before {
  content: "\e99c";
}
.icon-bold-star:before {
  content: "\e99d";
}
.icon-bold-starburst:before {
  content: "\e99e";
}
.icon-bold-starburst-selected:before {
  content: "\e99f";
}
.icon-bold-star-selected:before {
  content: "\e9a0";
}
.icon-bold-target:before {
  content: "\e9a1";
}
.icon-bold-target-selected:before {
  content: "\e9a2";
}
.icon-bold-thumb-down:before {
  content: "\e9a3";
}
.icon-bold-thumb-down-selected:before {
  content: "\e9a4";
}
.icon-bold-thumb-up:before {
  content: "\e9a5";
}
.icon-bold-thumb-up-selected:before {
  content: "\e9a6";
}
.icon-flame:before {
  content: "\e9a7";
}
.icon-flame-selected:before {
  content: "\e9a8";
}
.icon-square-0:before {
  content: "\e9a9";
}
.icon-square-0-selected:before {
  content: "\e9aa";
}
.icon-square-1:before {
  content: "\e9ab";
}
.icon-square-1-selected:before {
  content: "\e9ac";
}
.icon-square-2:before {
  content: "\e9ad";
}
.icon-square-2-selected:before {
  content: "\e9ae";
}
.icon-square-3:before {
  content: "\e9af";
}
.icon-square-3-selected:before {
  content: "\e9b0";
}
.icon-square-4:before {
  content: "\e9b1";
}
.icon-square-4-selected:before {
  content: "\e9b2";
}
.icon-square-5:before {
  content: "\e9b3";
}
.icon-square-5-selected:before {
  content: "\e9b4";
}
.icon-square-6:before {
  content: "\e9b5";
}
.icon-square-6-selected:before {
  content: "\e9b6";
}
.icon-square-7:before {
  content: "\e9b7";
}
.icon-square-7-selected:before {
  content: "\e9b8";
}
.icon-square-8:before {
  content: "\e9b9";
}
.icon-square-8-selected:before {
  content: "\e9ba";
}
.icon-square-9:before {
  content: "\e9bb";
}
.icon-square-9-selected:before {
  content: "\e9bc";
}
.icon-square-10:before {
  content: "\e9bd";
}
.icon-square-10-selected:before {
  content: "\e9be";
}
.icon-angry:before {
  content: "\e900";
}
.icon-angry-selected:before {
  content: "\e901";
}
.icon-baffled:before {
  content: "\e902";
}
.icon-baffled-selected:before {
  content: "\e903";
}
.icon-circle:before {
  content: "\e904";
}
.icon-circle-selected:before {
  content: "\e905";
}
.icon-comment:before {
  content: "\e906";
}
.icon-comments:before {
  content: "\e907";
}
.icon-comment-selected:before {
  content: "\e908";
}
.icon-comments-selected:before {
  content: "\e909";
}
.icon-confused:before {
  content: "\e90a";
}
.icon-confused-selected:before {
  content: "\e90b";
}
.icon-crying:before {
  content: "\e90c";
}
.icon-crying-selected:before {
  content: "\e90d";
}
.icon-down:before {
  content: "\e90e";
}
.icon-down-selected:before {
  content: "\e90f";
}
.icon-eight:before {
  content: "\e910";
}
.icon-eight-selected:before {
  content: "\e911";
}
.icon-envelop:before {
  content: "\e912";
}
.icon-envelop-selected:before {
  content: "\e913";
}
.icon-exclamation:before {
  content: "\e914";
}
.icon-five:before {
  content: "\e915";
}
.icon-five-selected:before {
  content: "\e916";
}
.icon-four:before {
  content: "\e917";
}
.icon-four-selected:before {
  content: "\e918";
}
.icon-frustrated:before {
  content: "\e919";
}
.icon-frustrated-selected:before {
  content: "\e91a";
}
.icon-grin:before {
  content: "\e91b";
}
.icon-grin-selected:before {
  content: "\e91c";
}
.icon-happy:before {
  content: "\e91d";
}
.icon-happy-selected:before {
  content: "\e91e";
}
.icon-heart:before {
  content: "\e91f";
}
.icon-heart-selected:before {
  content: "\e920";
}
.icon-nine:before {
  content: "\e921";
}
.icon-nine-selected:before {
  content: "\e922";
}
.icon-one:before {
  content: "\e923";
}
.icon-one-selected:before {
  content: "\e924";
}
.icon-question:before {
  content: "\e925";
}
.icon-question-circle-o:before {
  content: "\e926";
}
.icon-question-circle-o-selected:before {
  content: "\e927";
}
.icon-question-selected:before {
  content: "\e928";
}
.icon-sad:before {
  content: "\e929";
}
.icon-sad-selected:before {
  content: "\e92a";
}
.icon-serious:before {
  content: "\e92b";
}
.icon-serious-selected:before {
  content: "\e92c";
}
.icon-seven:before {
  content: "\e92d";
}
.icon-seven-selected:before {
  content: "\e92e";
}
.icon-six:before {
  content: "\e92f";
}
.icon-six-selected:before {
  content: "\e930";
}
.icon-smile:before {
  content: "\e931";
}
.icon-smile-selected:before {
  content: "\e932";
}
.icon-square:before {
  content: "\e933";
}
.icon-square-selected:before {
  content: "\e934";
}
.icon-star:before {
  content: "\e935";
}
.icon-starburst:before {
  content: "\e936";
}
.icon-starburst-selected:before {
  content: "\e937";
}
.icon-star-selected:before {
  content: "\e938";
}
.icon-target:before {
  content: "\e939";
}
.icon-target-selected:before {
  content: "\e93a";
}
.icon-ten:before {
  content: "\e93b";
}
.icon-ten-selected:before {
  content: "\e93c";
}
.icon-three:before {
  content: "\e93d";
}
.icon-three-selected:before {
  content: "\e93e";
}
.icon-thumb-down:before {
  content: "\e93f";
}
.icon-thumb-down-selected:before {
  content: "\e940";
}
.icon-thumb-up:before {
  content: "\e941";
}
.icon-thumb-up-selected:before {
  content: "\e942";
}
.icon-tick:before {
  content: "\e943";
}
.icon-two:before {
  content: "\e944";
}
.icon-two-selected:before {
  content: "\e945";
}
.icon-zero:before {
  content: "\e946";
}
.icon-zero-selected:before {
  content: "\e947";
}
