.ico-circle1:before {
  content: "\e903";
}
.ico-circle2:before {
  content: "\e904";
}
.ico-exclamation:before {
  content: "\e900";
}
.ico-star:before {
  content: "\e901";
}
.ico-tick:before {
  content: "\e902";
}
.ico-flashed-face:before {
  content: "\e905";
}
.ico-flashed-face2:before {
  content: "\e906";
}
.ico-flashed-face3:before {
  content: "\e907";
}
.ico-flashed-face4:before {
  content: "\e908";
}
.ico-flashed-face-glasses:before {
  content: "\e909";
}
.ico-flashed-face-glasses2:before {
  content: "\e90a";
}
.ico-face-missing-moth:before {
  content: "\e90b";
}
.ico-face-missing-moth2:before {
  content: "\e90c";
}
.ico-neutral-face:before {
  content: "\e90d";
}
.ico-neutral-face2:before {
  content: "\e90e";
}
.ico-smiling-face:before {
  content: "\e90f";
}
.ico-smiling-face2:before {
  content: "\e910";
}
.ico-sad-face:before {
  content: "\e911";
}
.ico-sad-face2:before {
  content: "\e912";
}
.ico-face-open-mouth:before {
  content: "\e913";
}
.ico-face-open-mouth2:before {
  content: "\e914";
}
.ico-face-open-mouth3:before {
  content: "\e915";
}
.ico-face-open-mouth4:before {
  content: "\e916";
}
.ico-winking-face:before {
  content: "\e917";
}
.ico-winking-face2:before {
  content: "\e918";
}
.ico-laughing-face:before {
  content: "\e919";
}
.ico-laughing-face2:before {
  content: "\e91a";
}
.ico-laughing-face3:before {
  content: "\e91b";
}
.ico-laughing-face4:before {
  content: "\e91c";
}
.ico-smirking-face:before {
  content: "\e91d";
}
.ico-smirking-face2:before {
  content: "\e91e";
}
.ico-stubborn-face:before {
  content: "\e91f";
}
.ico-stubborn-face2:before {
  content: "\e920";
}
.ico-neutral-face3:before {
  content: "\e921";
}
.ico-neutral-face4:before {
  content: "\e922";
}
.ico-sad-face3:before {
  content: "\e923";
}
.ico-sad-face4:before {
  content: "\e924";
}
.ico-smiling-face3:before {
  content: "\e925";
}
.ico-smiling-face4:before {
  content: "\e926";
}
.ico-smiling-face-eyebrows:before {
  content: "\e927";
}
.ico-smiling-face-eyebrows2:before {
  content: "\e928";
}
.ico-grinning-face-eyebrows:before {
  content: "\e929";
}
.ico-grinning-face-eyebrows2:before {
  content: "\e92a";
}
.ico-sad-face-eyebrows:before {
  content: "\e92b";
}
.ico-sad-face-eyebrows2:before {
  content: "\e92c";
}
.ico-neutral-face-eyebrows:before {
  content: "\e92d";
}
.ico-neutral-face-eyebrows2:before {
  content: "\e92e";
}
.ico-angry-face:before {
  content: "\e92f";
}
.ico-angry-face2:before {
  content: "\e930";
}
.ico-worried-face:before {
  content: "\e931";
}
.ico-worried-face2:before {
  content: "\e932";
}
.ico-winking-face3:before {
  content: "\e933";
}
.ico-winking-face4:before {
  content: "\e934";
}
.ico-angry-face-eyebrows:before {
  content: "\e935";
}
.ico-angry-face-eyebrows2:before {
  content: "\e936";
}
.ico-grinning-face:before {
  content: "\e937";
}
.ico-grinning-face2:before {
  content: "\e938";
}
.ico-sad-face5:before {
  content: "\e939";
}
.ico-sad-face6:before {
  content: "\e93a";
}
.ico-grinning-face-eyebrows3:before {
  content: "\e93b";
}
.ico-grinning-face-eyebrows4:before {
  content: "\e93c";
}
.ico-fake-grinning-face-eyebrows:before {
  content: "\e93d";
}
.ico-fake-grinning-face-eyebrows2:before {
  content: "\e93e";
}
.ico-worried-face-eyebrows:before {
  content: "\e93f";
}
.ico-worried-face-eyebrows2:before {
  content: "\e940";
}
.ico-face-stuck-out-tongue:before {
  content: "\e941";
}
.ico-face-stuck-out-tongue2:before {
  content: "\e942";
}
.ico-face-stuck-out-tongue3:before {
  content: "\e943";
}
.ico-face-stuck-out-tongue4:before {
  content: "\e944";
}
.ico-kissing-face:before {
  content: "\e945";
}
.ico-kissing-face2:before {
  content: "\e946";
}
.ico-grinning-face-teeth:before {
  content: "\e947";
}
.ico-grinning-face-teeth2:before {
  content: "\e948";
}
.ico-angry-face-teeth:before {
  content: "\e949";
}
.ico-angry-face-teeth2:before {
  content: "\e94a";
}
.ico-worried-face-teeth:before {
  content: "\e94b";
}
.ico-worried-face-teeth2:before {
  content: "\e94c";
}
.ico-grinning-face-teeth3:before {
  content: "\e94d";
}
.ico-grinning-face-teeth4:before {
  content: "\e94e";
}
.ico-face-open-mouth-eyebrows:before {
  content: "\e94f";
}
.ico-face-open-mouth-eyebrows2:before {
  content: "\e950";
}
.ico-face-open-mouth-eyebrows3:before {
  content: "\e951";
}
.ico-face-open-mouth-eyebrows4:before {
  content: "\e952";
}
.ico-angry-face-open-mouth-eyebrows:before {
  content: "\e953";
}
.ico-angry-face-open-mouth-eyebrows2:before {
  content: "\e954";
}
.ico-unamused-face-tightly-closed-eyes:before {
  content: "\e955";
}
.ico-unamused-face-tightly-closed-eyes2:before {
  content: "\e956";
}
.ico-sad-face--tightly-closed-eyes:before {
  content: "\e957";
}
.ico-sad-face--tightly-closed-eyes2:before {
  content: "\e958";
}
.ico-kissing-face3:before {
  content: "\e959";
}
.ico-kissing-face4:before {
  content: "\e95a";
}
.ico-face-closed-meyes:before {
  content: "\e95b";
}
.ico-face-closed-meyes2:before {
  content: "\e95c";
}
.ico-amused-face:before {
  content: "\e95d";
}
.ico-amused-face2:before {
  content: "\e95e";
}
.ico-amused-face-closed-eyes:before {
  content: "\e95f";
}
.ico-amused-face-closed-eyes2:before {
  content: "\e960";
}
.ico-amused-face-closed-eyes3:before {
  content: "\e961";
}
.ico-amused-face-closed-eyes4:before {
  content: "\e962";
}
.ico-face-closed-eyes-open-mouth:before {
  content: "\e963";
}
.ico-face-closed-eyes-open-mouth2:before {
  content: "\e964";
}
.ico-face-closed-eyes-open-mouth3:before {
  content: "\e965";
}
.ico-face-closed-eyes-open-mouth4:before {
  content: "\e966";
}
.ico-face-closed-eyes-open-mouth5:before {
  content: "\e967";
}
.ico-face-closed-eyes-open-mouth6:before {
  content: "\e968";
}
.ico-laughing-face5:before {
  content: "\e969";
}
.ico-laughing-face6:before {
  content: "\e96a";
}
.ico-smiling-face5:before {
  content: "\e96b";
}
.ico-smiling-face6:before {
  content: "\e96c";
}
.ico-grinning-face3:before {
  content: "\e96d";
}
.ico-grinning-face4:before {
  content: "\e96e";
}
.ico-sad-face7:before {
  content: "\e96f";
}
.ico-sad-face8:before {
  content: "\e970";
}
.ico-sad-face9:before {
  content: "\e971";
}
.ico-sad-face10:before {
  content: "\e972";
}
.ico-sad-face-closed-eyes:before {
  content: "\e973";
}
.ico-sad-face-closed-eyes2:before {
  content: "\e974";
}
.ico-sad-face11:before {
  content: "\e975";
}
.ico-sad-face12:before {
  content: "\e976";
}
.ico-smiling-face7:before {
  content: "\e977";
}
.ico-smiling-face8:before {
  content: "\e978";
}
.ico-astonished-face:before {
  content: "\e979";
}
.ico-astonished-face2:before {
  content: "\e97a";
}
.ico-astonished-face3:before {
  content: "\e97b";
}
.ico-astonished-face4:before {
  content: "\e97c";
}
.ico-face-moustache:before {
  content: "\e97d";
}
.ico-face-moustache2:before {
  content: "\e97e";
}
.ico-face-moustache3:before {
  content: "\e97f";
}
.ico-face-moustache4:before {
  content: "\e980";
}
.ico-face-glasses:before {
  content: "\e981";
}
.ico-face-glasses2:before {
  content: "\e982";
}
.ico-face-sunglasses:before {
  content: "\e983";
}
.ico-face-sunglasses2:before {
  content: "\e984";
}
.ico-smirking-face-sunglasses:before {
  content: "\e985";
}
.ico-smirking-face-sunglasses2:before {
  content: "\e986";
}
.ico-happy:before {
  content: "\e9df";
}
.ico-happy2:before {
  content: "\e9e0";
}
.ico-smile:before {
  content: "\e9e1";
}
.ico-smile2:before {
  content: "\e9e2";
}
.ico-tongue:before {
  content: "\e9e3";
}
.ico-tongue2:before {
  content: "\e9e4";
}
.ico-sad:before {
  content: "\e9e5";
}
.ico-sad2:before {
  content: "\e9e6";
}
.ico-wink:before {
  content: "\e9e7";
}
.ico-wink2:before {
  content: "\e9e8";
}
.ico-grin:before {
  content: "\e9e9";
}
.ico-grin2:before {
  content: "\e9ea";
}
.ico-cool:before {
  content: "\e9eb";
}
.ico-cool2:before {
  content: "\e9ec";
}
.ico-angry:before {
  content: "\e9ed";
}
.ico-angry2:before {
  content: "\e9ee";
}
.ico-evil:before {
  content: "\e9ef";
}
.ico-evil2:before {
  content: "\e9f0";
}
.ico-shocked:before {
  content: "\e9f1";
}
.ico-shocked2:before {
  content: "\e9f2";
}
.ico-baffled:before {
  content: "\e9f3";
}
.ico-baffled2:before {
  content: "\e9f4";
}
.ico-confused:before {
  content: "\e9f5";
}
.ico-confused2:before {
  content: "\e9f6";
}
.ico-neutral:before {
  content: "\e9f7";
}
.ico-neutral2:before {
  content: "\e9f8";
}
.ico-hipster:before {
  content: "\e9f9";
}
.ico-hipster2:before {
  content: "\e9fa";
}
.ico-wondering:before {
  content: "\e9fb";
}
.ico-wondering2:before {
  content: "\e9fc";
}
.ico-sleepy:before {
  content: "\e9fd";
}
.ico-sleepy2:before {
  content: "\e9fe";
}
.ico-frustrated:before {
  content: "\e9ff";
}
.ico-frustrated2:before {
  content: "\ea00";
}
.ico-crying:before {
  content: "\ea01";
}
.ico-crying2:before {
  content: "\ea02";
}

