$flags-border: #dfdae0;

.languages__list {
  margin-bottom: 0;
  li {
    margin-bottom: 20px;
  }
  .selected {
    a {
      border: 1px solid $flags-border;
      padding: 0 2px;
    }
  }
  img {
    max-width: 24px;
  }
}