$flags-border: #dfdae0;

.languages__list {
  margin-bottom: 0;
  margin-left: 0;
  > li {
    margin-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
  }
  a {
    border: 1px solid transparent;
    padding: 2px;
    cursor: pointer;
    font-size: 12px;
    text-transform: capitalize;
    text-decoration: none;
    color: darken($flags-border, 10%);
    &.selected {
      //border: 1px solid $flags-border;
      border: 0 none;
      color: $black;
    }
    &:hover,
    &:focus,
    &:active {
      outline: none;
    }
  }
  img {
    max-width: 24px;
  }
}