<!--Rating Start-->
<article class="form__elem">
    <div class="elem__rating elem__rating-thumbnail-left fixed__feedback__continuous fixed__feedback__continuous__thumbnail fixed__feedback__continuous__thumbnail-left">
        <h3 class="form__elem__title">Feedback Continuous Thumbnail Left</h3>
        <p class="form__elem__help-text">Help Text Goes here</p>
        <div class="form__elem__body">
            <div class="rating__container">
                <div class="row">
                    <div class="col-sm-3 elem__rating__thumbnail-container">
                        <div class="elem__rating__left-thumbnail__container">
                            <img class="b-lazy elem__rating__left-thumbnail" src=images/loader.gif data-src="images/product.jpg" alt="..." />
                        </div>
                    </div>
                    <div class="col-sm-9 elem__rating__icons-container">
                        <div class="feedback__container feedback__continuous__container">
                            <div class="feedback__emo-list feedback__continuous__emo-list hide__radio">
                                {% set rownumbers = [
                        {count: 0, string: 'There are .', type: ''},
                        {count: 1, string: 'There are many variations .', type: ''},
                        {count: 2, string: 'Sed ut perspiciatis. ', type: ''},
                                {count: 3, string: '', type: 'total'}
                                ]%}
                                {% for rownumber in rownumbers %}
                                    {% if rownumber.type == 'total'%}
                                    {% set totalClass = 'total-row' %}
                                    {% else %}
                                    {% set totalClass = '' %}
                                    {% endif %}
                    <div class="feedback__continuous__emo-list__table-row {{totalClass}} feedback__continuous__selection-continuous">
                                    <div class="feedback__emo-list__item feedback__emo-list__description feedback__continuous__emo-list__item feedback__continuous__emo-list__description">
                                            {% if rownumber.type == 'total'%}
                                            <p class="feedback__continuous__emo-list__description-count feedback__emo-list__description-count">
                                                <span class="count__string">Total: </span><span class="count__submit">3</span>/<span class="count__total">5</span>
                                            </p>
                                            {% else %}
                                            <p>{{rownumber.string}}</p>
                                            {% endif %}
                                        </div>

                                                {% set numbers = [0,1,2,3,4,5,6,7,8,9,10]%}
                                                {% for number in numbers %}
                        <div class="feedback__emo-list__item feedback__emo-list__shape-item feedback__continuous__emo-list__item feedback__continuous__emo-list__shape-item">

                                                {% if number == 0 or number == 1 %}
                                                {% set oneStar = 'tooltip__ico-selected' %}
                                                {% set countStar = 1 %}

                                                {% elseif number == 2 or number == 3 or number == 4 %}
                                                {% set twoStar = oneStar %}
                                                {% set countStar = 2 %}

                                                {% elseif number == 5 or number == 6 %}
                                                {% set threeStar = oneStar %}
                                                {% set countStar = 3 %}

                                                {% elseif number == 7 or number == 8 %}
                                                {% set fourStar = oneStar %}
                                                {% set countStar = 4 %}

                                                {% elseif number == 9 or number == 10 %}
                                                {% set fiveStar = oneStar %}
                                                {% set countStar = 5 %}

                                                {% endif %}

                                                <div class="feedback__continuous__shapes-list__item">
                                                    <input type="radio" name="feedbackContinuous">
                                                    <label class="feedback__item-label">
                                    <i class="ico ico-happy icomoon-default"></i>
                                    <i class="ico ico-happy-selected icomoon-sudo"></i>
                                                    </label>
                                                    <div class="feedback__item-tooltip-container feedback__continuous__shapes-list__item-tooltip-container top">
                                                        <div class="feedback__item__tooltip-body">
                                                            <ul class="list-inline">
                                                                <li><i class="ico ico-star {{oneStar}}"></i></li>
                                                                <li><i class="ico ico-star {{twoStar}}"></i></li>
                                                                <li><i class="ico ico-star {{threeStar}}"></i></li>
                                                                <li><i class="ico ico-star {{fourStar}}"></i></li>
                                                                <li><i class="ico ico-star {{fiveStar}}"></i></li>
                                                                <li class="feedback__defautl-emo__tooltip-count">
                                                                    <span class="feedback__selected">{{countStar}}</span>/<span class="feedback__total">5</span></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                        </div>
                                                {% endfor %}

                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="feedback__count__message">
                            <p>
                                You will find this review online as a
                                <span><i class="ico ico-star feedback__count__message__icon-selected"></i></span>
                                <span><i class="ico ico-star feedback__count__message__icon-selected"></i></span>
                                <span><i class="ico ico-star feedback__count__message__icon-selected"></i></span>
                                <span><i class="ico ico-star"></i></span>
                                <span><i class="ico ico-star"></i></span>
                                <span class="count__current">3</span><span class="count__total">/5</span>
                                rating.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <p class="form__elem__error-text">This is error Message</p>
        </div>
    </div>
</article>
<!--Rating End-->
