<!--Yes No Start-->
<article class="form__elem from__elem-barometer">
    <div class="elem__barometer">
        <div class="form__elem__body">
            <div class="elem-type__barometer">
                <div class="barometer-content">
                    <h3 class="barometer__elem__title">Barometer</h3>
                    <p class="barometer__elem__helpt-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore maiores nulla numquam, placeat vitae voluptates.</p>
                </div>
                <div class="barometer-progress">
                    <h4 class="barometer__elem__title">Revolution</h4>
                    <div class="barometer-progressbar level__5">
                        <div class="progress">
                            <div class="progress-bar active" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                            <div class="progress-bar active" role="progressbar" style="width: 20%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                            <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                            <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                            <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <p class="barometer__message">
                        <span>Congrats!</span> You have completed the level.
                    </p>
                </div>
            </div>
        </div>
    </div>
</article>
<!--Yes No End-->
