<!--Constant Sum Start-->
<article class="form__elem">
    <div class="elem__constant-sum">
        <h3 class="form__elem__title">Constant Sum</h3>
        <div class="form__elem__body">
            <p class="form__elem__help-text">Help Text goes here</p>
            <div class="elem__constant-sum__wrapper">
                <div class="elem__costant-sum__container elem__constant-sum__table">
                    <div class="elem__constant-sum__row constant-sum__header-row">
                        <div class="elem__constant-sum__column constant-sum__description">
                        </div>
                        <div class="elem__constant-sum__column constant-sum__slider">
                        </div>
                        <div class="elem__constant-sum__column constant-sum__input">
                        </div>
                        <div class="elem__constant-sum__column constant-sum__state">
                            <p>Can not answer</p>
                        </div>
                    </div>

                    <!--Sigle constant sum Row Starts-->
                    <div class="elem__constant-sum__row">
                        <div class="elem__constant-sum__column constant-sum__description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea labore molestiae odio, officia sint ut.</p>
                        </div>
                        <div class="elem__constant-sum__column constant-sum__slider">
                            <input class="bootstrap-slider" type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0"/>
                        </div>
                        <div class="elem__constant-sum__column constant-sum__input">
                            <input type="text" class="form-control js-input" value=""/>
                        </div>
                        <div class="elem__constant-sum__column constant-sum__state">
                            <div class="form__elem__disable-option">
                                <div class="checkbox-col">
                                    <div class="elem-type__checkbox">
                                        <input type="checkbox" class="form-checkbox" name="disableOption"
                                               id="disableConstantSum">
                                        <label for="disableConstantSum">
                                            <span></span>
                                            <span class="disableOption-text">Can not Answer</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Sigle constant sum Row Ends-->

                    <!--Sigle constant sum Row Starts-->
                    <div class="elem__constant-sum__row">
                        <div class="elem__constant-sum__column constant-sum__description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea iusto neque ratione soluta voluptatum? Dolorem?</p>
                        </div>
                        <div class="elem__constant-sum__column constant-sum__slider">
                            <input class="bootstrap-slider" type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0"/>
                        </div>
                        <div class="elem__constant-sum__column constant-sum__input">
                            <input type="text" class="form-control js-input" value="" />
                        </div>
                        <div class="elem__constant-sum__column constant-sum__state">
                            <div class="form__elem__disable-option">
                                <div class="checkbox-col">
                                    <div class="elem-type__checkbox">
                                        <input type="checkbox" class="form-checkbox" name="disableOption"
                                               id="disableConstantSum1">
                                        <label for="disableConstantSum1">
                                            <span></span>
                                            <span class="disableOption-text">Can not Answer</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Sigle constant sum Row Ends-->
                </div>
            </div>
            <p class="form__elem__error-text">This is error Message</p>
        </div>
    </div>
</article>
<!--Constant Sum End-->
