<!--Datepicker Start-->
<article class="form__elem">
    <div class="elem__datepicker">
        <h3 class="form__elem__title">Datepicker</h3>
        <div class="form__elem__body">
            <p class="form__elem__help-text" >Datepicker help text</p>
            <div class="elem-type__datepicker">

                <div class="row datepicker__row">
                    {% set datepickerElements = [
                        {title: 'Start Date', id: 1},
                        {title: 'End Date', id: 2},
                        {title: 'Opening Date', id: 3}
                    ]%}
                    {% for datepickerElement in  datepickerElements%}
                    <div class="col-sm-6 datepicker__col">
                        <label>
                            <span>{{ datepickerElement.title }}</span>
                        </label>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="datepicker form-control" placeholder="yy/mm/dd">
                                <div class="input-group-addon datepicker-addon" style="cursor: pointer;">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if datepickerElement.id % 2 == 0 %}
                    <div class="clearfix"></div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="form__elem__disable-option">
                <div class="checkbox-col">
                    <div class="elem-type__checkbox">
                        <input type="checkbox" class="form-checkbox" name="notapplicable_datepicker"
                               id="notapplicable_datepicker">
                        <label for="notapplicable_datepicker">
                            <span>Can not answer</span>
                        </label>
                    </div>
                </div>
            </div>
            <p class="form__elem__error-text">Error text goes here</p>
        </div>
    </div>
</article>
<!--Datepicker End-->