<!--Feedback Continuous-->
<article class="form__elem">

    <div class="elem__feedback-grid elem__feedback-grid__thumbnail-false">
        <div class="elem__feedback__header elem__feedback__header__thumbnail-false">
            <div class="elem_feedback__header-content">
                <h3 class="form__elem__title">Feedback Continuous</h3>
                <p class="form__elem__help-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has root piece of classical Latin literature from 45 BC, making it over 2000 years</p>
            </div>
        </div>

        <div class="form__elem__body">

            <div class="feedback__container feedback__grid__container">
                <div class="feedback__emo-list feedback__grid__emo-list hide__radio">
                    <div class="feedback__grid__emo-list__table">

                        <div class="feedback__grid__emo-list__table-row feedback__grid__emo-list__table-header-row">
                            <div class="feedback__emo-list__item feedback__grid__emo-list__item feedback__grid__emo-list__description">
                            </div>

                            {% set headerNumbers = [0,1,2,3,4,5,6,7,8,9,10]%}
                            {% for headerNumber in headerNumbers %}
                            <div class="feedback__emo-list__item feedback__grid__emo-list__item feedback__grid__emo-list__tooltip">
                                <div class="feedback__grid__section-tooltip">
                                    <p>Tool tip_00</p>
                                </div>
                            </div>
                            {% endfor %}

                        </div>


                    {% set rownumbers = [
                        {count: 0, string: 'There are many variations of passages', type: ''},
                        {count: 1, string: 'There are many variations of passages desp Excepteur sint occaecat cupidatat non prois dent, sunt in culpa qui officia deserunt mol.', type: ''},
                        {count: 2, string: 'Sed ut perspiciatis unde omnis iste natus er ror sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore ', type: ''},
                        {count: 3, string: '', type: 'total'}
                    ]%}
                    {% for rownumber in rownumbers %}
                        <div class="feedback__grid__emo-list__table-row feedback__grid__emo-list__table-content-row">
                            <div class="feedback__emo-list__item feedback__emo-list__description feedback__grid__emo-list__item feedback__grid__emo-list__description">
                                {% if rownumber.type == 'total'%}
                                <p class="feedback__grid__emo-list__description-count feedback__emo-list__description-count">
                                    <span class="count__string">Total: </span><span class="count__submit">4</span>/<span class="count__total">5</span>
                                </p>
                                {% else %}
                                <p>{{rownumber.string}}</p>
                                {% endif %}
                            </div>

                            {% set numbers = [0,1,2,3,4,5,6,7,8,9,10]%}
                            {% for number in numbers %}

                            <div class="feedback__emo-list__item feedback__grid__emo-list__item feedback__grid__emo-list__shape">

                                <div class="feedback__grid__col-tooltip">
                                    {% if rownumber.count == 0 %}
                                    <p>Tool</p>
                                    {% elseif rownumber.count == 1 %}
                                    <p>Tool one</p>
                                    {% elseif rownumber.count == 2 %}
                                    <p>Tool one 1</p>
                                    {% else %}
                                    <p>long tooltip goes here</p>
                                    {% endif %}

                                </div>

                                <input type="radio" name="feedbackContinuous" id="feedbackGridLeft{{rownumber.count}}{{number}}">
                                <label for="feedbackGridLeft{{rownumber.count}}{{number}}" class="feedback__item-label">
                                    <i class="ico ico-happy icomoon-default"></i>
                                    <i class="ico ico-happy-selected icomoon-sudo"></i>
                                </label>

                            </div>
                            {% endfor %}

                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div class="feedback__count__message">
                <p>
                    You will find this review online as a
                    <span><i class="ico ico-star feedback__count__message__icon-selected"></i></span>
                    <span><i class="ico ico-star feedback__count__message__icon-selected"></i></span>
                    <span><i class="ico ico-star feedback__count__message__icon-selected"></i></span>
                    <span><i class="ico ico-star"></i></span>
                    <span><i class="ico ico-star"></i></span>
                    <span class="count__current">3</span><span class="count__total">/5</span>
                    rating.
                </p>
            </div>
            <p class="form__elem__error-text">This is error Message</p>
        </div>
    </div>
</article>
<!--Feedback Continuous-->