<!--Feedback Default-->
<article class="form__elem">
    <div class="elem__feedback-default elem__feedback-default__thumbnail-false">
        <h3 class="form__elem__title">Feedback Default without Thumbnail</h3>
        <div class="form__elem__body">
            <div class="form__elem__help-text__multiple">
                <p class="form__elem__help-text form__elem__help-text__left">Help Text Left</p>
                <p class="form__elem__help-text form__elem__help-text__right">Help Text Right</p>
                <div class="clearfix"></div>
            </div>
            <div class="feedback__container feedback__default__container">
                <div class="feedback__emo-list feedback__default__emo-list feedback__default__selection-continuous hide__radio">


                    {% set numbers = [0,1,2,3,4,5,6,7,8,9,10]%}
                    {% for number in numbers %}

                        {% if number == 0 or number == 1%}
                        {% set oneStar = 'tooltip__ico-selected' %}
                        {% set countStar = 1 %}

                        {% elseif number == 2 or number == 3 or number == 4 %}
                        {% set twoStar = oneStar %}
                        {% set countStar = 2 %}

                        {% elseif number == 5 or number == 6 %}
                        {% set threeStar = oneStar %}
                        {% set countStar = 3 %}

                        {% elseif number == 7 or number == 8 %}
                        {% set fourStar = oneStar %}
                        {% set countStar = 4 %}

                        {% elseif number == 9 or number == 10 %}
                        {% set fiveStar = oneStar %}
                        {% set countStar = 5 %}

                        {% endif %}

                    <div class="feedback__emo-list__item feedback__default-emo-list__item">
                        <div class="feedback__item-label-container">
                            <label for="feedbackDefault-item{{number}}" class="feedback__item-label">
                                <input type="radio" id="feedbackDefault-item{{number}}" name="feedbackDefault">
                                <i class="ico ico-{{number}} icomoon-default"></i>
                                <i class="ico ico-{{number}}-selected icomoon-sudo"></i>
                            </label>
                        </div>
                        <div class="feedback__item-tooltip-container feedback__default-emo__item-tooltip-container top">
                            <div class="feedback__default-emo__tooltip-body">
                                <ul class="list-inline">
                                    <li><i class="ico ico-star {{oneStar}}"></i></li>
                                    <li><i class="ico ico-star {{twoStar}}"></i></li>
                                    <li><i class="ico ico-star {{threeStar}}"></i></li>
                                    <li><i class="ico ico-star {{fourStar}}"></i></li>
                                    <li><i class="ico ico-star {{fiveStar}}"></i></li>
                                    <li class="feedback__defautl-emo__tooltip-count">
                                        <span class="feedback__selected">{{countStar}}</span>/<span class="feedback__total">5</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
            <div class="feedback__count__message">
                <p>
                    You will find this review online as a
                    <span><i class="ico ico-star feedback__count__message__icon-selected"></i></span>
                    <span><i class="ico ico-star feedback__count__message__icon-selected"></i></span>
                    <span><i class="ico ico-star feedback__count__message__icon-selected"></i></span>
                    <span><i class="ico ico-star"></i></span>
                    <span><i class="ico ico-star"></i></span>
                    <span class="count__current">3</span><span class="count__total">/5</span>
                    rating.
                </p>
            </div>
            <p class="form__elem__error-text">This is error Message</p>
        </div>
    </div>
</article>
<!--Feedback Default-->
