<div class="form__elem form__elem__no-border">
    <div class="rating-comp__caption-form">
        <div class="caption-form__legend">

            <span class="caption-form__icon">
                <i class="ico ico-exclamation"></i>
            </span>

            <p class="caption-form__caption-top">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci aperiam aspernatur, assumenda consectetur consequuntur corporis culpa debitis deleniti dignissimos dolorem dolores eius
            </p>
        </div>
        <div class="caption-form__wrap">
            <div class="caption-form__form-group">
                {% set feedbackEmails = [1,2] %}
                {% for feedbackEmail in feedbackEmails %}
                <div class="row">
                    <div class="col-sm-3 popup__label-col">
                        <p class="caption-form__form-group__label">Feedback Email {{feedbackEmail}}</p>
                    </div>
                    <div class="col-sm-9 popup__input-col">
                        <input type="text" class="form-control caption-form__form-gorup__control" placeholder="Some Placeholder">
                    </div>
                    <div class="clearfix"></div>
                </div>
                {% endfor %}
            </div>
            <div class="col-sm-offset-3 col-sm-9 caption-form__error-text">
                <p class="form__elem__error-text">This is error Message</p>
            </div>
            <div class="clearfix"></div>
            <div class="caption-form__caption-bottom">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A asperiores autem beatae cupiditate distinctio dolore earum est fugit, itaque laborum nisi nulla, obcaecati odit optio quis repudiandae tempora temporibus ut.</p>
            </div>
        </div>
    </div>
</div>
