<!--Free text Start-->
{% if excludeBorder == 'true' %}
{% set freeTextWithoutBorder = 'form__elem__no-border' %}
{% else %}
{% set freeTextWithoutBorder = '' %}
{% endif %}

<article class="form__elem {{freeTextWithoutBorder}}">
    <div class="elem__free-text">
        <h3 class="form__elem__title">Free Test <sup>*</sup></h3>
        <div class="form__elem__body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet corporis
                deserunt earum excepturi, praesentium tempora voluptas? Accusantium consectetur debitis illo illum
                maiores nesciunt, reprehenderit. Aliquam dolor earum molestias numquam voluptatibus.</p>
            <div class="form__elem__disable-option">
                <div class="checkbox-col">
                    <div class="elem-type__checkbox">
                        <input type="checkbox" class="form-checkbox" name="disableOption"
                               id="disableFreetext">
                        <label for="disableFreetext">
                            <span>Can not answer</span>
                        </label>
                    </div>
                </div>
            </div>
            <p class="form__elem__error-text">This is error Message</p>
        </div>
    </div>
</article>
<!--Free text End-->
