<select name="icons" class="form-control bootstrap-select show-tick" data-live-search="true">
    <optgroup label="Shapes">
        <option value="1" data-icon="ico-star">Star</option>
        <option value="2" data-icon="ico-heart">Heart</option>
        <option value="3" data-icon="ico-circle">Circle</option>
        <option value="4" data-icon="ico-thumb-up">Thumbs Up</option>
        <option value="5" data-icon="ico-thumb-down">Thumbs Down</option>
        <option value="6" data-icon="ico-square">Square</option>
        <option value="9" data-icon="ico-comment">Comment</option>
        <option value="9" data-icon="ico-question">Question</option>
        <option value="9" data-icon="ico-question-circle">Question Circle</option>
    </optgroup>
    <optgroup label="Emoticons">
        <option value="12" data-icon="ico-angry">Angry</option>
        <option value="13" data-icon="ico-baffle">Baffle</option>
        <option value="14" data-icon="ico-confused">Confused</option>
        <option value="15" data-icon="ico-crying">Crying</option>
        <option value="16" data-icon="ico-down">Down</option>
        <option value="16" data-icon="ico-frustrated">Frustrated</option>
        <option value="16" data-icon="ico-grin">Grin</option>
        <option value="16" data-icon="ico-happy">Happy</option>
        <option value="16" data-icon="ico-sad">Sad</option>
        <option value="16" data-icon="ico-serious">Serious</option>
        <option value="16" data-icon="ico-smile">Smile</option>
    </optgroup>
</select>