<!--Legal text Start-->
<article class="form__elem">
    <div class="elem__legal-text">
        <h3 class="form__elem__title">Legal Text</h3>
        <div class="form__elem__body">
            <p class="form__elem__help-text">Help Text goes here</p>
            <div class="elem-type__checkbox">
                <input type="checkbox" class="form-checkbox" name="legal-text" id="legal-text">
                <label for="legal-text">
                    <span>Legal Text</span>
                </label>
            </div>
            <div class="form__elem__disable-option">
                <div class="checkbox-col">
                    <div class="elem-type__checkbox">
                        <input type="checkbox" class="form-checkbox" name="disableOption"
                               id="disableLegaltext">
                        <label for="disableLegaltext">
                            <span>Can not answer</span>
                        </label>
                    </div>
                </div>
            </div>
            <p class="form__elem__error-text">This is error Message</p>
        </div>
    </div>
</article>
<!--Legal text End-->
