<article class="form__elem elem__picture">
    <h3 class="form__elem__title">Add a picture</h3>
    <div class="form__elem__body">
        <p class="form__elem__help-text">Help Text goes here</p>
        <div class="elem-type__checkbox">
            <input type="checkbox" class="form-checkbox" name="checkbox" id="checkbox1">
            <label for="checkbox1">
                <span>Checkbox 1</span>
            </label>
        </div>
        <p class="form__elem__error-text">This is error Message</p>
    </div>
</article>