<article class="form__elem elem__long-text">
    <h3 class="form__elem__title">Long Text</h3>
    <div class="form__elem__body">

       {% if singleCol == 'true' %}
            <!--Add this for single Column layout-->
            <div class="elem__long-text__one-col">
                <div class="elem-type__textarea">
                    <textarea class="form-control form-textarea" placeholder="Some placeholder"></textarea>
                </div>
            </div>
            <p class="form__elem__error-text">This is error Message</p>
            <!--/ .Add this for single Column layout-->

       {% else %}
            <!--Add this for Multi Column layout-->
            <div class="elem__long-text__two-col">
                <div class="row">
                    <div class="col-sm-7 level-1">
                        <p class="form__elem__help-text">Help Text goes here</p>
                    </div>
                    <div class="col-sm-5 level-1">
                        <div class="elem-type__textarea">
                            <textarea class="form-control form-textarea" placeholder="Some placeholder"></textarea>
                        </div>
                        <p class="form__elem__error-text">This is error Message</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!--/ .Add this for Multi Column layout-->
       {% endif %}
    </div>
</article>
