<div class="form__elem form__elem__no-border">
    <div class="rating-comp__caption-form rating-comp__caption-form__error-page">

        <div class="caption-form__legend">

            <span class="caption-form__icon">
                <i class="ico ico-exclamation"></i>
            </span>

            <p class="caption-form__caption-top">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci aperiam aspernatur, assumenda consectetur consequuntur corporis culpa debitis deleniti dignissimos dolorem dolores eius
            </p>
        </div>
        <div class="caption-form__wrap">
            <div class="caption-form__error-icon">
                <i class="fa fa-wrench error-page__icon"></i>
            </div>
        </div>
    </div>
</div>
