<!--Pros and Cons Start-->
<article class="form__elem">
    <div class="elem__pros-cons">
        <h3 class="form__elem__title">Pros and cons</h3>
        <div class="form__elem__body">
            <p class="form__elem__help-text">Help Text goes here</p>
            <div class="row row__pros-cons">
                <div class="col-sm-6 pros">
                    <ul class="list-unstyled pros__list">
                        <li>
                            <input type="text" class="form-control">
                        </li>
                        <li>
                            <input type="text" class="form-control">
                            <span class="remove-li fa fa-remove"></span>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 cons">
                    <ul class="list-unstyled cons__list">
                        <li>
                            <input type="text" class="form-control">
                        </li>
                        <li>
                            <input type="text" class="form-control">
                            <span class="remove-li fa fa-remove"></span>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <p class="form__elem__error-text">This is error Message</p>
        </div>
    </div>
</article>
<!--Pros and Cons End-->
