<!--Ranking Scale Default-->
<article class="form__elem">
    <div class="elem__rating elem__ranking-scale__layout-default">
        <h3 class="form__elem__title">Ranking Scale Default</h3>
        <div class="form__elem__body">
            <div class="form__elem__help-text__multiple">
                <p class="form__elem__help-text form__elem__help-text__left">Help Text Left</p>
                <p class="form__elem__help-text form__elem__help-text__right">Help Text Right</p>
                <div class="clearfix"></div>
            </div>
            <div class="ranking__container">
                <ul class="ranking__list list-unstyled ranking__list__default elem__table rating-comp__icons-list rating-comp__selection-type__continuous">


                    <li class="ranking__list__item elem__table__cell">
                        <label class="ranking__list__item__label">
                            <i class="ico ico-1 icomoon-default"></i>
                            <i class="ico ico-1-selected icomoon-sudo"></i>
                        </label>
                        <div class="ranking__list__item__tooltip">
                            <div class="ranking__list__item__tooltip-body">
                                <ul class="list-inline">
                                    <li>Some text goes here</li>
                                    <li><i class="ico ico-star tooltip__ico-selected"></i></li>
                                    <li><i class="ico ico-star"></i></li>
                                    <li><i class="ico ico-star"></i></li>
                                    <li><i class="ico ico-star"></i></li>
                                    <li><i class="ico ico-star"></i></li>
                                    <li><span class="count__current">4</span><span class="count__total">/5</span></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    {% set numbers = [0,1,2,3,4,5,6,7,8,9]%}
                    {% for number in numbers %}
                    <li class="ranking__list__item elem__table__cell">
                        <label class="ranking__list__item__label">
                            <i class="ico ico-{{number}} icomoon-default"></i>
                            <i class="ico ico-{{number}}-selected icomoon-sudo"></i>
                        </label>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</article>
<!--Ranking Scale Default-->
