<!--Ranking Scale Default-->
<article class="form__elem">
    <div class="elem__rating elem__ranking-scale__layout-default">
        <h3 class="form__elem__title">Ranking Scale Default</h3>
        <div class="form__elem__body">
            <div class="form__elem__help-text__multiple">
                <p class="form__elem__help-text form__elem__help-text__left">Help Text Left</p>
                <p class="form__elem__help-text form__elem__help-text__right">Help Text Right</p>
                <div class="clearfix"></div>
            </div>
            <div class="ranking__container">
                <ul class="ranking__list list-unstyled ranking__list__default elem__table rating-comp__icons-list rating-comp__selection-type__continuous">

                    <li class="ranking__list__item elem__table__cell">
                        <label class="ranking__list__item__label">
                            <i class="ico ico-0 icomoon-default"></i>
                            <i class="ico ico-0-selected icomoon-sudo"></i>
                        </label>
                    </li>
                    <li class="ranking__list__item elem__table__cell">
                        <label class="ranking__list__item__label">
                            <i class="ico ico-1 icomoon-default"></i>
                            <i class="ico ico-1-selected icomoon-sudo"></i>
                        </label>
                    </li>
                    <li class="ranking__list__item elem__table__cell">
                        <label class="ranking__list__item__label">
                            <i class="ico ico-2 icomoon-default"></i>
                            <i class="ico ico-2-selected icomoon-sudo"></i>
                        </label>
                    </li>
                    <li class="ranking__list__item elem__table__cell">
                        <label class="ranking__list__item__label">
                            <i class="ico ico-3 icomoon-default"></i>
                            <i class="ico ico-3-selected icomoon-sudo"></i>
                        </label>
                    </li>
                    <li class="ranking__list__item elem__table__cell">
                        <label class="ranking__list__item__label">
                            <i class="ico ico-4 icomoon-default"></i>
                            <i class="ico ico-4-selected icomoon-sudo"></i>
                        </label>
                    </li>
                    <li class="ranking__list__item elem__table__cell">
                        <label class="ranking__list__item__label">
                            <i class="ico ico-5 icomoon-default"></i>
                            <i class="ico ico-5-selected icomoon-sudo"></i>
                        </label>
                    </li>
                    <li class="ranking__list__item elem__table__cell">
                        <label class="ranking__list__item__label">
                            <i class="ico ico-6 icomoon-default"></i>
                            <i class="ico ico-6-selected icomoon-sudo"></i>
                        </label>
                    </li>
                    <li class="ranking__list__item elem__table__cell">
                        <label class="ranking__list__item__label">
                            <i class="ico ico-7 icomoon-default"></i>
                            <i class="ico ico-7-selected icomoon-sudo"></i>
                        </label>
                    </li>
                    <li class="ranking__list__item elem__table__cell">
                        <label class="ranking__list__item__label">
                            <i class="ico ico-8 icomoon-default"></i>
                            <i class="ico ico-8-selected icomoon-sudo"></i>
                        </label>
                    </li>
                    <li class="ranking__list__item elem__table__cell">
                        <label class="ranking__list__item__label">
                            <i class="ico ico-9 icomoon-default"></i>
                            <i class="ico ico-9-selected icomoon-sudo"></i>
                        </label>
                    </li>
                    <li class="ranking__list__item elem__table__cell">
                        <label class="ranking__list__item__label">
                            <i class="ico ico-10 icomoon-default"></i>
                            <i class="ico ico-10-selected icomoon-sudo"></i>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</article>
<!--Ranking Scale Default-->
