<!--Ranking Scale as Rating Start-->
<article class="form__elem">
    <div class="elem__rating elem__ranking-scale__layout-continuous">
        <h3 class="form__elem__title">Ranking Scale as Rating</h3>
        <div class="form__elem__body">
            <p class="form__elem__help-text">Help Text goes here</p>
            <div class="rating__container rating__continuous__container">
                {% set ratingComp = 'ranking' %}
                {% include 'template/components/rating-comp.html' %}
                {% include 'template/components/rating-comp.html' %}
                <div class="rating-comp__separater"></div>
                {% set ratingType = 'total' %}
                {% include 'template/components/rating-comp.html' %}
            </div>
        </div>
    </div>
</article>
<!--Ranking Scale as Rating End-->
