<div class="sff-form__content-wrap">

    <div class="elem__thank-you">
        <div class="form__elem__body">
            <div class="thank-you__content">
                Any text content goes here
            </div>
            <div class="hidden-xs">
                <img src="images/banner.jpg" alt="Any banner for Desktop and Tablet view">
            </div>
            <div class="visible-xs">
                <img src="images/banner.jpg" alt="Any banner for just mobile view goes here">
            </div>
        </div>
    </div>

</div>