<div class="sff-form__content-wrap">

    <div class="elem__thank-you">
        <div class="form__elem__body">
            <div class="thank-you__content">
                Any text content goes here
            </div>
            <div class="hidden-xs">
                <img class="b-lazy" src="images/loader.gif" data-src="images/banner.jpg"  alt="...">
            </div>
            <div class="visible-xs">
                <img class="b-lazy" src="images/loader.gif" data-src="images/banner.jpg" alt="...">
            </div>
        </div>
    </div>

</div>