<!--Yes No Start-->
<article class="form__elem">
    <div class="elem__yes-no">
        <h3 class="form__elem__title">Yes No <sup>*</sup></h3>
        <div class="form__elem__body">
            <p class="form__elem__help-text">Help Text goes here</p>
            <div class="row form__elem__options-row">
                <div class="col-sm-12">

                    <p class="btn-switch">
                        <input type="radio" id="yes" name="switch" class="btn-switch__radio btn-switch__radio_yes" />
                        <input type="radio" checked id="no" name="switch" class="btn-switch__radio btn-switch__radio_no"/>
                        <label for="yes" class="btn-switch__label btn-switch__label_yes"><span class="btn-switch__txt">Yes</span></label>								  <label for="no" class="btn-switch__label btn-switch__label_no"><span class="btn-switch__txt">No</span></label>
                    </p>

                </div>
            </div>
            <div class="form__elem__disable-option">
                <div class="checkbox-col">
                    <div class="elem-type__checkbox">
                        <input type="checkbox" class="form-checkbox" name="disableOption"
                               id="disableYesNo">
                        <label for="disableYesNo">
                            <span>Can not answer</span>
                        </label>
                    </div>
                </div>
            </div>
            <p class="form__elem__error-text">This is error Message</p>
        </div>
    </div>
</article>
<!--Yes No End-->
