<!--Rating Start-->

<article class="form__elem form__elem__rating-thumbnail-right fixed__feedback__continuous fixed__feedback__continuous__thumbnail-right">
    <div class="elem__rating elem__rating-thumbnail-right__header">
        <h3 class="form__elem__title">Feedback Continuous Thumbnail Right 5 Options <sup>*</sup></h3>
        <p class="form__elem__help-text">Help Text Goes here</p>
    </div>

    <div class="elem__rating-thumbnail-right__body">
        <div class="row">
            <div class="col-sm-5 col-sm-push-7 rating__thumbnail__col">
                <div class="rating__thumbnail__col__content">
                    <div class="rating__thumbnail__container">
                        <img class="b-lazy product-thumbnail" data-src="images/product.jpg" src="images/loader.gif" alt="...">
                    </div>
                </div>
            </div>
            <div class="col-sm-7 col-sm-pull-5 rating__icons__col rating__icons__col-sm">
                <div class="rating__icons__col__content shapes__lg">

                    {% if alignLeft == 'true' %}
                    {% set alignLeftClass = 'feedback__continuous__align-left' %}
                    {% else %}
                    {% set alignLeftClass = '' %}
                    {% endif %}

                    <div class="feedback__container feedback__continuous__container {{alignLeftClass}}">
                        <div class="feedback__emo-list feedback__continuous__emo-list hide__radio">

                            <div class="feedback__continuous__emo-list__table-row feedback__continuous__selection-continuous feedback__continuous__emo-list__header-row">
                                <div class="feedback__emo-list__item feedback__emo-list__description feedback__continuous__emo-list__item feedback__continuous__emo-list__description">
                                </div>

                                {% set numbers = [0,1,2,3,4]%}
                                {% for number in numbers %}
                                <div class="feedback__emo-list__item feedback__emo-list__shape-item feedback__continuous__emo-list__item feedback__continuous__emo-list__shape-item">
                                </div>
                                {% endfor %}

                                <div class="feedback__emo-list__item feedback__emo-list__shape-item feedback__continuous__emo-list__item feedback__continuous__emo-list__shape-item form__elem__disable-option  fixed__continuous-table__item">
                                    <p>Can not answer</p>
                                </div>

                            </div>

                            {% set rownumbers = [
                            {count: 0, string: 'There are .', type: ''},
                            {count: 1, string: 'There are many variations .', type: ''},
                            {count: 2, string: 'Sed ut perspiciatis. ', type: ''},
                            {count: 3, string: 'Sed ut perspiciatis. ', type: ''},
                            {count: 4, string: 'Sed ut perspiciatis. ', type: ''},
                            {count: 5, string: 'Sed ut perspiciatis. ', type: ''},
                            {count: 6, string: '', type: 'total'}
                            ]%}
                            {% for rownumber in rownumbers %}
                            {% if rownumber.type == 'total'%}
                            {% set totalClass = 'total-row' %}
                            {% else %}
                            {% set totalClass = '' %}
                            {% endif %}
                            <div class="feedback__continuous__emo-list__table-row {{totalClass}} feedback__continuous__selection-continuous">
                                <div class="feedback__emo-list__item feedback__emo-list__description feedback__continuous__emo-list__item feedback__continuous__emo-list__description">
                                    {% if rownumber.type == 'total'%}
                                    <p class="feedback__continuous__emo-list__description-count feedback__emo-list__description-count">
                                        <span class="count__string">Total: </span><span class="count__submit">3</span><span class="count__separator">/</span><span class="count__total">5</span>
                                    </p>
                                    {% else %}
                                    <p>{{rownumber.string}}</p>
                                    {% endif %}
                                </div>

                                {% set numbers = [0,1,2,3,4]%}
                                {% for number in numbers %}
                                <div class="feedback__emo-list__item feedback__emo-list__shape-item feedback__continuous__emo-list__item feedback__continuous__emo-list__shape-item">

                                    {% if number == 0 %}
                                    {% set oneStar = 'tooltip__ico-selected' %}
                                    {% set countStar = 1 %}

                                    {% elseif number == 1 %}
                                    {% set twoStar = oneStar %}
                                    {% set countStar = 2 %}

                                    {% elseif number == 2 %}
                                    {% set threeStar = oneStar %}
                                    {% set countStar = 3 %}

                                    {% elseif number == 3 %}
                                    {% set fourStar = oneStar %}
                                    {% set countStar = 4 %}

                                    {% elseif number == 4 %}
                                    {% set fiveStar = oneStar %}
                                    {% set countStar = 5 %}

                                    {% endif %}

                                    <div class="feedback__continuous__shapes-list__item">
                                        <input type="radio" name="feedbackContinuous">
                                        <label class="feedback__item-label">
                                            <i class="ico {{icon.continuous}} icomoon-default"></i>
                                            <i class="ico {{icon.continuous}}-selected icomoon-sudo"></i>
                                        </label>
                                        <div class="feedback__item-tooltip-container feedback__continuous__shapes-list__item-tooltip-container top">
                                            <div class="feedback__item__tooltip-body">
                                                <ul class="list-inline">
                                                    <li><i class="ico ico-star {{oneStar}}"></i></li>
                                                    <li><i class="ico ico-star {{twoStar}}"></i></li>
                                                    <li><i class="ico ico-star {{threeStar}}"></i></li>
                                                    <li><i class="ico ico-star {{fourStar}}"></i></li>
                                                    <li><i class="ico ico-star {{fiveStar}}"></i></li>
                                                    <li class="feedback__defautl-emo__tooltip-count">
                                                        <span class="feedback__selected">{{countStar}}</span>/<span class="feedback__total">5</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                                <div class="feedback__emo-list__item feedback__emo-list__shape-item feedback__continuous__emo-list__item feedback__continuous__emo-list__shape-item form__elem__disable-option  fixed__continuous-table__item">
                                    <div class="fixed__continuous-table__cell">
                                        <div class="checkbox-col">
                                            <div class="elem-type__checkbox">
                                                <input type="checkbox" class="form-checkbox" name="disableOption"
                                                       id="disableffc{{rownumber.count}}">
                                                <label for="disableffc{{rownumber.count}}">
                                                    <span></span>
                                                    <span class="disableOption-text">Can not Answer</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="feedback__count__message">
            <p>
                You will find this review online as a
                <span><i class="ico ico-star feedback__count__message__icon-selected"></i></span>
                <span><i class="ico ico-star feedback__count__message__icon-selected"></i></span>
                <span><i class="ico ico-star feedback__count__message__icon-selected"></i></span>
                <span><i class="ico ico-star"></i></span>
                <span><i class="ico ico-star"></i></span>
                <span class="count__current">3</span><span class="count__separator">/</span><span class="count__total">5</span>
                rating.
            </p>
        </div>

        <p class="form__elem__error-text">This is error Message</p>

    </div>
</article>
