<!--Rating Start-->

<article class="form__elem form__elem__rating-thumbnail-right fixed__feedback__grid__thumbnail-right">
    <div class="elem__rating elem__rating-thumbnail-right__header">
        <h3 class="form__elem__title">Feedback Grid Thumbnail Right</h3>
        <p class="form__elem__help-text">Help Text Goes here</p>
    </div>

    <div class="elem__rating-thumbnail-right__body">
        <div class="row">
            <div class="col-sm-3 col-sm-push-9 rating__thumbnail__col">
                <div class="rating__thumbnail__col__content">
                    <div class="rating__thumbnail__container">
                        <img class="b-lazy product-thumbnail" data-src="images/product.jpg" src=images/loader.gif alt="...">
                    </div>
                </div>
            </div>
            <div class="col-sm-9 col-sm-pull-3 rating__icons__col">
                <div class="rating__icons__col__content elem__rating__icons-container">
                    <div class="elem_fixed__grid__container fixed__grid-table hide-radio">
                        <div class="grid__header fixed__grid-table__row fixed__grid-tooltip__row">
                            <div class="fixed__grid-table__cell"></div>
                            {% set gridCols = [0,1,2,3,4,5,6,7,8,9,10]%}
                            {% for gridCol in gridCols %}
                            <div class="fixed__grid-table__cell fixed__grid-shape__col">
                                <p>Toolti {{gridCol + 1}}</p>
                            </div>
                            {% endfor %}
                        </div>

                        {% set gridRows = [0,1,2]%}
                        {% for gridRow in gridRows %}
                        <div class="grid__body fixed__grid-table__row fixed__grid-content__row fixed__grid__selection-single">
                            <div class="fixed__grid-table__cell fixed__grid-label-col">
                                <p>Lorem Ipsum Goes Here</p>
                            </div>
                            {% set gridColsbody = [0,1,2,3,4,5,6,7,8,9,10]%}
                            {% for gridColbody in gridColsbody %}
                            <div class="fixed__grid-table__cell fixed__grid-shape__col">
                                <input type="radio">
                                <label class="grid-shape-label">
                            <span class="grid-shape-span">
                                <i class="fixed__grid-shape icomoon-default ico ico-comments"></i>
                                <i class="fixed__grid-shape icomoon-sudo ico ico-comments-selected"></i>
                            </span>
                                    <span class="grid-text-span">Some text</span>
                                    <!--For icon add classes ico ico-ICON-NAME-->
                                    <!--<span class="grid-text-span ico ico-comments"></span>-->
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="ranking__message">
            <p>
                You will find this review online as a
                <span><i class="ico ico-star ranking__message__selected"></i></span>
                <span><i class="ico ico-star ranking__message__selected"></i></span>
                <span><i class="ico ico-star ranking__message__selected"></i></span>
                <span><i class="ico ico-star"></i></span>
                <span><i class="ico ico-star"></i></span>
                <span class="count__current">3</span><span class="count__total">/5</span>
                rating.
            </p>
        </div>

    </div>
</article>
