<div class="modal fade modal__form-builder modal-small modal__free-text" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="ico ico-times"></span></button>
                <h2 class="modal-title h1">
                    <span class="modal-title-icon"><i class="ico ico-text"></i></span>
                    <span class="modal-title-text">Free Text</span>
                </h2>
                <div class="modal-header__language-selector">
                    <ul class="list-inline">
                        <li>Select language to add translations</li>
                        <li>
                            <select class="selectpicker">
                                <option>Select Language</option>
                                <option>Mustard</option>
                                <option>Ketchup</option>
                                <option>Relish</option>
                                <option>Mustard</option>
                            </select>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-body modal-body-full">
                <div class="row">
                    <!-- Modal Column Single -->
                    <div class="modal-col-full">
                        <section class="modal-section">
                            <header class="modal-col-header">
                                <h2 class="modal-col-title">Content</h2>
                            </header>
                            <div class="modal-col-body">

                                <div class="article-item">
                                    <ul class="list-unstyled modal-checkbox-list">
                                        <li>
                                            <input id="show-free-text-border" name="checkbox-group" type="checkbox">
                                            <label for="show-free-text-border"><span>Show Border</span></label>
                                        </li>

                                    </ul>
                                </div>

                                <!-- article item -->
                                <article class="article-item">
                                    <header class="article-item-header">
                                        <h4 class="article-item-title">Enter Free Text Here</h4>
                                    </header>
                                    <div class="article-item-body">
                                        <div class="form-group">
                                            <textarea class="elem__ckeditor ckeditor" placeholder="Enter text" id="elem__ckeditor-free-text"></textarea>
                                        </div>
                                    </div>
                                </article>


                            </div>
                        </section>
                    </div>
                    <!-- Modal Column Single -->

                </div>
            </div>
            <div class="modal-footer">
                <div class="col-xs-12">
                    <button type="button" class="btn btn-fill">Save</button>
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->