<div class="modal fade modal__form-builder modal-small modal__date" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="ico ico-times"></span></button>
                <h2 class="modal-title h1">
                    <span class="modal-title-icon"><i class="ico ico-date"></i></span>
                    <span class="modal-title-text">Date</span>
                </h2>
                <div class="modal-header__language-selector">
                    <ul class="list-inline">
                        <li>Select language to add translations</li>
                        <li>
                            <select class="selectpicker">
                                <option>Select Language</option>
                                <option>Mustard</option>
                                <option>Ketchup</option>
                                <option>Relish</option>
                                <option>Mustard</option>
                            </select>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <!-- Modal Column Single -->
                    <div class="modal-col col-xs-6">
                        <section class="modal-section">
                            <header class="modal-col-header">
                                <h2 class="modal-col-title">Content</h2>
                            </header>
                            <div class="modal-col-body">

                                <!-- article item -->
                                <article class="article-item ">
                                    <header class="article-item-header">
                                        <h4 class="article-item-title">Question</h4>
                                    </header>
                                    <div class="article-item-body">
                                        <div class="form-group">
                                            <textarea class="form-control form-control-textarea" placeholder="Enter text"></textarea>
                                        </div>
                                    </div>
                                </article>

                                <!-- article item -->
                                <article class="article-item">
                                    <header class="article-item-header">
                                        <h4 class="article-item-title">Help Text</h4>
                                    </header>
                                    <div class="article-item-body">
                                        <div class="form-group">
                                            <textarea class="form-control form-control-textarea" placeholder="Enter text"></textarea>
                                        </div>
                                    </div>
                                </article>

                                <!-- article item -->
                                <article class="article-item ">
                                    <header class="article-item-header">
                                        <h4 class="article-item-title">Error Text</h4>
                                        <div class="article-item-toggle">
                                            <input id="toggle1" name="checkbox-group" type="checkbox">
                                            <label for="toggle1"><span></span></label>
                                        </div>
                                    </header>
                                    <div class="article-item-body">
                                        <div class="form-group">
                                            <textarea class="form-control form-control-textarea" placeholder="Enter text"></textarea>
                                        </div>
                                    </div>
                                </article>

                                <!-- article item -->
                                <article class="article-item ">
                                    <header class="article-item-header">
                                        <h4 class="article-item-title">Allow not to Answer</h4>
                                        <div class="article-item-toggle">
                                            <input id="toggle2" name="checkbox-group" type="checkbox">
                                            <label for="toggle2"><span></span></label>
                                        </div>
                                    </header>
                                    <div class="article-item-body">
                                        <div class="form-group">
                                            <textarea class="form-control form-control-textarea" placeholder="Enter text"></textarea>
                                        </div>
                                    </div>
                                </article>

                            </div>
                        </section>
                    </div>
                    <!-- Modal Column Single -->

                    <!-- Modal Column Single -->
                    <div class="modal-col col-xs-6">
                        <section class="modal-section">
                            <header class="modal-col-header">
                                <h2 class="modal-col-title">General</h2>
                            </header>
                            <div class="modal-col-body">

                                <!-- article item -->
                                <div class="article-item">
                                    <ul class="list-unstyled modal-checkbox-list">
                                        <li>
                                            <input id="show-option-labels" name="checkbox-group" type="checkbox">
                                            <label for="show-option-labels"><span>Show Option Labels</span></label>
                                        </li>

                                    </ul>
                                </div>

                                <!-- article item -->
                                <div class="article-item">
                                    <header class="article-item-header">
                                        <h2 class="article-item-title">Add Options</h2>
                                    </header>
                                    <div class="article-item-body">
                                        <ul class="list-unstyled article-item__options-list">
                                            <li>
                                                <i class="ico ico-times"></i>
                                                <p class="option-label">Option 1</p>
                                                <input type="text" class="form-control">
                                            </li>
                                            <li>
                                                <i class="ico ico-times"></i>
                                                <p class="option-label">Option 2</p>
                                                <input type="text" class="form-control">
                                            </li>
                                        </ul>
                                        <button class="btn btn-white btn-add-options">Add More</button>
                                    </div>
                                </div>

                            </div>
                        </section>
                    </div>
                    <!-- Modal Column Single -->

                </div>
            </div>
            <div class="modal-footer">
                <div class="col-xs-12">
                    <button type="button" class="btn btn-fill">Save</button>
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->