<!--Ranking Scale Frid-->
<article class="form__elem">
    <div class="elem__rating elem__ranking-scale__layout-grid">
        <h3 class="form__elem__title">Ranking Scale Grid</h3>
        <div class="form__elem__body">
            <p class="form__elem__help-text">Help Text</p>
            <div class="ranking__container">
                <div class="ranking__container__grid elem__table">




                    <ul class="ranking__list list-unstyled ranking__list__grid elem__table__row ranking__list__grid__tooltip-row">


                        <li class="ranking__list__item elem__table__cell">
                            <input type="radio" name="some__name" value="some__value">
                            <p class="ranking__list__item__label"></p>
                        </li>

                        <li class="ranking__list__item elem__table__cell">
                            <input type="radio" name="some__name" value="some__value">
                            <p class="ranking__list__item__label">Tooltip 1</p>
                        </li>

                        <li class="ranking__list__item elem__table__cell">
                            <input type="radio" name="some__name" value="some__value">
                            <p class="ranking__list__item__label">Tooltip 2</p>
                        </li>

                        <li class="ranking__list__item elem__table__cell">
                            <input type="radio" name="some__name" value="some__value">
                            <p class="ranking__list__item__label">Tooltip 3</p>
                        </li>

                        <li class="ranking__list__item elem__table__cell">
                            <input type="radio" name="some__name" value="some__value">
                            <p class="ranking__list__item__label">Tooltip 4</p>
                        </li>

                        <li class="ranking__list__item elem__table__cell">
                            <input type="radio" name="some__name" value="some__value">
                            <p class="ranking__list__item__label">Tooltip 5</p>
                        </li>

                    </ul>



                    <ul class="ranking__list list-unstyled ranking__list__grid elem__table__row rating-comp__icons-list rating-comp__selection-type__single">
                        <li class="ranking__list__item elem__table__cell ranking__list__item__label-cell">
                            <p class="ranking__list__item__label-content">Lorem Ipsum</p>
                        </li>


                        <li class="ranking__list__item elem__table__cell">
                            <input type="radio" name="some__name" value="some__value">
                            <i class="ranking__list__item__icon icomoon-default ico ico-serious"></i>
                            <i class="ranking__list__item__icon icomoon-sudo ico ico-serious-selected"></i>
                            <!--<label class="ranking__list__item__label">Item 0 sdfasfafds asfd asf afsdasdf a</label>-->
                            <label class="ranking__list__item__label">Item 0 sdfasfafds asfd asf afsdasdf a</label>
                        </li>

                        <li class="ranking__list__item elem__table__cell">
                            <input type="radio" name="some__name" value="some__value">
                            <i class="ranking__list__item__icon icomoon-default ico ico-serious"></i>
                            <i class="ranking__list__item__icon icomoon-sudo ico ico-serious-selected"></i>
                            <!--<label class="ranking__list__item__label">Item 1</label>-->
                            <label class="ranking__list__item__label">Item 1</label>
                        </li>

                        <li class="ranking__list__item elem__table__cell">
                            <input type="radio" name="some__name" value="some__value">
                            <i class="ranking__list__item__icon icomoon-default ico ico-serious"></i>
                            <i class="ranking__list__item__icon icomoon-sudo ico ico-serious-selected"></i>
                            <!--<label class="ranking__list__item__label">Item 2</label>-->
                            <label class="ranking__list__item__label">Item 2</label>
                        </li>

                        <li class="ranking__list__item elem__table__cell">
                            <input type="radio" name="some__name" value="some__value">
                            <i class="ranking__list__item__icon icomoon-default ico ico-serious"></i>
                            <i class="ranking__list__item__icon icomoon-sudo ico ico-serious-selected"></i>
                            <!--<label class="ranking__list__item__label">Item 3</label>-->
                            <label class="ranking__list__item__label">Item 3</label>
                        </li>

                        <li class="ranking__list__item elem__table__cell">
                            <input type="radio" name="some__name" value="some__value">
                            <i class="ranking__list__item__icon icomoon-default ico ico-serious"></i>
                            <i class="ranking__list__item__icon icomoon-sudo ico ico-serious-selected"></i>
                            <!--<label class="ranking__list__item__label">Item 4</label>-->
                            <label class="ranking__list__item__label">Item 4</label>
                        </li>

                    </ul>



                    <ul class="ranking__list list-unstyled ranking__list__grid elem__table__row rating-comp__icons-list rating-comp__selection-type__single">
                        <li class="ranking__list__item elem__table__cell ranking__list__item__label-cell">
                            <p class="ranking__list__item__label-content">Lorem Ipsum</p>
                        </li>


                        <li class="ranking__list__item elem__table__cell">
                            <input type="radio" name="some__name" value="some__value">
                            <i class="ranking__list__item__icon icomoon-default ico ico-serious"></i>
                            <i class="ranking__list__item__icon icomoon-sudo ico ico-serious-selected"></i>
                            <!--<label class="ranking__list__item__label">Item 0 sdfasfafds asfd asf afsdasdf a</label>-->
                            <label class="ranking__list__item__label">Item 0 sdfasfafds asfd asf afsdasdf a</label>
                        </li>

                        <li class="ranking__list__item elem__table__cell">
                            <input type="radio" name="some__name" value="some__value">
                            <i class="ranking__list__item__icon icomoon-default ico ico-serious"></i>
                            <i class="ranking__list__item__icon icomoon-sudo ico ico-serious-selected"></i>
                            <!--<label class="ranking__list__item__label">Item 1</label>-->
                            <label class="ranking__list__item__label">Item 1</label>
                        </li>

                        <li class="ranking__list__item elem__table__cell">
                            <input type="radio" name="some__name" value="some__value">
                            <i class="ranking__list__item__icon icomoon-default ico ico-serious"></i>
                            <i class="ranking__list__item__icon icomoon-sudo ico ico-serious-selected"></i>
                            <!--<label class="ranking__list__item__label">Item 2</label>-->
                            <label class="ranking__list__item__label">Item 2</label>
                        </li>

                        <li class="ranking__list__item elem__table__cell">
                            <input type="radio" name="some__name" value="some__value">
                            <i class="ranking__list__item__icon icomoon-default ico ico-serious"></i>
                            <i class="ranking__list__item__icon icomoon-sudo ico ico-serious-selected"></i>
                            <!--<label class="ranking__list__item__label">Item 3</label>-->
                            <label class="ranking__list__item__label">Item 3</label>
                        </li>

                        <li class="ranking__list__item elem__table__cell">
                            <input type="radio" name="some__name" value="some__value">
                            <i class="ranking__list__item__icon icomoon-default ico ico-serious"></i>
                            <i class="ranking__list__item__icon icomoon-sudo ico ico-serious-selected"></i>
                            <!--<label class="ranking__list__item__label">Item 4</label>-->
                            <label class="ranking__list__item__label">Item 4</label>
                        </li>

                    </ul>



                    <ul class="ranking__list list-unstyled ranking__list__grid elem__table__row rating-comp__icons-list rating-comp__selection-type__single">
                        <li class="ranking__list__item elem__table__cell ranking__list__item__label-cell">
                            <p class="ranking__list__item__label-content">Lorem Ipsum</p>
                        </li>


                        <li class="ranking__list__item elem__table__cell">
                            <input type="radio" name="some__name" value="some__value">
                            <i class="ranking__list__item__icon icomoon-default ico ico-serious"></i>
                            <i class="ranking__list__item__icon icomoon-sudo ico ico-serious-selected"></i>
                            <!--<label class="ranking__list__item__label">Item 0 sdfasfafds asfd asf afsdasdf a</label>-->
                            <label class="ranking__list__item__label">Item 0 sdfasfafds asfd asf afsdasdf a</label>
                        </li>

                        <li class="ranking__list__item elem__table__cell">
                            <input type="radio" name="some__name" value="some__value">
                            <i class="ranking__list__item__icon icomoon-default ico ico-serious"></i>
                            <i class="ranking__list__item__icon icomoon-sudo ico ico-serious-selected"></i>
                            <!--<label class="ranking__list__item__label">Item 1</label>-->
                            <label class="ranking__list__item__label">Item 1</label>
                        </li>

                        <li class="ranking__list__item elem__table__cell">
                            <input type="radio" name="some__name" value="some__value">
                            <i class="ranking__list__item__icon icomoon-default ico ico-serious"></i>
                            <i class="ranking__list__item__icon icomoon-sudo ico ico-serious-selected"></i>
                            <!--<label class="ranking__list__item__label">Item 2</label>-->
                            <label class="ranking__list__item__label">Item 2</label>
                        </li>

                        <li class="ranking__list__item elem__table__cell">
                            <input type="radio" name="some__name" value="some__value">
                            <i class="ranking__list__item__icon icomoon-default ico ico-serious"></i>
                            <i class="ranking__list__item__icon icomoon-sudo ico ico-serious-selected"></i>
                            <!--<label class="ranking__list__item__label">Item 3</label>-->
                            <label class="ranking__list__item__label">Item 3</label>
                        </li>

                        <li class="ranking__list__item elem__table__cell">
                            <input type="radio" name="some__name" value="some__value">
                            <i class="ranking__list__item__icon icomoon-default ico ico-serious"></i>
                            <i class="ranking__list__item__icon icomoon-sudo ico ico-serious-selected"></i>
                            <!--<label class="ranking__list__item__label">Item 4</label>-->
                            <label class="ranking__list__item__label">Item 4</label>
                        </li>

                    </ul>



                    <ul class="ranking__list list-unstyled ranking__list__grid elem__table__row rating-comp__icons-list rating-comp__selection-type__single">
                        <li class="ranking__list__item elem__table__cell ranking__list__item__label-cell">
                            <p class="ranking__list__item__label-content">Lorem Ipsum</p>
                        </li>


                        <li class="ranking__list__item elem__table__cell">
                            <input type="radio" name="some__name" value="some__value">
                            <i class="ranking__list__item__icon icomoon-default ico ico-serious"></i>
                            <i class="ranking__list__item__icon icomoon-sudo ico ico-serious-selected"></i>
                            <!--<label class="ranking__list__item__label">Item 0 sdfasfafds asfd asf afsdasdf a</label>-->
                            <label class="ranking__list__item__label">Item 0 sdfasfafds asfd asf afsdasdf a</label>
                        </li>

                        <li class="ranking__list__item elem__table__cell">
                            <input type="radio" name="some__name" value="some__value">
                            <i class="ranking__list__item__icon icomoon-default ico ico-serious"></i>
                            <i class="ranking__list__item__icon icomoon-sudo ico ico-serious-selected"></i>
                            <!--<label class="ranking__list__item__label">Item 1</label>-->
                            <label class="ranking__list__item__label">Item 1</label>
                        </li>

                        <li class="ranking__list__item elem__table__cell">
                            <input type="radio" name="some__name" value="some__value">
                            <i class="ranking__list__item__icon icomoon-default ico ico-serious"></i>
                            <i class="ranking__list__item__icon icomoon-sudo ico ico-serious-selected"></i>
                            <!--<label class="ranking__list__item__label">Item 2</label>-->
                            <label class="ranking__list__item__label">Item 2</label>
                        </li>

                        <li class="ranking__list__item elem__table__cell">
                            <input type="radio" name="some__name" value="some__value">
                            <i class="ranking__list__item__icon icomoon-default ico ico-serious"></i>
                            <i class="ranking__list__item__icon icomoon-sudo ico ico-serious-selected"></i>
                            <!--<label class="ranking__list__item__label">Item 3</label>-->
                            <label class="ranking__list__item__label">Item 3</label>
                        </li>

                        <li class="ranking__list__item elem__table__cell">
                            <input type="radio" name="some__name" value="some__value">
                            <i class="ranking__list__item__icon icomoon-default ico ico-serious"></i>
                            <i class="ranking__list__item__icon icomoon-sudo ico ico-serious-selected"></i>
                            <!--<label class="ranking__list__item__label">Item 4</label>-->
                            <label class="ranking__list__item__label">Item 4</label>
                        </li>

                    </ul>


                </div>
            </div>
        </div>
    </div>
</article>
<!--Ranking Scale Grid-->