<div class="form__elem__rating-thumbnail-right">
    <article class="form__elem">
        <div class="elem__rating elem__rating-thumbnail-right__header">
            <h3 class="form__elem__title">Rating</h3>
            <p class="form__elem__help-text">Help Text goes here</p>
        </div>
    </article>
    <!--<article class="form__elem rating-left__thumbnail-right">-->
    <article class="form__elem elem__rating-thumbnail-right__body">
        <div class="row">
            <div class="col-sm-6 col-sm-push-6 rating__thumbnail__col">
                <div class="rating__thumbnail__col__content">
                    <div class="rating__thumbnail__container" style="height: 208px;">
                        <img src="images/product.jpg" alt="Product Thumbnail" class="product-thumbnail"></div>
                </div>
            </div>
            <div class="col-sm-6 col-sm-pull-6 rating__icons__col">
                <div class="rating__icons__col__content">



                    <!--Rating Comp Start-->
                    <div class="row">

                        <div class="rating-comp__row">


                            <div class="col-sm-4 rating-comp__col-label">

                                <p class="rating-comp__label rating-comp__label__bold">Total: <span class="rating-comp__value-count__calculated">4</span>/<span class="rating-comp__value-count__total">5</span>




                                </p></div>


                            <div class="col-sm-8 rating-comp__col-icons">


                                <div class="rating-comp__col-icons__open">
                                    <!--To add border around ratig element add this class in above div tag (rating-comp__col-icons__bordered)-->

                                    <ul class="list-inline rating-comp__icons-list rating-comp__selection-type__continuous">
                                        <!--to show large stars on mobile add this class in above ul tag (rating-comp__icons-count__large)-->
                                        <!--to show large stars on mobile add this class in above ul tag (rating-comp__icons-count__small)-->


                                        <li>
                                            <input name="rating-radio" value="radio0" id="radio0" type="radio">
                                            <label class="rating-comp__icon-single" for="radio0">
                                                <i class="icomoon-default ico ico-star"></i>
                                                <i class="icomoon-sudo ico ico-star-selected"></i>
                                            </label>
                                            <div class="rating-comp__tooltip">
                                                <p class="rating-comp__tooltip-content">lorem Ipsum</p>
                                            </div>
                                        </li>

                                        <li>
                                            <input name="rating-radio" value="radio1" id="radio1" type="radio">
                                            <label class="rating-comp__icon-single" for="radio1">
                                                <i class="icomoon-default ico ico-star"></i>
                                                <i class="icomoon-sudo ico ico-star-selected"></i>
                                            </label>
                                            <div class="rating-comp__tooltip">
                                                <p class="rating-comp__tooltip-content">lorem Ipsum</p>
                                            </div>
                                        </li>

                                        <li>
                                            <input name="rating-radio" value="radio2" id="radio2" type="radio">
                                            <label class="rating-comp__icon-single" for="radio2">
                                                <i class="icomoon-default ico ico-star"></i>
                                                <i class="icomoon-sudo ico ico-star-selected"></i>
                                            </label>
                                            <div class="rating-comp__tooltip">
                                                <p class="rating-comp__tooltip-content">lorem Ipsum</p>
                                            </div>
                                        </li>

                                        <li>
                                            <input name="rating-radio" value="radio3" id="radio3" type="radio">
                                            <label class="rating-comp__icon-single" for="radio3">
                                                <i class="icomoon-default ico ico-star"></i>
                                                <i class="icomoon-sudo ico ico-star-selected"></i>
                                            </label>
                                            <div class="rating-comp__tooltip">
                                                <p class="rating-comp__tooltip-content">lorem Ipsum</p>
                                            </div>
                                        </li>

                                        <li>
                                            <input name="rating-radio" value="radio4" id="radio4" type="radio">
                                            <label class="rating-comp__icon-single" for="radio4">
                                                <i class="icomoon-default ico ico-star"></i>
                                                <i class="icomoon-sudo ico ico-star-selected"></i>
                                            </label>
                                            <div class="rating-comp__tooltip">
                                                <p class="rating-comp__tooltip-content">lorem Ipsum</p>
                                            </div>
                                        </li>

                                    </ul>


                                    <!--It will be empty in this case-->

                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!--Rating Comp End-->

                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </article>
</div>