<!--Rating Start-->
<article class="form__elem">
    <div class="elem__rating elem__rating__full-width elem__rating-seller">
        <h3 class="form__elem__title">Rating</h3>
        <div class="form__elem__body">
            <p class="form__elem__help-text">Help Text goes here</p>
            <div class="rating__container">

                <!--Rating Comp Start-->
                <div class="row">

                    <div class="rating-comp__row">


                        <div class="col-sm-7 rating-comp__col-label">

                            <p class="rating-comp__label">Rating Quesion Label</p>



                        </div>


                        <div class="col-sm-5 rating-comp__col-icons">


                            <div class="rating-comp__col-icons__open">
                                <!--To add border around ratig element add this class in above div tag (rating-comp__col-icons__bordered)-->

                                <ul class="list-inline rating-comp__icons-list rating-comp__selection-type__continuous">
                                    <!--to show large stars on mobile add this class in above ul tag (rating-comp__icons-count__large)-->
                                    <!--to show large stars on mobile add this class in above ul tag (rating-comp__icons-count__small)-->


                                    <li>
                                        <input type="radio" name="rating-radio" value="radio0" id="radio0">
                                        <label class="rating-comp__icon-single" for="radio0">
                                            <i class="icomoon-default ico ico-star"></i>
                                            <i class="icomoon-sudo ico ico-star-selected"></i>
                                        </label>
                                        <div class="rating-comp__tooltip">
                                            <p class="rating-comp__tooltip-content">lorem Ipsum</p>
                                        </div>
                                    </li>

                                    <li>
                                        <input type="radio" name="rating-radio" value="radio1" id="radio1">
                                        <label class="rating-comp__icon-single" for="radio1">
                                            <i class="icomoon-default ico ico-star"></i>
                                            <i class="icomoon-sudo ico ico-star-selected"></i>
                                        </label>
                                        <div class="rating-comp__tooltip">
                                            <p class="rating-comp__tooltip-content">lorem Ipsum</p>
                                        </div>
                                    </li>

                                    <li>
                                        <input type="radio" name="rating-radio" value="radio2" id="radio2">
                                        <label class="rating-comp__icon-single" for="radio2">
                                            <i class="icomoon-default ico ico-star"></i>
                                            <i class="icomoon-sudo ico ico-star-selected"></i>
                                        </label>
                                        <div class="rating-comp__tooltip">
                                            <p class="rating-comp__tooltip-content">lorem Ipsum</p>
                                        </div>
                                    </li>

                                    <li>
                                        <input type="radio" name="rating-radio" value="radio3" id="radio3">
                                        <label class="rating-comp__icon-single" for="radio3">
                                            <i class="icomoon-default ico ico-star"></i>
                                            <i class="icomoon-sudo ico ico-star-selected"></i>
                                        </label>
                                        <div class="rating-comp__tooltip">
                                            <p class="rating-comp__tooltip-content">lorem Ipsum</p>
                                        </div>
                                    </li>

                                    <li>
                                        <input type="radio" name="rating-radio" value="radio4" id="radio4">
                                        <label class="rating-comp__icon-single" for="radio4">
                                            <i class="icomoon-default ico ico-star"></i>
                                            <i class="icomoon-sudo ico ico-star-selected"></i>
                                        </label>
                                        <div class="rating-comp__tooltip">
                                            <p class="rating-comp__tooltip-content">lorem Ipsum</p>
                                        </div>
                                    </li>

                                </ul>



                                <p class="rating-comp__value-count">
                                    <span class="rating-comp__value-count__calculated">4</span>/<span class="rating-comp__value-count__total">5</span>
                                </p>


                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!--Rating Comp End-->

                <!--Rating Comp Start-->
                <div class="row">

                    <div class="rating-comp__row">


                        <div class="col-sm-7 rating-comp__col-label">

                            <p class="rating-comp__label">Rating Quesion Label</p>



                        </div>


                        <div class="col-sm-5 rating-comp__col-icons">


                            <div class="rating-comp__col-icons__open">
                                <!--To add border around ratig element add this class in above div tag (rating-comp__col-icons__bordered)-->

                                <ul class="list-inline rating-comp__icons-list rating-comp__selection-type__continuous">
                                    <!--to show large stars on mobile add this class in above ul tag (rating-comp__icons-count__large)-->
                                    <!--to show large stars on mobile add this class in above ul tag (rating-comp__icons-count__small)-->


                                    <li>
                                        <input type="radio" name="rating-radio" value="radio0" id="radio0">
                                        <label class="rating-comp__icon-single" for="radio0">
                                            <i class="icomoon-default ico ico-star"></i>
                                            <i class="icomoon-sudo ico ico-star-selected"></i>
                                        </label>
                                        <div class="rating-comp__tooltip">
                                            <p class="rating-comp__tooltip-content">lorem Ipsum</p>
                                        </div>
                                    </li>

                                    <li>
                                        <input type="radio" name="rating-radio" value="radio1" id="radio1">
                                        <label class="rating-comp__icon-single" for="radio1">
                                            <i class="icomoon-default ico ico-star"></i>
                                            <i class="icomoon-sudo ico ico-star-selected"></i>
                                        </label>
                                        <div class="rating-comp__tooltip">
                                            <p class="rating-comp__tooltip-content">lorem Ipsum</p>
                                        </div>
                                    </li>

                                    <li>
                                        <input type="radio" name="rating-radio" value="radio2" id="radio2">
                                        <label class="rating-comp__icon-single" for="radio2">
                                            <i class="icomoon-default ico ico-star"></i>
                                            <i class="icomoon-sudo ico ico-star-selected"></i>
                                        </label>
                                        <div class="rating-comp__tooltip">
                                            <p class="rating-comp__tooltip-content">lorem Ipsum</p>
                                        </div>
                                    </li>

                                    <li>
                                        <input type="radio" name="rating-radio" value="radio3" id="radio3">
                                        <label class="rating-comp__icon-single" for="radio3">
                                            <i class="icomoon-default ico ico-star"></i>
                                            <i class="icomoon-sudo ico ico-star-selected"></i>
                                        </label>
                                        <div class="rating-comp__tooltip">
                                            <p class="rating-comp__tooltip-content">lorem Ipsum</p>
                                        </div>
                                    </li>

                                    <li>
                                        <input type="radio" name="rating-radio" value="radio4" id="radio4">
                                        <label class="rating-comp__icon-single" for="radio4">
                                            <i class="icomoon-default ico ico-star"></i>
                                            <i class="icomoon-sudo ico ico-star-selected"></i>
                                        </label>
                                        <div class="rating-comp__tooltip">
                                            <p class="rating-comp__tooltip-content">lorem Ipsum</p>
                                        </div>
                                    </li>

                                </ul>



                                <p class="rating-comp__value-count">
                                    <span class="rating-comp__value-count__calculated">4</span>/<span class="rating-comp__value-count__total">5</span>
                                </p>


                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!--Rating Comp End-->

                <div class="rating-comp__separater"></div>


                <!--Rating Comp Start-->
                <div class="row">

                    <div class="rating-comp__row">


                        <div class="col-sm-7 rating-comp__col-label">

                            <p class="rating-comp__label rating-comp__label__bold">Total:



                        </div>


                        <div class="col-sm-5 rating-comp__col-icons">


                            <div class="rating-comp__col-icons__open">
                                <!--To add border around ratig element add this class in above div tag (rating-comp__col-icons__bordered)-->

                                <ul class="list-inline rating-comp__icons-list rating-comp__selection-type__continuous">
                                    <!--to show large stars on mobile add this class in above ul tag (rating-comp__icons-count__large)-->
                                    <!--to show large stars on mobile add this class in above ul tag (rating-comp__icons-count__small)-->


                                    <li>
                                        <input type="radio" name="rating-radio" value="radio0" id="radio0">
                                        <label class="rating-comp__icon-single" for="radio0">
                                            <i class="icomoon-default ico ico-star"></i>
                                            <i class="icomoon-sudo ico ico-star-selected"></i>
                                        </label>
                                        <div class="rating-comp__tooltip">
                                            <p class="rating-comp__tooltip-content">lorem Ipsum</p>
                                        </div>
                                    </li>

                                    <li>
                                        <input type="radio" name="rating-radio" value="radio1" id="radio1">
                                        <label class="rating-comp__icon-single" for="radio1">
                                            <i class="icomoon-default ico ico-star"></i>
                                            <i class="icomoon-sudo ico ico-star-selected"></i>
                                        </label>
                                        <div class="rating-comp__tooltip">
                                            <p class="rating-comp__tooltip-content">lorem Ipsum</p>
                                        </div>
                                    </li>

                                    <li>
                                        <input type="radio" name="rating-radio" value="radio2" id="radio2">
                                        <label class="rating-comp__icon-single" for="radio2">
                                            <i class="icomoon-default ico ico-star"></i>
                                            <i class="icomoon-sudo ico ico-star-selected"></i>
                                        </label>
                                        <div class="rating-comp__tooltip">
                                            <p class="rating-comp__tooltip-content">lorem Ipsum</p>
                                        </div>
                                    </li>

                                    <li>
                                        <input type="radio" name="rating-radio" value="radio3" id="radio3">
                                        <label class="rating-comp__icon-single" for="radio3">
                                            <i class="icomoon-default ico ico-star"></i>
                                            <i class="icomoon-sudo ico ico-star-selected"></i>
                                        </label>
                                        <div class="rating-comp__tooltip">
                                            <p class="rating-comp__tooltip-content">lorem Ipsum</p>
                                        </div>
                                    </li>

                                    <li>
                                        <input type="radio" name="rating-radio" value="radio4" id="radio4">
                                        <label class="rating-comp__icon-single" for="radio4">
                                            <i class="icomoon-default ico ico-star"></i>
                                            <i class="icomoon-sudo ico ico-star-selected"></i>
                                        </label>
                                        <div class="rating-comp__tooltip">
                                            <p class="rating-comp__tooltip-content">lorem Ipsum</p>
                                        </div>
                                    </li>

                                </ul>



                                <p class="rating-comp__value-count">
                                    <span class="rating-comp__value-count__calculated">4</span>/<span class="rating-comp__value-count__total">5</span>
                                </p>


                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!--Rating Comp End-->

            </div>
        </div>
    </div>
    <div class="rating-comp__caption-form">
        <div class="caption-form__legend">
            <span class="caption-form__icon">
                <i class="ico ico-exclamation"></i>
            </span>
            <p class="caption-form__caption-top">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci aperiam aspernatur, assumenda consectetur consequuntur corporis culpa debitis deleniti dignissimos dolorem dolores eius eos est ex explicabo facere, facilis impedit ipsam labore laboriosam magni maiores minima minus natus nesciunt numquam obcaecati, optio perferendis praesentium quam quod rem reprehenderit repudiandae similique voluptate voluptatum!
            </p>
        </div>
        <div class="caption-form__wrap">
            <div class="caption-form__form-group">


                <div class="row">
                    <div class="col-sm-3">
                        <p class="caption-form__form-group__label">Feedback Email 1</p>
                    </div>
                    <div class="col-sm-9">
                        <input type="text" class="form-control caption-form__form-gorup__control" placeholder="Some Placeholder">
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <p class="caption-form__form-group__label">Feedback Email 2</p>
                    </div>
                    <div class="col-sm-9">
                        <input type="text" class="form-control caption-form__form-gorup__control" placeholder="Some Placeholder">
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
            <div class="caption-form__caption-bottom">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A asperiores autem beatae cupiditate distinctio dolore earum est fugit, itaque laborum nisi nulla, obcaecati odit optio quis repudiandae tempora temporibus ut.</p>
            </div>
        </div>
    </div>

</article>
<!--Rating End-->