<!--Free text Start-->
<article class="form__elem form__elem__no-border">
    <div class="elem__free-text">
        <h3 class="form__elem__title">Free Test <sup>*</sup></h3>
        <div class="form__elem__body">

            <p class="a-heading a-heading__2">1. Your customer experience with Aviva</p>
            <p class="a-heading a-heading__3 a-heading__light">Review your [product] purchase with Aviva</p>
            <p class="required__field"><sup>*</sup> Required Fields</p>
            <p class="aviva__text__term-and-condition">By submitting a review you agree to our <a href="#" class="aviva__link">Terms and conditions</a></p>
            <button class="aviva__cta-primary">Submit Review</button>

        </div>
    </div>
</article>
<!--Free text End-->


<!--Free text Start-->
<article class="form__elem form__elem__no-border">
    <div class="elem__free-text">
        <h3 class="form__elem__title">Free Test <sup>*</sup></h3>
        <div class="form__elem__body">

            <div class="hgroup__aviva__thank-you">
                <p class="a-heading a-heading__2">Thank you for your positive feedback!</p>
                <p class="a-heading a-heading__3 a-heading__light">Leaving feedback is hugely beneficial to Aviva and future customers</p>
            </div>
            <p>Ekomi will review your submission within 24 hours.</p>
            <p>You will receive an email notification whether it is published or not.</p>

            <button class="aviva__cta-primary aviva__thank-you__cta">Back to Aviva</button>

        </div>
    </div>
</article>
<!--Free text End-->