<div class="products-breadcrumb__wrapper">
    <div class="panel-group" id="products__accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="js__products-breadcrumb">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#products__accordion" href="#products__breadcrumb__collapse" aria-expanded="true" aria-controls="products__breadcrumb__collapse">
                        <label class="product__active-info"><span class="product__current">1</span>/<span class="product__total">3</span> <span class="product__current-title">Brooklyn Lager</span></label>

                        <label class="product__active-sign"><span>999 products to review</span> <i class="fa fa-circle-o"></i></label>
                    </a>
                </h4>
            </div>
            <div id="products__breadcrumb__collapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="js__products-breadcrumb">
                <ul class="list-group">
                    <li class="list-group-item completed">1 - List Item <i class="fa fa-circle-o"></i></li>
                    <li class="list-group-item active">2 - List Item <i class="fa fa-circle-o"></i></li>
                    <li class="list-group-item">3 - List Item <i class="fa fa-circle-o"></i></li>
                    <li class="list-group-item">4 - List Item <i class="fa fa-circle-o"></i></li>
                    <li class="list-group-item">5 - List Item <i class="fa fa-circle-o"></i></li>
                    <li class="list-group-item">6 - List Item <i class="fa fa-circle-o"></i></li>
                    <li class="list-group-item">7 - List Item <i class="fa fa-circle-o"></i></li>
                    <li class="list-group-item">8 - List Item <i class="fa fa-circle-o"></i></li>
                    <li class="list-group-item">9 - List Item <i class="fa fa-circle-o"></i></li>
                    <li class="list-group-item">10 - List Item <i class="fa fa-circle-o"></i></li>
                </ul>
            </div>

            <a class="products__breadcrumb-toggler" role="button" data-toggle="collapse" data-parent="#products__accordion" href="#products__breadcrumb__collapse" aria-expanded="true" aria-controls="products__breadcrumb__collapse">
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </div>
</div>