<div class="comp comp__breadcrumb">
    <div class="sff-form__content-wrap">
        <div class="wizardSliderBox">
            <ul class="wizard__breadcrumb-list wizard__two-step"><li class="active">
                <p class="bubble">
                    <span class="bubble__number"> 1<i class="fa fa-check"></i></span>
                </p>
                <p class="step__title trans_product_rating">Product Rating</p>
            </li><li class="">
                <p class="bubble">
                    <span class="bubble__number"> 2<i class="fa fa-check"></i></span>
                </p>
                <p class="step__title trans_thank_you">Thank You</p>
            </li></ul>
        </div>
    </div>
</div>