<!--Footer Start-->
<footer class="page__footer">
    <div class="sff-form__content-wrap">
        <div class="page__footer-wrap">
            <div class="row">
                <div class="col-sm-7">
                    <ul class="list-inline page__footer__quick-links">
                        <li><a href="#">homepage</a></li>
                        <li><a href="#">ALGEMENE VOORWAARDEN</a></li>
                        <li><a href="#">PRIVACY</a></li>
                    </ul>
                </div>
                <div class="col-sm-5">
                    <p class="power-by__info">
                        <span>powered by</span>
                        <span class="power-by__logo"><img class="b-lazy" data-src="images/powered-by.png" alt="Loading..."></span>
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</footer>
<!--Footer End-->