<style type="text/css">
    .page__footer__backing-check .logo__container {
        padding: 20px 0;
    }

    .page__footer__backing-check .logo__container img {
        max-width: 190px;
    }

    .page__footer__backing-check .logo-left {
        text-align: left;
    }

    .page__footer__backing-check .logo-right {
        text-align: right;
    }

    .page__footer__backing-check .list__utility-links {
        margin: 0;
    }

    .page__footer__backing-check .list__utility-links .list__label {
        font-weight: 700;
    }

    .page__footer__backing-check .list__utility-links li {
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 13px;
        padding: 0;
    }

    .page__footer__backing-check .list__utility-links li:after {
        color: #2da137;
        content: "|";
        padding: 0 5px;
    }

    .page__footer__backing-check .list__utility-links li:first-child:after, .page__footer__backing-check .list__utility-links li:last-child:after {
        content: '';
        padding-right: 0;
    }

    .page__footer__backing-check .list__utility-links li a {
        color: #2da137;
        text-transform: uppercase;
    }

    .page__footer__backing-check .list__utility-links li a:hover, .page__footer__backing-check .list__utility-links li a:focus {
        text-decoration: underline;
    }

    @media (max-width: 767px) {
        .page__footer__backing-check .logo-left, .page__footer__backing-check .logo-right {
            text-align: center;
        }
        .page__footer__backing-check .list__utility-links {
            text-align: center;
            margin-bottom: 15px;
        }
        .page__footer__backing-check .list__utility-links .list__label {
            display: block;
            font-size: 13px;
        }
        .page__footer__backing-check .list__utility-links li {
            font-size: 11px;
            margin-top: 0;
            margin-bottom: 5px;
        }
    }
</style>
<footer class="page__footer page__footer__backing-check">
    <div class="sff-form__content-wrap">
        <div class="page__footer-wrap">
            <div class="custom-footer__cols logos__cols">
                <div class="row">
                    <div class="col-sm-6 logo-left">
                        <div class="logo__container">
                            <img class="b-lazy" data-src="/images/company-logo/BankingCheck_An-eKomi-Company_Logo_SOLO_REG_2000px.png" src="images/loader.gif" alt="Logo not Available">
                        </div>
                    </div>
                    <div class="col-sm-6 logo-right">
                        <div class="logo__container">
                            <img class="b-lazy" data-src="/images/company-logo/BankingCheck_An-eKomi-Company_Logo_SOLO_REG_2000px.png" src="images/loader.gif" alt="Logo not Available">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="footer__utility-links">
                <ul class="list__utility-links list-inline">
                    <li class="list__label">
                        eKomi:
                    </li>
                    <li><a href="#">impressum</a></li>
                    <li><a href="#">datenschutz</a></li>
                    <li><a href="#">agb</a></li>
                    <li><a href="#">bewertungsleitfaden</a></li>
                    <li><a href="#">unternehmen</a></li>
                    <li><a href="#">karriere</a></li>
                </ul>
            </div>
            <div class="footer__utility-links">
                <ul class="list__utility-links list-inline">
                    <li class="list__label">
                        BankingCheck:
                    </li>
                    <li><a href="#">impressum</a></li>
                    <li><a href="#">datenschutz</a></li>
                    <li><a href="#">bewertungsleitfaden</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>