<!--Footer Custom Start-->
<footer class="page__footer">
    <div class="sff-form__content-wrap">
        <div class="page__footer-wrap">
            <div class="custom-footer__cols">
                <div class="row">
                    <div class="col-sm-4 custom-footer__address-block">
                        <div class="custom-footer__col-header">
                            <p class="custom-footer__col-title">eKomi Head-Quater</p>
                        </div>
                        <div class="custom-footer__col-content">
                            <ul class="list-unstyled list__contact-info">
                                <li>
                                    <span class="contact-info__icon"><i class="fa fa-map-marker"></i></span>
                                    <p class="contact-info__content">
                                        Chamber of Commerce HR B Nr. 672 USt.-Ident-Nr. New York
                                    </p>
                                </li>
                                <li>
                                    <span class="contact-info__icon"><i class="fa fa-phone"></i></span>
                                    <p class="contact-info__content">+42 338 987669</p>
                                </li>
                                <li>
                                    <span class="contact-info__icon"><i class="fa fa-envelope"></i></span>
                                    <p class="contact-info__content">hq@ekomi.de</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4 custom-footer__links-block">
                        <div class="custom-footer__col-header">
                            <p class="custom-footer__col-title">ekomi Links</p>
                        </div>
                        <div class="custom-footer__col-content">
                            <ul class="list-unstyled list__utility-links">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Feedback</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4 custom-footer__social-media-block">
                        <div class="custom-footer__col-header">
                            <p class="custom-footer__col-title">eKomi Social</p>
                        </div>
                        <div class="custom-footer__col-content">
                            <ul class="list-inline list__social-media-links">
                                <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="row">
                    <div class="col-sm-12 custom-footer__info-section">
                        <div class="custom-footer__info-section-content">
                            <p class="custom-footer__info-section__label">
                            If you have any questions about this please <a href="#">Contact</a>
                        </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                dolor in reprehenderit in voluptate velit esse cillum dolore eu
                            </p></div>
                    </div>
                </div>
            </div>
            <div class="row custom-footer__section__defautl-quick-links">
                <div class="col-sm-9">
                    <ul class="list-inline page__footer__quick-links">
                        <li>Copyright &copy; 2017 AXA. All rights reserved</li>
                        <li><a href="#">Imprint</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Review Guidelines</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <p class="power-by__info">
                        <span>powered by</span>
                        <span class="power-by__logo"><img class="b-lazy" data-src="images/powered-by.png" src="images/loader.gif" alt="..."></span>
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</footer>
<!--Footer Custom End-->