<!--Footer Custom Start-->
<footer class="page__footer">
    <div class="sff-form__content-wrap">
        <div class="page__footer-wrap">
            <div class="custom-footer__cols">
                <div class="row">
                    <div class="col-sm-4 custom-footer__address-block">
                        <div class="custom-footer__col-header">
                            <p class="custom-footer__col-title">eKomi Head-Quater</p>
                        </div>

                        <div class="custom-footer__col-content">
                            <ul class="list-unstyled list__contact-info">
                                <li>
                                    <p class="contact-info__icon fa fa-map-marker">&nbsp;</p>

                                    <p class="contact-info__content">Chamber of Commerce HR B Nr. 672 USt.-Ident-Nr. New York</p>
                                </li>
                                <li>
                                    <p class="contact-info__icon fa fa-phone">&nbsp;</p>

                                    <p class="contact-info__content">+42 338 987669</p>
                                </li>
                                <li>
                                    <p class="contact-info__icon fa fa-envelope">&nbsp;</p>

                                    <p class="contact-info__content">hq@ekomi.de</p>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-sm-4 custom-footer__links-block">
                        <div class="custom-footer__col-header">
                            <p class="custom-footer__col-title">ekomi Links</p>
                        </div>

                        <div class="custom-footer__col-content">
                            <ul class="list-unstyled list__utility-links">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Feedback</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-sm-4 custom-footer__social-media-block">
                        <div class="custom-footer__col-header">
                            <p class="custom-footer__col-title">eKomi Social</p>
                        </div>

                        <div class="custom-footer__col-content">
                            <ul class="list-inline list__social-media-links">
                                <li>
                                    <p class="fa fa-facebook-square">&nbsp;</p>
                                </li>
                                <li>
                                    <p class="fa fa-twitter-square">&nbsp;</p>
                                </li>
                                <li>
                                    <p class="fa fa-google-plus-square">&nbsp;</p>
                                </li>
                                <li>
                                    <p class="fa fa-linkedin-square">&nbsp;</p>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="clearfix">&nbsp;</div>
                </div>

                <div class="row">
                    <div class="col-sm-12 custom-footer__info-section">
                        <div class="custom-footer__info-section-content">
                            <p class="custom-footer__info-section__label">If you have any questions about this please <a href="#">Contact</a></p>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row custom-footer__section__defautl-quick-links">
                <div class="col-sm-9">
                    <ul class="list-inline page__footer__quick-links">
                        <li>Copyright © 2017 eKomi. All rights reserved</li>
                        <li><a href="#">Imprint</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Review Guidelines</a></li>
                    </ul>
                </div>

                <div class="col-sm-3">
                    <p class="power-by__info"><span>powered by</span> <span class="power-by__logo"><img alt="Logo not Available" src="/images/powered-by.png" /></span></p>
                </div>

                <div class="clearfix">&nbsp;</div>
            </div>
        </div>
    </div>
</footer>
<!--Footer Custom End-->
