<!--Form Content Start-->
<div class="sff-form__wrapper">
    <div class="sff-form__content-wrap">
        <div class="sff-form__content-body">
            <form action="#">
                <div class="sff-form__legend">
                    <h1 class="form__legend">Form Name Goes Here</h1>
                </div>
                <div class="form-fieldset">

                    {% include 'template/components/feedback-grid-thumbnail-false.html' %}
                    {% set feedbackThumbnail= 'right' %}
                    {% include 'template/components/feedback-grid-thumbnail-true.html' %}
                    {% set feedbackThumbnail= 'left' %}
                    {% include 'template/components/feedback-grid-thumbnail-true.html' %}

                    {% include 'template/components/feedback-continuous-thumbnail-false.html' %}
                    {% set feedbackThumbnail= 'right' %}
                    {% include 'template/components/feedback-continuous-thumbnail-true.html' %}
                    {% set feedbackThumbnail= 'left' %}
                    {% include 'template/components/feedback-continuous-thumbnail-true.html' %}

                    {% include 'template/components/feedback-default-thumbnail-true.html' %}
                    {% include 'template/components/feedback-default-thumbnail-false.html' %}

                    {% include 'template/components/short-text.html' %}
                    {% set singleCol = 'true' %}
                    {% include 'template/components/long-text.html' %}
                    {% set singleCol = 'false' %}
                    {% include 'template/components/long-text.html' %}

                    {% include 'template/components/dropdown.html' %}
                    {% include 'template/components/multiple-choice.html' %}
                    {% include 'template/components/yes-no.html' %}
                    {% include 'template/components/legal-text.html' %}
                    {% include 'template/components/pros-cons.html' %}
                    {% include 'template/components/picture.html' %}

                    {% set excludeBorder= 'false' %}
                    {% include 'template/components/free-text.html' %}
                    {% set excludeBorder= 'true' %}
                    {% include 'template/components/free-text.html' %}


                    {#
                        Old Rating and ranking Designs
                        {% include 'template/ranking-rating-old/rating-full-width.html' %}
                        {% include 'template/ranking-rating-old/rating-thumbnail-right.html' %}
                        {% include 'template/ranking-rating-old/rating-thumbnail-left.html' %}
                        {% include 'template/ranking-rating-old/ranking-scale-default.html' %}
                        {% include 'template/ranking-rating-old/ranking-scale-continuous.html' %}
                        {% include 'template/ranking-rating-old/ranking-scale-grid.html' %}
                    #}
                </div>
            </form>
        </div>
        <div class="sff-form__footer">
            <button class="sff-form__submit">Submit</button>
        </div>
    </div>
</div>
<!--Form Content End-->

