<!--Form Content Start-->
<div class="sff-form__wrapper">
    <div class="sff-form__content-wrap">
        <div class="sff-form__content-body">
            <form action="#">
                <legend class="sff-form__legend">
                    <h1 class="form__legend">Form Name Goes Here</h1>
                </legend>
                <div class="form-fieldset">

                    {% include 'template/components/rating-full-width.html' %}
                    {% include 'template/components/rating-thumbnail-right.html' %}
                    {% include 'template/components/rating-thumbnail-left.html' %}
                    {% include 'template/components/ranking-scale-default.html' %}
                    {% include 'template/components/ranking-scale-continuous.html' %}
                    {% include 'template/components/ranking-scale-grid.html' %}
                    {% include 'template/components/short-text.html' %}
                    {% set singleCol = 'true' %}
                    {% include 'template/components/long-text.html' %}
                    {% set singleCol = 'false' %}
                    {% include 'template/components/long-text.html' %}

                    {% include 'template/components/dropdown.html' %}
                    {% include 'template/components/multiple-choice.html' %}
                    {% include 'template/components/yes-no.html' %}
                    {% include 'template/components/legal-text.html' %}
                    {% include 'template/components/pros-cons.html' %}
                    {% include 'template/components/picture.html' %}

                    {% set excludeBorder= 'false' %}
                    {% include 'template/components/free-text.html' %}
                    {% set excludeBorder= 'true' %}
                    {% include 'template/components/free-text.html' %}

                    {# {% set ratingPopupErrorPage = 'true' %}
                    {% include 'template/components/rating-comp-popup.html' %} #}

                </div>
            </form>
        </div>
        <div class="sff-form__footer">
            <button class="sff-form__submit">Submit</button>
        </div>
    </div>
</div>
<!--Form Content End-->
