<script type="text/javascript" src="js/libs/blazy.js"></script>
<script type="text/javascript" src="js/libs/jquery.js"></script>
<script type="text/javascript" src="js/libs/modernizr.js"></script>
<script type="text/javascript" src="js/libs/bootstrap.js"></script>
<script type="text/javascript" src="js/libs/bootstrap-select.js"></script>
<!--<script type="text/javascript" src="js/libs/rangeslider.js"></script>-->
<script type="text/javascript" src="js/libs/bootstrap-slider.js"></script>



<!--For Fixed versions-->
<script type="text/javascript" src="js/partials/fixed-feedback-default.js"></script>
<script type="text/javascript" src="js/partials/fixed-feedback-grid.js"></script>
<script type="text/javascript" src="js/partials/fixed-feedback-grid-tooltip-centered.js"></script>
<script type="text/javascript" src="js/partials/fixed-feedback-continuous.js"></script>

<script type="text/javascript" src="js/script.js"></script>