<script type="text/javascript" src="js/libs/blazy.js"></script>
<script type="text/javascript" src="js/libs/jquery.js"></script>
<script type="text/javascript" src="js/libs/modernizr.js"></script>
<script type="text/javascript" src="js/libs/bootstrap.js"></script>
<script type="text/javascript" src="js/libs/bootstrap-select.js"></script>
<script type="text/javascript" src="js/partials/ranking-scale-default.js"></script>
<script type="text/javascript" src="js/partials/thumbnail-right.js"></script>
<script type="text/javascript" src="js/partials/feedback-default.js"></script>
<script type="text/javascript" src="js/script.js"></script>