<script type="text/javascript" src="js/libs/blazy.js"></script>
<script type="text/javascript" src="js/libs/jquery.js"></script>
<script type="text/javascript" src="js/libs/modernizr.js"></script>
<script type="text/javascript" src="js/libs/bootstrap.js"></script>
<script type="text/javascript" src="js/libs/bootstrap-select.js"></script>


<!--For Fixed versions-->
<script type="text/javascript" src="js/partials/fixed-rating-default.js"></script>
<script type="text/javascript" src="js/partials/fixed-rating-grid.js"></script>
<script type="text/javascript" src="js/partials/fixed-rating-continuous.js"></script>

<script type="text/javascript" src="js/script.js"></script>