body {
  @extend %default-font;
}

//checkbox
.checkbox-custom,
.radio-custom {
  margin-bottom: 7px;
  [type = "checkbox"],
  [type = "radio"] {
    &:checked,
    &:not(:checked) {
      position: absolute;
      left: -9999px;

      + label {
        position: relative;
        padding-left: 20px;
        cursor: pointer;
        display: inline-block;
        font-weight: normal;
        line-height: 28px;
        min-height: 20px;
        margin: 0;
        span {
          margin-left: 10px;
        }
        &:before {
          color: darken($border, 20%);
          position: absolute;
          left: 0;
          top: 0;
          font-size: $custom-control-icon-font-size;
          @extend %default-fontawesome;
        }
      }
    }

    &:checked {
      + label {
        &:before {
          color: $green-primary;
        }
      }
    }
  }

  [type="checkbox"] {
    &:not(checked) {
      + label {
        &:before {
          content: $fa-square-o;
        }
      }
    }
    &:checked {
      + label {
        &:before {
          content: $fa-check-square;
        }
      }
    }
  }


  [type="radio"] {
    &:not(checked) {
      + label {
        &:before {
          content: $fa-circle-o;
        }
      }
    }
    &:checked {
      + label {
        &:before {
          content: $fa-dot-circle-o;
        }
      }
    }
  }
}



//Select option Stylings
.bootstrap-select {
  &, &.open {
    .dropdown-toggle {
      border: $border-width solid $border;
      background: $white;
      box-shadow: none;
      &:hover,
      &:focus,
      &:active {
        background: $white;
        outline: none !important;
        border-color: $border;
      }
    }
  }

  > .dropdown-toggle {
    padding: 10px 30px 10px 15px;
    position: relative;
  }

  .caret {
    display: none;
  }

  .bs-caret {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -11px;
    line-height: 1;

    &:before {
      content: $fa-angle-down;
      @extend %default-fontawesome;
      font-size: $custom-control-icon-font-size;
      line-height: 1;
      color: $border;
    }
  }


  .dropdown-menu {
    border-radius: 0;
    padding: 0;
    box-shadow: none;
    margin-top: -3px;
    border: $border-width solid $border;
    font-size: $base-font-size;

    > li {
      > a {
        padding: 10px 15px;
        white-space: normal;
        &:hover,
        &:focus,
        &:active {
          background: $bg-element;
          outline: none;
        }
      }
      &.selected {
        > a {
          background: $bg-element;
        }
      }
      + li {
        border-top: $border-width solid $border;
      }
    }
  }


  &.dropup {
    .dropdown-menu {
      margin-top: 0;
      margin-bottom: -3px;
    }
  }
}
.selectpicker__font-family,
.selectpicker__lg {
  .bootstrap-select {
    &:not([class*="col-"]) {
      &:not([class*="form-control"]) {
        &:not(.input-group-btn) {
          width: $selectpicker-font-family;
        }
      }
    }
  }
  .form-control-pr {
    width: $selectpicker-font-family;
  }
}

.selectpicker__font-size,
.selectpicker__days,
.selectpicker__sm {
  .bootstrap-select {
    &:not([class*="col-"]) {
      &:not([class*="form-control"]) {
        &:not(.input-group-btn) {
          width: $selectpicker-font-size;
        }
      }
    }
  }
  .form-control-pr {
    width: $selectpicker-font-size;
  }
}


.selectpicker__xsm {
  .bootstrap-select {
    &:not([class*="col-"]) {
      &:not([class*="form-control"]) {
        &:not(.input-group-btn) {
          width: $selectpicker-icons;
        }
      }
    }
  }
  .form-control-pr {
    width: $selectpicker-icons;
  }
}


//Spectrum Color Picker
@mixin  box-shadow {
  box-shadow: 0 1px 0 $border-shadow;
}

.form-control-pr {
  border: $border-width solid $border;
  border-radius: $radius;
  @include box-shadow();
  resize: none;
  font-size: $base-font-size;
  color: $text-primary;
  height: $form-control-size;

  &:focus {
    border-color: $border;
    @include box-shadow();
  }
}

.sp-replacer {
  padding: 0;
  border: 0 none;
  background-color: transparent;
  .sp-dd {
    display: none;
  }
  .sp-preview {
    margin: 0;
    width: $form-control-size + $double-border;
    height: $form-control-size + $double-border;
    border: 0 none;
  }
}
.form-group__spectrum {
  height: $form-control-size + $double-border;
  .input-group {
    position: relative;
    display: inline-block;
    border: $border-width solid $border;
    border-radius: $radius;
    @include box-shadow();
    padding-left: $form-control-size;
    //max-height: $form-control-size;
    .form-control-pr {
      width: 105px;
      border: 0 none;
      box-shadow: none;
      border-radius: 0 $radius $radius 0;
      border-left: $border-width solid $border;
      &[readonly] {
        background-color: $white;
      }
    }
    .sp-replacer {
      position: absolute;
      left: 0;
      top: 0;
      border-radius: $radius 0 0 $radius;
    }
  }
}




//Collapse Panel
.panel__collapse-pr {
  position: relative;
  .panel-heading {
    padding: 0;
    .panel-title {
      text-decoration: underline;
    }
    a {
      padding: 8px 45px 8px 15px;
      display: block;
      position: relative;
      .fa {
        position: absolute;
        right: $default-spacing;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .panel-body {
    background-color: $well-bg;
    padding-bottom: 0;
  }

  &.collapse-open {
    .fa-angle-down {
      transform: rotate(180deg);
    }
    .panel-heading {
      a {
        .fa {
          display: none;
          //transform: rotate(180deg) translateY(50%);
        }
      }
    }
  }

  .fa-angle-down {
    font-size: $section-title-font-size;
    color: darken($border, 10%);
    transform: rotate(180deg);
  }

}

.collapse-toggler {
  margin-top: 0;
  margin-bottom: 5px;
  float: right;
  padding: 0;
  line-height: 20px;
  background-color: transparent;
  &:hover, &:focus, &:active, &:active:focus {
    outline: none;
    box-shadow: none;
    color: darken($border, 10%);
    background-color: transparent;
  }
}


//Modal
body {
  background-color: rgba($black, .5);
}

.modal {
  display: block;
  padding-right: 17px;
  position: relative;
}
.modal__pr {
  .modal-lg {
    width: $modal-width;
  }
  .modal-title {
    font-size: $section-title-font-size;
    color: $default;
  }
  .modal-header {
    border-bottom: 2px solid $green-primary;
  }
  .modal-footer {
    border: 0 none;
  }

  .modal-header,
  .modal-body,
  .modal-footer {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.modal-body {
  font-size: $base-font-size;
}

//Buttons
.btn__pr {
  padding: 5px 40px;
  color: $white;
  font-size: $base-font-size;
  background-color: $green-primary;
  border: 2px solid $green-primary;
  &:hover, &:focus, &:active {
    color: $white;
    border: 2px solid $green-primary;
    outline: none;
    text-decoration: none;
    background-color: $green-primary;
  }
}