$font-icons: 'FontAwesome';
$green-primary: #2DA137;
$fa-check-square: "\f14a";
$fa-square-o: "\f096";
$fa-angle-down: "\f107";

$font-light: 300;
$font-regular: 400;
$font-bold: 700;

$border: #c3c3c3;
$white: #fff;
$bg-element: #f4f4f4;


$selectpicker-font-family: 185px;
$selectpicker-font-size: 125px;

$radius: 5px;
$colorpicker: 150px;
$border-shadow: #d6d6d6;
$text-primary: #606060;
$base-font-size: 16px;