<div role="tabpanel" class="tab-pane tab-pane__footer" id="content-footer">
    <header class="tab-header">
        <h2 class="tab__heading">
            <span class="tab__header-title">Custom Footer</span>
            <span class="tab__header-excerpt">Edit Custom Footer Here.</span>
        </h2>
        <button class="btn btn-fill btn-right-centered">Save</button>
    </header>

    <div class="tab-body tab-body__footer">

        <div class="elem-language-selector">
            <ul class="list-inline">
                <li><h4>Select Language to add Translation :</h4></li>
                <li>
                    <select class="selectpicker language-selectpicker" disabled>
                        <option>Mustard</option>
                        <option>Ketchup</option>
                        <option>Relish</option>
                        <option>Mustard</option>
                    </select>
                </li>
            </ul>
        </div>

        <div class="tab-body__row-checkbox">

            <input id="custom-footer" name="checkbox-group" type="checkbox">
            <label for="custom-footer"><span>Enable Custom Footer</span></label>

        </div>

        <div class="ck-editor-wrap">
            <div class="form-group">
                <textarea class="elem__ckeditor ckeditor" id="elem__ckedito-footer"></textarea>
            </div>
        </div>

    </div>

</div>
