<div role="tabpanel" class="tab-pane tab-pane__general-settings active" id="content-general-settings">
    <header class="tab-header">
        <h2 class="tab__heading">
            <span class="tab__header-title">General Settings</span>
            <span class="tab__header-excerpt">Edit General Settins Here.</span>
        </h2>
        <button class="btn btn-fill btn-right-centered">Save</button>
    </header>

    <div class="tab-body tab-body__general-settings">

        <div class="elem-language-selector">
            <ul class="list-inline">
                <li><h4>Select Language to add Translation :</h4></li>
                <li>
                    <select class="selectpicker language-selectpicker">
                        <option>Mustard</option>
                        <option>Ketchup</option>
                        <option>Relish</option>
                        <option>Mustard</option>
                    </select>
                </li>
            </ul>
        </div>

        <div class="tab-body__row">

            <div class="form-group form-group__level-block">
                <label class="form-group-label">Write down the Form Name</label>
                <div class="row">
                    <div class="col-xs-6">
                        <input type="text" class="form-control form-control-input-small" placeholder="Type your form name here" />
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
