body {
  font-family: $font-regular;
  font-size: $font-md;
  color: $text-primary;
}

.bg-dark {
  background: $bg-main;
}

.bg-white {
  background: $white;
}

.bg-light {
  background: $bg-main-secondary;
}

h1, .h1 {
  font-family: $font-bold;
  font-size: $font-xlg;
}

h2, .h2 {
  font-family: $font-bold;
  font-size: $font-md;
}

h3, .h3 {
  font-family: $font-regular;
  font-size: $font-md;
}

h4, .h4 {
  font-family: $font-bold;
  font-size: $font-sm;
}

h5, .h5 {
  font-family: $font-regular;
  font-size: $font-sm;
}

.container-fluid {
  min-width: 1200px;
  &.noPadding {
    padding: 0;
  }
}


//Go back and View form links
.back-link,
.view-form-link {
  padding-left: 25px;
  position: relative;
  font-size: $font-sm;
  &:before {
    font-family: $font-icons;
    position: absolute;
    left: 0;
    top: 0;
  }
  &,
  &:hover,
  &:focus,
  &:active {
    color: $text-secondary;
    text-decoration: none;
  }
}

.back-link {
  &:before {
    content: $icon-arrow-thick;
  }
}

.view-form-link {
  &:before {
    content: $icon-goto;
  }
}

//Tooltip
.tooltip {
  white-space: nowrap;
  font-family: $font-bold;
  color: $bg-element;
  &-inner {
    background: $text-primary;
    padding: 5px 10px;
  }
  &.top {
    .tooltip-arrow {
      border-top-color: $text-primary;
    }
  }
  &.in {
    opacity: 1;
  }
}



//Color Picker
.colorpicker-component {
  border: 1px solid $border;
  @include box-shadow();
  border-radius: $radius;
  width: $colorpicker;
  .input-group-addon {
    padding: 0;
  }

  .input-group-addon,
  .add-on {
    border: 0 none;
    i {
      width: 44px;
      height: 44px;
      border-radius: $radius 0 0 $radius;
    }
  }
  .form-control {
    border: 0 none;
    box-shadow: none;
  }
}