.ico-callback:before {
  content: "\e926";
}
.ico-header:before {
  content: "\e925";
}
.ico-footer:before {
  content: "\e924";
}
.ico-info:before {
  content: "\e923";
}
.ico-layout:before {
  content: "\e922";
}
.ico-image:before {
  content: "\e921";
}
.ico-breadcrumb:before {
  content: "\e91d";
}
.ico-color-picker:before {
  content: "\e91e";
}
.ico-buttons:before {
  content: "\e91f";
}
.ico-product:before {
  content: "\e920";
}
.ico-times:before {
  content: "\e91c";
}
.ico-arrow-thick:before {
  content: "\e900";
}
.ico-arrow-thin:before {
  content: "\e901";
}
.ico-checkbox:before {
  content: "\e902";
}
.ico-checkbox-fill:before {
  content: "\e903";
}
.ico-constant-sum:before {
  content: "\e904";
}
.ico-date:before {
  content: "\e905";
}
.ico-delete:before {
  content: "\e906";
}
.ico-dropdown:before {
  content: "\e907";
}
.ico-edit:before {
  content: "\e908";
}
.ico-eye:before {
  content: "\e909";
}
.ico-font:before {
  content: "\e90a";
}
.ico-goto:before {
  content: "\e90b";
}
.ico-heart:before {
  content: "\e90c";
}
.ico-link:before {
  content: "\e90d";
}
.ico-long-text:before {
  content: "\e90e";
}
.ico-mrf:before {
  content: "\e90f";
}
.ico-multiple-choice:before {
  content: "\e910";
}
.ico-plus:before {
  content: "\e911";
}
.ico-pros-cons:before {
  content: "\e912";
}
.ico-radio:before {
  content: "\e913";
}
.ico-radio-fill:before {
  content: "\e914";
}
.ico-ranking-scale:before {
  content: "\e915";
}
.ico-seller:before {
  content: "\e916";
}
.ico-settings:before {
  content: "\e917";
}
.ico-short-text:before {
  content: "\e918";
}
.ico-text:before {
  content: "\e919";
}
.ico-thumbnail:before {
  content: "\e91a";
}
.ico-upload:before {
  content: "\e91b";
}
