//Fonts
$ff-roboto: 'Roboto','Roboto-Light','Roboto-Bold';


$font-regular: nth($ff-roboto, 1);
$font-light: nth($ff-roboto, 2);
$font-bold: nth($ff-roboto, 3);
$font-icons: 'formBuilder-icons';

//Fonnt Size
$font-xlg: 20px;
$font-lg: 18px;
$font-md: 16px;
$font-sm: 14px;
$font-xsm: 12px;



//Default
$white: #fff;
$black: #000;
$green-primary: #2da137;
$green-secondary: #196d01;
$green-hover: #3acf47;
$text-primary: #606060;
$text-secondary: #b4b4b4;

//Backgrounds
$bg-main: #1e1e1e;
$bg-element: #f4f4f4;
$bg-dropping-space: #f2f2f2;
$bg-empty-dropping-space: #fff20e;
$bg-popup: #e3e3e3;


//Border
$border: #c3c3c3;
$radius: 5px;



//Icons
$icon-arrow-thin: "\e901";
$icon-arrow-thick: "\e900";
$icon-radio: "\e913";
$icon-radio-fill: "\e914";
$icon-checkbox: "\e902";
$icon-checkbox-fill: "\e903";
$icon-goto: "\e90b";