.fixed__grid-table {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.fixed__grid-table__row {
  display: table-row;
}
.fixed__grid-table__cell {
  display: table-cell;
  border-bottom: 1px solid $default-border-color;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: middle;
  p {
    margin-bottom: 0;
  }
}
.grid__header {
  .fixed__grid-table__cell {
    p {
      font-size: 12px;
    }
  }
}
.fixed__grid-shape__col {
  width: 40px;
  text-align: center;
  padding-left: 2px;
  padding-right: 2px;
  word-break: break-all;
  word-wrap: break-word;
  .icomoon-default {
    color: $default-rating-color;
  }
  .icomoon-sudo {
    display: none;
    color: $sudo-rating-color;
  }
  .fixed__grid-shape {
    font-size: $default-icon-font-size;
  }
  .grid-shape-label {
    cursor: pointer;
    margin: 0;
  }
  @media (min-width: 768px) {
    .grid-text-span {
      display: none;
    }
  }
}
.hide-radio {
  input[type='radio'] {
    display: none;
  }
}
.fixed__grid__selection-continuous {
  .fixed__grid-shape__hover,
  .fixed__grid-shape__selected {
    .fixed__grid-shape {
      &.icomoon-default {
        display: none;
      }
      &.icomoon-sudo {
        display: inline-block;
      }
    }
  }
}

.fixed__grid__selection-single {
  .fixed__grid-shape__selected-current {
    .fixed__grid-shape {
      &.icomoon-default {
        display: none;
      }
      &.icomoon-sudo {
        display: inline-block;
      }
    }
  }
}

@media (max-width: 767px) {
  .fixed__feedback__grid {
    margin-left: -15px;
    margin-right: -15px;

    .form__elem__title,
    .form__elem__help-text,
    .fixed__grid-table__row,
    .form__elem__error-text,
    .ranking__message {
      padding-left: 15px;
      padding-right: 15px;
    }

  }

  .fixed__grid-table,
  .fixed__grid-table__row {
    display: block;
  }

  .fixed__grid-table__row {
    border-bottom: 1px solid $default-border-color;
  }

  .fixed__grid-table__cell {
    display: inline-block;
    border: 0 none;
  }

  .fixed__grid-label-col {
    width: 100%;
  }

  .fixed__grid-shape__col {
    width: 49%;
    display: inline-block;
    text-align: initial;
    overflow: hidden;
    .grid-shape-label {
      white-space: nowrap;
    }

    .grid-shape-span,
    .grid-text-span {
      vertical-align: middle;
      display: inline-block;
    }

  }
  .fixed__grid-tooltip__row {
    display: none;
  }
  .elem_fixed__grid__container {
    .fixed__grid-table__row {
      &:last-of-type {
        border-bottom: 0 none;
      }
    }
    .fixed__grid-content__row {
      &:nth-child(2) {
        .fixed__grid-label-col {
          padding-top: 0;
        }
      }
    }
  }
}



//Settings for 5 shapes scenerio
.shapes__lg {
  .fixed__grid-shape__col {
    @media (min-width: 768px) {
      width: $default-icon-lg + 25px;
    }
    .fixed__grid-shape {
      font-size: $default-icon-lg;
    }
  }
}
