$icon-color: $default-border-color;
$icon-sudo-color: $default-theme;
$tooltip-icon-sudo-color: $sudo-rating-color;

.ranking__list__default {
  table-layout: fixed;
  .ranking__list__item {
    text-align: center;
    padding: 0;
    margin: 0;
    .ranking__list__item__label {
      font-size: 33px;
      color: $icon-color;
      line-height: 1;
      text-align: center;
      padding-top: 6px;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      label {
        cursor: pointer;
      }
      .icomoon-sudo {
        display: none;
      }
    }
  }
}


%rating-comp__selection-type__sudo {
  color: $default-theme;
}

.rating-comp__selection-type__single {
  .rating-comp__selected {
    .ranking__list__item__label {
      @extend %rating-comp__selection-type__sudo;
      .icomoon-sudo {
        display: inline-block;
      }
      .icomoon-default {
        display: none;
      }
    }
  }
}
.rating-comp__selection-type__continuous {
  .rating-comp__selected,
  .rating-comp__hover {
    .ranking__list__item__label {
      @extend %rating-comp__selection-type__sudo;
      .icomoon-sudo {
        display: inline-block;
      }
      .icomoon-default {
        display: none;
      }
    }
  }
}


.ranking__list__default {
  .ranking__list__item {
    .ranking__list__item__label {
      &:hover {
        .ranking__list__item__tooltip {
          @media (min-width: 768px) {
            display: block;
          }
        }
      }
    }
  }
}
.ranking__list__item__tooltip {
  display: none;
  position: absolute;
  top: -30px;
  left: 50%;
  white-space: nowrap;
  transform: translateX(-50%);
  font-size: $default-font-size - 2;
  z-index: 1;
}
.ranking__list__item__tooltip-body {
  position: relative;
  background: $default-theme;
  color: $white;
  padding: 3px 6px 5px 10px;
  border-radius: 2px;
  &:before {
    content: '';
    display: block;
    position: absolute;
    bottom: -8px;
    width: 0;
    height: 0;
    border-style: solid;
  }
  &:before {
    left: 50%;
    margin-left: -7px;
    border-color: $default-theme transparent transparent transparent;
    border-width: 8px 6px 0;
  }
  li {
    margin-left: 0;
    padding: 0;
  }
  .ico{
    &.tooltip__ico-selected {
      color: $sudo-rating-color-old;
    }
  }
}

.ranking__message {
  margin-top: 15px;
  text-align: center;
  .ico {
    &.ranking__message__selected {
      color: $sudo-rating-color-old;
    }
  }
  p {
    margin-bottom: 0;
  }
  span {
    vertical-align: middle;
    margin-left: -3px;
    line-height: 1.4;
  }
  .count__current,
  .count__total {
    margin-left: 0;
    display: inline-block;
    margin-top: -2px;
  }
  @media (max-width: 767px) {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  .ranking__list__default {
    //display: block;
    //text-align: center;
    .ranking__list__item {
      //display: inline-block;
      //width: auto;
      //padding-left: 3px;
      //padding-right: 3px;
      .ranking__list__item__label {
        font-size: 25px;
      }
    }
  }
}