.section-design__sidebar {
  width: 400px;
  border-right: 1px solid $border;
  background: $bg-element;
}
.section-design__sidebar-container {
  min-height: calc(100vh - 132px);
  overflow: auto;
}


.section-design__sidebar-list {

  margin-bottom: 0;

  .list-group-item {
    background: $bg-element;
    padding: 30px 15px;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $border;
    margin-bottom: 0;

    &:first-child {
      border-top: 0 none;
    }

    &:first-child,
    &:last-child {
      border-radius: 0;
    }

    &:hover,
    &.active,
    &.active:hover {
      background: $design-sidebar-item-active;
      font-family: $font-bold;
      border-bottom-color: $border;
      .item-text {
        color: $text-primary;
      }

      &.section-design__sidebar {

        &-general-settings {
          .item-icon .ico {
            color: $design-sidebar-settings-active;
          }
        }

        &-fonts {
          .item-icon .ico {
            color: $design-sidebar-fonts-active;
          }
        }

        &-color {
          .item-icon .ico {
            color: $design-sidebar-color-active;
          }
        }

        &-form-buttons {
          .item-icon .ico {
            color: $design-sidebar-buttons-active;
          }
        }

        &-image {
          .item-icon .ico {
            color: $design-sidebar-image-active;
          }
        }

        &-breadcrumb {
          .item-icon .ico {
            color: $design-sidebar-breadcrumb-active;
          }
        }

      }

    }

    .item-icon {
      color: $design-sidebar-icon-inactive;
    }
    .item-text {
      color: $text-secondary;
      margin-left: 10px;
    }

    .item-icon,
    .item-text {
      display: inline-block;
      vertical-align: middle;
    }


  }

  > .list-group-item {
    + .list-group-item {
      border-top: 1px solid $white;
    }
  }


}



.section-design__content {
  padding: 20px 15px;
}

.tab-header {
  padding-bottom: 22px;
  border-bottom: 1px solid $border;
  margin-bottom: 25px;
  position: relative;
  .tab__header-title {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 5px;
  }

  .tab__header-excerpt {
    color: $text-secondary;
    margin-bottom: 0;
    font-size: $font-sm;
  }

  .btn-right-centered {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -33px;
  }
}


.tab-body__row {
  margin-bottom: 50px;
  .article-item {
    padding-left: 0;
    padding-right: 0;
  }
}

.tab-pane__general-settings,
.tab-pane__fonts,
.tab-pane__colors,
.tab-pane__form-buttons {
  .tab-body__row {
    .article-item {
      &:last-of-type {
        margin-bottom: 0;
        border-bottom: 0 none;
      }
    }
  }
}


.tab-pane__general-settings {
  .tab-body__row {
    .article-item {
      border-bottom: 0 none;
      margin-bottom: 50px;
    }
  }
}

.tab-pane__fonts {
  .tab-body__row {
    .article-item {
      border-bottom: 0 none;
      margin-bottom: 25px;
      padding-bottom: 25px;
      border-bottom: 1px solid $border;
    }
  }
}


.tab-pane__colors,
.tab-pane__form-buttons {
  .form-group-label {
    white-space: nowrap;
    font-size: $font-sm;
  }

  .article-item {
    margin-bottom: 25px;
    padding-bottom: 25px;
  }

  .article-item-title {
    text-decoration: underline;
  }
}


//.button-details-list {
//  > li {
//    position: relative;
//    vertical-align: top;
//  }
//}