{% extends 'template/form-builder/layouts/default.html' %}
{% set page = {title: "Build | Form Builder", class: 'bg-dark', name: 'build'} %}

{% block content %}
<div class="container-fluid">
    <div class="section-table section-build">


        <!-- Sidebar -->
        <div class="section-build__sidebar section-table-cell">

            <!-- Form Components -->
            <div class="draggables-container">
                <ul class="list-unstyled form-components__list list-draggables">
                    <li class="form-component__item form-component__item-short-text">
                        <div class="form-component__item-pill">
                            <p>
                                <span class="ico ico-short-text"></span>
                                <span class="form-component__item-name">Short Text</span>
                            </p>
                            <div class="form-component__item-pill-actions">
                                <ul class="list-inline">
                                    <li><a href="#"><span class="ico ico-plus"></span></a></li>
                                    <li><a href="#"><span class="ico ico-link"></span></a></li>
                                    <li><a href="#"><span class="ico ico-edit"></span></a></li>
                                    <li><a href="#"><span class="ico ico-delete"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="form-component__item form-component__item-long-text">
                        <div class="form-component__item-pill">
                            <p>
                                <span class="ico ico-long-text"></span>
                                <span class="form-component__item-name">Short Text</span>
                            </p>
                            <div class="form-component__item-pill-actions">
                                <ul class="list-inline">
                                    <li><a href="#"><span class="ico ico-plus"></span></a></li>
                                    <li><a href="#"><span class="ico ico-link"></span></a></li>
                                    <li><a href="#"><span class="ico ico-edit"></span></a></li>
                                    <li><a href="#"><span class="ico ico-delete"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="form-component__item form-component__item-multiple-choice">
                        <div class="form-component__item-pill">
                            <p>
                                <span class="ico ico-multiple-choice"></span>
                                <span class="form-component__item-name">Multiple Choice</span>
                            </p>
                            <div class="form-component__item-pill-actions">
                                <ul class="list-inline">
                                    <li><a href="#"><span class="ico ico-plus"></span></a></li>
                                    <li><a href="#"><span class="ico ico-link"></span></a></li>
                                    <li><a href="#"><span class="ico ico-edit"></span></a></li>
                                    <li><a href="#"><span class="ico ico-delete"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="form-component__item form-component__item-dropdown">
                        <div class="form-component__item-pill">
                            <p>
                                <span class="ico ico-dropdown"></span>
                                <span class="form-component__item-name">Dropdown</span>
                            </p>
                            <div class="form-component__item-pill-actions">
                                <ul class="list-inline">
                                    <li><a href="#"><span class="ico ico-plus"></span></a></li>
                                    <li><a href="#"><span class="ico ico-link"></span></a></li>
                                    <li><a href="#"><span class="ico ico-edit"></span></a></li>
                                    <li><a href="#"><span class="ico ico-delete"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="form-component__item form-component__item-ranking-scale">
                        <div class="form-component__item-pill">
                            <p>
                                <span class="ico ico-ranking-scale"></span>
                                <span class="form-component__item-name">Rating</span>
                            </p>
                            <div class="form-component__item-pill-actions">
                                <ul class="list-inline">
                                    <li><a href="#"><span class="ico ico-plus"></span></a></li>
                                    <li><a href="#"><span class="ico ico-link"></span></a></li>
                                    <li><a href="#"><span class="ico ico-edit"></span></a></li>
                                    <li><a href="#"><span class="ico ico-delete"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="form-component__item form-component__item-pros-cons">
                        <div class="form-component__item-pill">
                            <p>
                                <span class="ico ico-pros-cons"></span>
                                <span class="form-component__item-name">Pros & Cons</span>
                            </p>
                            <div class="form-component__item-pill-actions">
                                <ul class="list-inline">
                                    <li><a href="#"><span class="ico ico-plus"></span></a></li>
                                    <li><a href="#"><span class="ico ico-link"></span></a></li>
                                    <li><a href="#"><span class="ico ico-edit"></span></a></li>
                                    <li><a href="#"><span class="ico ico-delete"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="form-component__item form-component__item-upload">
                        <div class="form-component__item-pill">
                            <p>
                                <span class="ico ico-upload"></span>
                                <span class="form-component__item-name">Upload</span>
                            </p>
                            <div class="form-component__item-pill-actions">
                                <ul class="list-inline">
                                    <li><a href="#"><span class="ico ico-plus"></span></a></li>
                                    <li><a href="#"><span class="ico ico-link"></span></a></li>
                                    <li><a href="#"><span class="ico ico-edit"></span></a></li>
                                    <li><a href="#"><span class="ico ico-delete"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="form-component__item form-component__item-constant-sum">
                        <div class="form-component__item-pill">
                            <p>
                                <span class="ico ico-constant-sum"></span>
                                <span class="form-component__item-name">Constant Sum</span>
                            </p>
                            <div class="form-component__item-pill-actions">
                                <ul class="list-inline">
                                    <li><a href="#"><span class="ico ico-plus"></span></a></li>
                                    <li><a href="#"><span class="ico ico-link"></span></a></li>
                                    <li><a href="#"><span class="ico ico-edit"></span></a></li>
                                    <li><a href="#"><span class="ico ico-delete"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="form-component__item form-component__item-date">
                        <div class="form-component__item-pill">
                            <p>
                                <span class="ico ico-date"></span>
                                <span class="form-component__item-name">Date</span>
                            </p>
                            <div class="form-component__item-pill-actions">
                                <ul class="list-inline">
                                    <li><a href="#"><span class="ico ico-plus"></span></a></li>
                                    <li><a href="#"><span class="ico ico-link"></span></a></li>
                                    <li><a href="#"><span class="ico ico-edit"></span></a></li>
                                    <li><a href="#"><span class="ico ico-delete"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="form-component__item form-component__item-text">
                        <div class="form-component__item-pill">
                            <p>
                                <span class="ico ico-text"></span>
                                <span class="form-component__item-name">Free Text</span>
                            </p>
                            <div class="form-component__item-pill-actions">
                                <ul class="list-inline">
                                    <li><a href="#"><span class="ico ico-plus"></span></a></li>
                                    <li><a href="#"><span class="ico ico-link"></span></a></li>
                                    <li><a href="#"><span class="ico ico-edit"></span></a></li>
                                    <li><a href="#"><span class="ico ico-delete"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- /.Form Components -->

            <!-- Thank you Component -->
            <div class="form-component__standout-group-item">
                <div class="standout-group-item thankyou__group-item">
                    <p class="standout-group-btn">Thank you</p>
                    <a href="#" class="standout-group-addon"><span class="ico ico-edit"></span></a>
                    <a href="#" class="standout-group-addon"><span class="ico ico-eye"></span></a>
                </div>
            </div>
            <!-- Thank you Component -->

        </div>
        <!-- /.Sidebar -->



        <!-- Content Area -->
        <div class="section-build__content section-table-cell">

            <!-- Build Actions -->
            <div class="section-build__content__actions-container">
                <div class="row">
                    <div class="section-build__content__actions-left col-xs-6">
                        <div class="section-build__content__sync-action">
                            <select class="selectpicker">
                                <option>Sync Research</option>
                                <option>Sync Marked Research</option>
                            </select>
                        </div>
                    </div>
                    <div class="section-build__content__actions-left col-xs-6 text-right">
                        <button class="btn btn-fill">Save</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- /.Build Actions -->

            <!-- Form Components -->
            <div class="sortables-container">
                <ul class="list-unstyled form-components__list list-sortables">
                    <li class="form-component__item form-component__item-ranking-scale">
                        <div class="form-component__item-pill">
                            <p>
                                <span class="ico ico-ranking-scale"></span>
                                <span class="form-component__item-name">Rating</span>
                            </p>
                            <div class="form-component__item-pill-actions">
                                <ul class="list-inline">
                                    <li><a href="#"><span class="ico ico-plus"></span></a></li>
                                    <li><a href="#"><span class="ico ico-link"></span></a></li>
                                    <li><a href="#"><span class="ico ico-edit"></span></a></li>
                                    <li><a href="#"><span class="ico ico-delete"></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <ul class="list-unstyled form-components__list list-sub-components">
                            <li class="form-component__item form-component__item-ranking-scale">
                                <div class="form-component__item-pill">
                                    <p>
                                        <span class="ico ico-ranking-scale"></span>
                                        <span class="form-component__item-name">Rating</span>
                                    </p>
                                    <div class="form-component__item-pill-actions">
                                        <ul class="list-inline">
                                            <li><a href="#"><span class="ico ico-plus"></span></a></li>
                                            <li><a href="#"><span class="ico ico-link"></span></a></li>
                                            <li><a href="#"><span class="ico ico-edit"></span></a></li>
                                            <li><a href="#"><span class="ico ico-delete"></span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="form-component__item form-component__item-short-text">
                        <div class="form-component__item-pill">
                            <p>
                                <span class="ico ico-short-text"></span>
                                <span class="form-component__item-name">Short Text</span>
                            </p>
                            <div class="form-component__item-pill-actions">
                                <ul class="list-inline">
                                    <li><a href="#"><span class="ico ico-plus"></span></a></li>
                                    <li><a href="#"><span class="ico ico-link"></span></a></li>
                                    <li><a href="#"><span class="ico ico-edit"></span></a></li>
                                    <li><a href="#"><span class="ico ico-delete"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="form-component__item form-component__item-long-text">
                        <div class="form-component__item-pill">
                            <p>
                                <span class="ico ico-long-text"></span>
                                <span class="form-component__item-name">Short Text</span>
                            </p>
                            <div class="form-component__item-pill-actions">
                                <ul class="list-inline">
                                    <li><a href="#"><span class="ico ico-plus"></span></a></li>
                                    <li><a href="#"><span class="ico ico-link"></span></a></li>
                                    <li><a href="#"><span class="ico ico-edit"></span></a></li>
                                    <li><a href="#"><span class="ico ico-delete"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="form-component__item form-component__item-multiple-choice">
                        <div class="form-component__item-pill">
                            <p>
                                <span class="ico ico-multiple-choice"></span>
                                <span class="form-component__item-name">Multiple Choice</span>
                            </p>
                            <div class="form-component__item-pill-actions">
                                <ul class="list-inline">
                                    <li><a href="#"><span class="ico ico-plus"></span></a></li>
                                    <li><a href="#"><span class="ico ico-link"></span></a></li>
                                    <li><a href="#"><span class="ico ico-edit"></span></a></li>
                                    <li><a href="#"><span class="ico ico-delete"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- /.Form Components -->

            <!-- Conditional Questions Drop able -->
            <div class="sortables-container">
                <ul class="list-unstyled form-components__list list-sortables">
                    <li class="form-component__item form-component__item-placeholder">
                        <div class="form-component__item-pill">
                            <p>Drag & Drop Conditional Questions Here</p>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- Conditional Questions Drop able -->


        </div>
        <!-- /.Content Area -->
    </div>
</div>
{% endblock %}