{% extends 'template/form-builder/layouts/default.html' %}
{% set page = {title: "Configure | Form Builder", class: 'bg-white', name: 'configure'} %}

{% block content %}
<div class="container-fluid noPadding">
    <div class="section-table section-build">


        <!-- Sidebar -->
        <div class="section-table-cell__sidebar section-table-cell section-configure__sidebar">
            <div class="section-table-cell__sidebar-container section-configure__sidebar-container">
                <div class="section-table-cell__sidebar-list section-configure__sidebar-list list-group">
                    <a href="#configure-general-settings" class="section-configure__sidebar-general-settings list-group-item" aria-controls="configure__general-settings" role="tab" data-toggle="tab">
                        <span class="item-icon"><i class="ico ico-settings"></i></span>
                        <span class="item-text">General Settings</span>
                    </a>
                    <a href="#configure-language" class="section-configure__sidebar-language list-group-item" aria-controls="configure-language" role="tab" data-toggle="tab">
                        <span class="item-icon"><i class="ico ico-font"></i></span>
                        <span class="item-text">Language</span>
                    </a>
                    <a href="#configure-callback" class="section-configure__sidebar-callback list-group-item active" aria-controls="configure-callback" role="tab" data-toggle="tab">
                        <span class="item-icon"><i class="ico ico-callback"></i></span>
                        <span class="item-text">Conditional Callback</span>
                    </a>
                </div>
            </div>
        </div>
        <!-- /.Sidebar -->



        <!-- Content Area -->
        <div class="section-table-cell__content section-table-cell section-configure__content">
            <div class="section-configure__tabs-container section-table-cell__tabs-container">
                <div class="tab-content">
                    {% include 'template/form-builder/partials/configure/tab-general-settings.html' %}
                    {% include 'template/form-builder/partials/configure/tab-language.html' %}
                    {% include 'template/form-builder/partials/configure/tab-callback.html' %}
                </div>
            </div>
        </div>
        <!-- /.Content Area -->
    </div>
</div>
{% endblock %}