{% extends 'template/form-builder/layouts/default.html' %}
{% set page = {title: "Design | Form Builder", class: 'bg-white', name: 'design'} %}

{% block content %}
<div class="container-fluid noPadding">
    <div class="section-table section-build">


        <!-- Sidebar -->
        <div class="section-table-cell__sidebar section-table-cell section-design__sidebar">
            <div class="section-table-cell__sidebar-container section-design__sidebar-container">
                <div class="section-table-cell__sidebar-list section-design__sidebar-list list-group" role="tablist">
                    <a href="#design-layout" class="section-design__sidebar-layout list-group-item active" aria-controls="design-layout" role="tab" data-toggle="tab">
                        <span class="item-icon"><i class="ico ico-layout"></i></span>
                        <span class="item-text">Layout</span>
                    </a>
                    <a href="#design-fonts" class="section-design__sidebar-fonts list-group-item" aria-controls="design-fonts" role="tab" data-toggle="tab">
                        <span class="item-icon"><i class="ico ico-font"></i></span>
                        <span class="item-text">Fonts</span>
                    </a>
                    <a href="#design-color" class="section-design__sidebar-color list-group-item" aria-controls="design-color" role="tab" data-toggle="tab">
                        <span class="item-icon"><i class="ico ico-color-picker"></i></span>
                        <span class="item-text">Color</span>
                    </a>
                    <a href="#design-buttons" class="section-design__sidebar-buttons list-group-item" aria-controls="design-buttons" role="tab" data-toggle="tab">
                        <span class="item-icon"><i class="ico ico-buttons"></i></span>
                        <span class="item-text">Buttons</span>
                    </a>
                    <a href="#design-image" class="section-design__sidebar-image list-group-item" aria-controls="design-image" role="tab" data-toggle="tab">
                        <span class="item-icon"><i class="ico ico-image"></i></span>
                        <span class="item-text">Image</span>
                    </a>
                    <a href="#design-breadcrumb" class="section-design__sidebar-breadcrumb list-group-item" aria-controls="design-breadcrumb" role="tab" data-toggle="tab">
                        <span class="item-icon"><i class="ico ico-breadcrumb"></i></span>
                        <span class="item-text">Breadcrumb</span>
                    </a>
                </div>
            </div>
        </div>
        <!-- /.Sidebar -->



        <!-- Content Area -->
        <div class="section-table-cell__content section-table-cell section-design__content">
            <div class="section-design__tabs-container section-table-cell__tabs-container">
                <div class="tab-content">
                    {% include 'template/form-builder/partials/design/tab-layout.html' %}
                    {% include 'template/form-builder/partials/design/tab-fonts.html' %}
                    {% include 'template/form-builder/partials/design/tab-color.html' %}
                    {% include 'template/form-builder/partials/design/tab-buttons.html' %}
                    {% include 'template/form-builder/partials/design/tab-image.html' %}
                    {% include 'template/form-builder/partials/design/tab-breadcrumb.html' %}
                </div>
            </div>
        </div>
        <!-- /.Content Area -->
    </div>
</div>
{% endblock %}