{% extends 'template/form-builder/layouts/default.html' %}
{% set page = {title: "Content | Form Builder", class: 'bg-white', name: 'content'} %}

{% block content %}
<div class="container-fluid noPadding">
    <div class="section-table section-build">


        <!-- Sidebar -->
        <div class="section-table-cell__sidebar section-table-cell section-content__sidebar">
            <div class="section-table-cell__sidebar-container section-content__sidebar-container">
                <div class="section-table-cell__sidebar-list section-content__sidebar-list list-group">
                    <a href="#content-general-settings" class="section-content__sidebar-general-settings list-group-item" aria-controls="content__general-settings" role="tab" data-toggle="tab">
                        <span class="item-icon"><i class="ico ico-settings"></i></span>
                        <span class="item-text">General Settings</span>
                    </a>
                    <a href="#content-header" class="section-content__sidebar-header list-group-item" aria-controls="content-header" role="tab" data-toggle="tab">
                        <span class="item-icon"><i class="ico ico-header"></i></span>
                        <span class="item-text">Header</span>
                    </a>
                    <a href="#content-footer" class="section-content__sidebar-footer list-group-item" aria-controls="content-footer" role="tab" data-toggle="tab">
                        <span class="item-icon"><i class="ico ico-footer"></i></span>
                        <span class="item-text">Footer</span>
                    </a>
                </div>
            </div>
        </div>
        <!-- /.Sidebar -->



        <!-- Content Area -->
        <div class="section-table-cell__content section-table-cell section-content__content">
            <div class="section-content__tabs-container section-table-cell__tabs-container">
                <div class="tab-content">
                    {% include 'template/form-builder/partials/content/tab-general-settings.html' %}
                    {% include 'template/form-builder/partials/content/tab-header.html' %}
                    {% include 'template/form-builder/partials/content/tab-footer.html' %}
                </div>
            </div>
        </div>
        <!-- /.Content Area -->
    </div>
</div>
{% endblock %}