{% extends 'template/form-builder/layouts/default.html' %}
{% set page = {title: "Design | Form Builder", class: 'bg-dark', name: 'build'} %}

{% block content %}
<div class="container-fluid">
    <div class="section-table section-build">
        <div class="section-build__sidebar section-table-cell">
            <ul class="list-unstyled draggable__list">
                <li class="draggable__item draggable__item-short-text">
                    <div class="draggable__item-pill">
                        <p>
                            <span class="ico ico-short-text"></span>
                            <span class="draggable__item-name">Short Text</span>
                        </p>
                    </div>
                </li>
                <li class="draggable__item draggable__item-long-text">
                    <div class="draggable__item-pill">
                        <p>
                            <span class="ico ico-long-text"></span>
                            <span class="draggable__item-name">Short Text</span>
                        </p>
                    </div>
                </li>
                <li class="draggable__item draggable__item-multiple-choice">
                    <div class="draggable__item-pill">
                        <p>
                            <span class="ico ico-multiple-choice"></span>
                            <span class="draggable__item-name">Multiple Choice</span>
                        </p>
                    </div>
                </li>
                <li class="draggable__item draggable__item-dropdown">
                    <div class="draggable__item-pill">
                        <p>
                            <span class="ico ico-dropdown"></span>
                            <span class="draggable__item-name">Dropdown</span>
                        </p>
                    </div>
                </li>
                <li class="draggable__item draggable__item-ranking-scale">
                    <div class="draggable__item-pill">
                        <p>
                            <span class="ico ico-ranking-scale"></span>
                            <span class="draggable__item-name">Rating</span>
                        </p>
                    </div>
                </li>
                <li class="draggable__item draggable__item-pros-cons">
                    <div class="draggable__item-pill">
                        <p>
                            <span class="ico ico-pros-cons"></span>
                            <span class="draggable__item-name">Pros & Cons</span>
                        </p>
                    </div>
                </li>
                <li class="draggable__item draggable__item-upload">
                    <div class="draggable__item-pill">
                        <p>
                            <span class="ico ico-upload"></span>
                            <span class="draggable__item-name">Upload</span>
                        </p>
                    </div>
                </li>
                <li class="draggable__item draggable__item-constant-sum">
                    <div class="draggable__item-pill">
                        <p>
                            <span class="ico ico-constant-sum"></span>
                            <span class="draggable__item-name">Constant Sum</span>
                        </p>
                    </div>
                </li>
                <li class="draggable__item draggable__item-date">
                    <div class="draggable__item-pill">
                        <p>
                            <span class="ico ico-date"></span>
                            <span class="draggable__item-name">Date</span>
                        </p>
                    </div>
                </li>
                <li class="draggable__item draggable__item-text">
                    <div class="draggable__item-pill">
                        <p>
                            <span class="ico ico-text"></span>
                            <span class="draggable__item-name">Free Text</span>
                        </p>
                    </div>
                </li>
            </ul>

            <div class="drggable__standout-group-item">
                <div class="standout-group-item thankyou__group-item">
                    <p class="standout-group-btn">Thank you</p>
                    <a href="#" class="standout-group-addon"><span class="ico ico-edit"></span></a>
                    <a href="#" class="standout-group-addon"><span class="ico ico-eye"></span></a>
                </div>
            </div>
        </div>
        <div class="section-build__content section-table-cell"></div>
    </div>
</div>
{% endblock %}