{% extends 'template/layouts/form-builder-pr.html' %}

{% block content %}

<div class="container">

    <div class="modal fade in modal__pr" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Form Settings</h4>
                </div>
                <div class="modal-body">
                    {% include 'template/form-builder-pr/short-text.html' %}
                    {% include 'template/form-builder-pr/long-text.html' %}
                    {% include 'template/form-builder-pr/dropdown.html' %}
                    {% include 'template/form-builder-pr/multiple-choice.html' %}
                    {% include 'template/form-builder-pr/yes-no.html' %}
                    {% include 'template/form-builder-pr/legal-text.html' %}
                    {% include 'template/form-builder-pr/ranking-scale.html' %}
                    {% include 'template/form-builder-pr/pros-cons.html' %}
                    {% include 'template/form-builder-pr/picture.html' %}
                    {% include 'template/form-builder-pr/free-text.html' %}
                    {% include 'template/form-builder-pr/constant-sum.html' %}
                    {% include 'template/form-builder-pr/datepicker.html' %}
                    {% include 'template/form-builder-pr/form-settings.html' %}
                    {# {% include 'template/form-builder-pr/style-guide.html' %} #}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn__pr">Save</button>
                    <button type="button" class="btn btn-default btn__pr" data-dismiss="modal">Cancel</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>

{% endblock %}
