{% extends 'template/layouts/form-builder-pr.html' %}

{% block content %}

<div class="container">
    {% include 'template/form-builder-pr/datepicker.html' %}
    {# {% include 'template/form-builder-pr/constant-sum.html' %} #}
    {# {% include 'template/form-builder-pr/picture.html' %} #}
    {# {% include 'template/form-builder-pr/pros-cons.html' %} #}
    {# {% include 'template/form-builder-pr/legal-text.html' %} #}
    {# {% include 'template/form-builder-pr/yes-no.html' %} #}
    {# {% include 'template/form-builder-pr/multiple-choice.html' %} #}
    {# {% include 'template/form-builder-pr/dropdown.html' %} #}
    {# {% include 'template/form-builder-pr/long-text.html' %} #}
    {# {% include 'template/form-builder-pr/short-text.html' %} #}
    {# {% include 'template/form-builder-pr/ranking-scale.html' %} #}
    {# {% include 'template/form-builder-pr/form-settings.html' %} #}
    {# {% include 'template/form-builder-pr/style-guide.html' %} #}
</div>

{% endblock %}
