{% extends 'template/layouts/site-maintenance.html' %}
{% set pageTitle = "Smart Form" %}

{% block content %}
<div class="temp__site-maintenance__logo">
    <img src="images/powered-by-white.png" alt="Image not found" class="img-responsive">
</div>
<div class="temp__site-maintenance">
    <div class="temp__site-maintenance__wrapper">
        <div class="temp__site-maintenance__cover">
            <div class="temp__site-maintenance__content">
                <div class="temp__site-maintenance__ico-container">
                    <i class="fa fa-cogs temp__site-maintenance__ico"></i>
                </div>
                <div class="temp__site-maintenance__content-body">
                    <h1 class="temp__site-maintenance__main-liner">Sorry we are down for maintenance.</h1>
                    <h3 class="temp__site-maintenance__sub-liner">We will be back shortly.</h3>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}