<!doctype html>
<html lang="en">
{% include 'template/form-builder/includes/head.html' %}
<body class="{{page.class}}">

{% include 'template/form-builder/includes/header.html' %}
{% include 'template/form-builder/includes/navbar.html' %}

{% block content %}{% endblock %}


{# {% include 'template/form-builder/modals/modal-base.html' %} #}
{% include 'template/form-builder/modals/modal-short-text.html' %}
{% include 'template/form-builder/modals/modal-long-text.html' %}
{% include 'template/form-builder/modals/modal-dropdown.html' %}
{% include 'template/form-builder/modals/modal-multiple-choice.html' %}
{% include 'template/form-builder/modals/modal-yes-no.html' %}
{% include 'template/form-builder/modals/modal-legal-text.html' %}
{% include 'template/form-builder/modals/modal-ranking-scale.html' %}
{% include 'template/form-builder/modals/modal-pros-cons.html' %}
{% include 'template/form-builder/modals/modal-picture.html' %}
{% include 'template/form-builder/modals/modal-free-text.html' %}
{% include 'template/form-builder/modals/modal-constant-sum.html' %}
{% include 'template/form-builder/modals/modal-thank-you.html' %}

{% include 'template/form-builder/includes/javascripts.html' %}

</body>
</html>