<!doctype html>
<html lang="en">
{% include 'template/includes/head.html' %}
<body>
{% set icon = {continuous: 'ico-star', matrix: 'ico-smile'} %}
{% include 'template/includes/alert.html' %}

<div class="sff-form__body sff-form__shadow">
    <p class="close__form">×</p>
    {% include 'template/includes/languages.html' %}

    {% include 'template/includes/custom-header-lieferheld.html' %}

    {% include 'template/includes/banner.html' %}

    {#
    This component is commented. It shows the state when backgroundColor color is set to true.
    {% set backgroundColor= 'true' %}
    {% include 'template/includes/banner.html' %}
    #}

    {% include 'template/includes/breadcrumb-progressbar.html' %}
    {% include 'template/includes/breadcrumb.html' %}

    {% block content %}{% endblock %}


    {% include 'template/includes/footer-custom-bankingCheck.html' %}
    {% set footerBg = 'active'%}
    {% include 'template/includes/footer.html' %}
    {% set footerBg = 'false'%}
    {% include 'template/includes/footer.html' %}

    {% include 'template/includes/footer-custom.html' %}
</div>

{% include 'template/includes/javascripts.html' %}
</body>
</html>