<!--Navbar-->
<div class="container-fluid">
    <div class="row">
        <div class="navbar-container">
            <div class="col-xs-3">
                <div class="navigate__back">
                    <a href="#" class="back-link">Back to listing</a>
                </div>
            </div>
            <div class="col-xs-6 navigation-center">
                <ul class="nav nav-pills main-nav">
                    <li role="presentation"><a href="#">Build</a></li>
                    <li role="presentation"><a href="#">Design</a></li>
                    <li role="presentation"><a href="#">Configure</a></li>
                </ul>
            </div>
            <div class="col-xs-3">
                <div class="navigate__to-form text-right">
                    <a href="#" class="view-form-link">View this Form</a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>